[2020-01-06 14:51] urskaufmann commented on #521
![error with vw_ca_connections](https://user-images.githubusercontent.com/1257403/71825285-d2a03400-309b-11ea-9ea2-32d93349b5a0.PNG)

The warning message 15:38:09 is when I load the vw_catchment_area_connenction layer in the project.
Strange: I can now add new records. The behaviour is not the same as three days before.

[2020-01-06 14:55] #423 closed

[2020-01-06 15:35] m-kuhn commented on #537
@lbartoletti will that help to digitize on an existing wastewater structure?

[2020-01-06 15:53] lbartoletti commented on #537
@m-kuhn it will simplify my previous code. With QGIS 3.12 the action will be like the addPart action something like:

[code]

[2020-01-06 20:33] Saijin-Naib opened #545 "GPKG Support?"
Is the data model potentially compatible with GPKG files for installations where a self/hosted PostGIS database isn't feasible?

[2020-01-07 06:32] m-kuhn commented on #545
The implementation relies heavily on database logic (see https://github.com/QGEP/datamodel).

What we can propose

- is a hosting service for you, contact us if you are interested
- While untested and not officially supported, [pglite](https://github.com/Oslandia/pglite) should be an option

[2020-01-07 20:48] Saijin-Naib commented on #545
I took a quick look at the datamodel, and it is incredibly complex. I was hopeful that GPKG/Sqlite3 would have been mostly compatible, but I don't know enough about either SQL3 nor PostGIS to determine.

Hosting would require funding, so likely a non-starter.

pglite seems quite interesting. I'll look into that more.

[2020-01-07 21:10] haubourg commented on #545
Indeed, most applications based on QGIS and a robust database take benefit of the so called "thick database" approach - which was named so by Oracle :smile:  - and are difficult to port from one database to another one.  We have some project where we did some thick database approach using sqlite and spatialite. It works, but it reveals 3 to 4 times harder and longer to code.

But in fact, putting

[2020-01-14 21:25] urskaufmann commented on #544
@sjib  I think there is now context with the new implementation. Works well in my project.

[2020-01-14 21:29] urskaufmann commented on #544
Can not reproduce the crash in an other project with new setup for the catchment_area- and individual_surface-layer (but same database).  While I still have the crash in the old project. No idea why - but it seems not to be a problem of the database or the view

[2020-01-15 20:25] urskaufmann commented on #544
I found the "problem": I have checked in layer catchment_area/properties/digitizing/topology checks the option "overlap" (because catchment areas should not overlap). The effect is the crash described above. If I uncheck the "overlap"-option, there is no crash.

[2020-02-04 12:57] urskaufmann opened #546 "QGIS3.10-Freeze when digitizing reach with wizard"
QGIS 3.10.x freeze after the first click with wizard - start data entry - reach. You can still move the (cross)cursor , and close the QGIS window.
No problem with wastewater structure or catchment area or when digitizing without wizard.
No problem with QGIS 3.4.x.
I tried also with new profile - but does not help.

[2020-02-04 13:09] sjib commented on #546
![qgis_freeze3 10_koni](https://user-images.githubusercontent.com/1265865/73747583-008a9e00-4758-11ea-98f9-38958d194922.png)

[2020-02-06 09:11] kandre commented on #546
I confirm I get the same error on QGIS 3.10.x with datamodel 1.4.

[2020-02-12 13:59] lbartoletti opened #547 "[audit] Replay event doesn't work"
Using https://github.com/VilleDePully/qgep_sigip/blob/master/migration/audit.sql

The replay function doesn't work

![image](https://user-images.githubusercontent.com/7521540/74341576-3fe46a80-4da8-11ea-9920-7937721b7ed8.png)

cc @ponceta @obrix

[2020-02-12 16:01] urskaufmann commented on #464
Great - solves the first part of the issue.
Problem with the negative gradient still remains

[2020-02-12 16:24] olivierdalang commented on #464
Yes looking into that now, sorry initially I thought it was the same issue.

[2020-02-12 18:04] olivierdalang commented on #464
@urskaufmann I pushed another commit that should fix the second part of the issue

[2020-02-12 20:53] urskaufmann commented on #464
Is fixed, thanks. But there are two other strange behaviours:
![capture_001_12022020_212936](https://user-images.githubusercontent.com/1257403/74375395-848bf800-4de0-11ea-9038-d542978f68dd.png)
On the left side (beginning of the profile) there is the manhole drawn till entry level=0.
If I zoom out, so I have to choose the beginning-node from the mouse-dropdownmenu, there is an entry level and the

[2020-02-13 11:50] olivierdalang commented on #464
I couldn't reproduce the exact same behaviour, but found a bug with the drop down menu, which should be fixed now. Can you try again and see if this fixes the two behaviours you're mentioning ? (by the way, dropdown options should now be sorted)

[2020-02-13 15:28] urskaufmann commented on #464
The problem with the endpoint (missing green groundline) is solved. I can not reproduce this.

At the startpoint is now always the entry level = 0 and the line goes down till 0. Does not matter how I choose the startpoint.

Other great effect from this dropdown-fix: issue 460 is fixed with this also!!

[2020-02-13 15:34] olivierdalang commented on #129
From what I understood, I think the issue is gone, at least here snapping seems to work well with correct visual feedback incl. with newly digitized features in the views.

The only thing I see is strange default snapping options in the provided qgis project (it snaps to vw_individual_surface and catchment_area, while I guess we want to snap to vw_qgep_wastewater_structure).

[2020-02-13 15:47] urskaufmann commented on #129
This should not be a default snapping option. When I added the individual surface and catchment area to the demo project, I did test with this snapping options.
For the plugin-tools (wizard, network-following etc) is the snapping defined with the tools. Because you digitize catchment areas/individual surface with qgis-tools you have to define the wanted snapping options yourself.

[2020-02-13 16:18] m-kuhn commented on #129
Thanks everyone, let's close this issue in this case.

[2020-02-13 16:18] #129 closed

[2020-02-19 10:29] olivierdalang commented on #464
@urskaufmann I can't reproduce this last issue. Is it possible the issues comes from the data rather than from the profile tool itself (with values of 0 or null) ?

If it comes from null values, is this something that we want managed in the profile tool (e.g. somehow show the value is unknown, using for instances dashed lines and interpolation as best guess) ?

If it does not come from the data, a

[2020-02-19 16:51] obrix commented on #547
After an investigation it seems the last parameter uid_cols value " '{id}'::text[]" of qgep_sys.audit_view function call in audit.sql is wrong.

As the documentation says :

   target_view:      TABLE name, schema qualified IF NOT ON search_path
   audit_query_text: Record the text of the client query that triggered the audit event?
   ignored_cols:     COLUMNS TO exclude FROM UPDATE diffs, IGNORE

[2020-02-19 18:31] olivierdalang commented on #546
Here's a fix : https://github.com/QGEP/qgepplugin/pull/47

@urskaufmann or @kandre are you able to test it and confirm it's working ?

[2020-02-19 21:00] urskaufmann commented on #464
I have in my data a lot of wastewater nodes with bottomlevel = NULL or 0.  But when I wrote this issue one year ago, I have never seen a manhole till 0.00.
With demo data it is really difficult to find examples.
I have a strange example with manhole 4910: if the length profile is from 4910.0010 to 4910, then there is the manhole drawn to 0.00, when the length profile start with 4910 or goes from 4

[2020-02-20 05:21] lbartoletti commented on #547
Ah ah. Good catch! Confirmed. It works.

@ponceta can you confirm too and take screenshot for the documentation (to have same UI), please?

[2020-02-20 07:23] urskaufmann commented on #546
Yes it works. I can digitize reaches again.

[2020-02-20 09:21] TriformDaniel opened #548 "Create empty database structure from pgAdmin (or another easy way)"
At the moment, it's complicated to set up a new empty database (structure with value lists).

The sql version we have at the moment only works from the command line (psql). (See [this workaround from the documentation](https://qgep.github.io/docs/installation-guide/database-initialization.html#empty-data-model) )

It would be nice to have an easier possibility to setup a new database.

Possibly by

[2020-02-20 10:02] kandre commented on #546
@olivierdalang tested, it works again with this workaround, thanks.

[2020-02-20 14:45] olivierdalang commented on #464
I think it it because the reach between 4910.0010 and 4910 has 0 as `to_level`. It seems the profile "corrects" the reach in such cases by using the `from_level` instead of 0 (hence showing an horizontal reach). The manhole doesn't do that correction, hence going to 0.
Also the manhole is drawn using the reach levels, instead of the bottom_level, so that the issue doesn't appear when doing the pro

[2020-02-20 22:27] urskaufmann commented on #464
Sorry, I did not zoom in to controle the levels, but it is a good example anyway.
The length profile should not show nice pictures, but it should help to find mistakes in the data. Therefore it should only show data as is. Level=NULL or Level = 0 are missing values. Missing values should not be extrapolated or calculated. Example:
![case2](https://user-images.githubusercontent.com/1257403/74985755

[2020-02-20 22:40] urskaufmann commented on #464
![case1](https://user-images.githubusercontent.com/1257403/74986769-04960b80-543a-11ea-8617-968cb848cb18.png)

2nd example: its the same length profile I posted on 21.1.2019 with the wrong negative gradient (which is correct now). Look at the values of the start manhole:
Bottom level: undefined. Correct, in the data is wastewaternode bottom level = NULL.
Entry Level : 0m. Not correct. There are tw

[2020-02-21 07:32] urskaufmann opened #549 "Markerline and QGIS 3.10.2"
I have defined in the demo project the symbol of Layer vw_network_segment als markerline with marker placement on central point. Is useful to control the correct line direction.
With QGIS 3.10.2, if I turn on vw_network_segment as visible, QGIS shows this waiting bar and then there is no more work possible (qgis reagiert nicht).
![problem](https://user-images.githubusercontent.com/1257403/75013482

[2020-02-21 11:45] #460 closed

[2020-02-21 11:46] m-kuhn commented on #464
It is only partially fixed.
Let's have a look at the remaining issues on March 6.

[2020-02-21 11:48] m-kuhn commented on #549
This could very well be fixed by https://github.com/qgis/QGIS/pull/34407
Could you try again with the next QGIS 3.10.3 release (to be released this weekend) and confirm if the issue still persists?

[2020-02-21 12:22] ponceta commented on #22
pg history viewer is now the history tool for database.

I'll make a small demo on next codesprint if possible (gentle ping @sjib )

[2020-02-21 12:22] #22 closed

[2020-02-21 12:48] ponceta commented on #548
This assess that for the moment, only a Linux service can properly initiate a qgep database.

[2020-02-21 13:24] urskaufmann commented on #549
I will test after holidays next week (-> 2. March)

[2020-02-21 13:57] ponceta commented on #547
Screenshots are available here.

Thanks for the catch!

[2020-02-24 08:20] #546 closed

[2020-02-24 11:47] m-kuhn commented on #548
I would propose to write a new `qgep_admin` plugin

This should be able to

- create new databases as described in here, including helping to grant proper access rights to groups
- doing basic pum intervention (this part should be *shipped* in this plugin but be *implemented* in a standalone module also used by qwat etc.)
- there's sure more admin jobs that come in the future ;)

[2020-02-24 11:52] m-kuhn commented on #545
Add to the "real solution":

- file based (GeoPackage) checkouts of snapshots for particular use cases and synchronisation with the main database. In the short- to mid-term future we will have to work with data on sites without network coverage and without the need for the full dataset to be available for very specific use cases.

[2020-02-24 11:56] m-kuhn commented on #545
I will close this issue as I don't think there is something we can do to "fix" it (generic GPKG support is not planned by anyone at the moment).

I'd prefer to open new issues for specific use cases (e.g. we need a new checkout interface for pipe cleaning with the following requirements: 1., 2., 3. ...)

[2020-02-24 11:56] #545 closed

[2020-02-25 15:50] m-kuhn commented on #524
Should we leave `_label` in the database or remove it, now that we have the parts in the database?
Should we declare it deprecated (meaning, it's there but not recommended and we will remove it in the future)?

[2020-02-26 09:46] olivierdalang commented on #524
@urskaufmann @ponceta Are you able to test and review the proposed fix for this ?

Delta for the schema : [delta_1.5.0_labelling.sql](https://raw.githubusercontent.com/olivierdalang/datamodel/524_labelling/delta/delta_1.5.0_labelling.sql)
Updated QGIS project : [qgis.qgep](https://github.com/olivierdalang/QGEP/raw/524_labelling/project/qgep.qgs)

[2020-02-28 14:39] sjib commented on #531
Habe mir übrigens letzthin angeschaut, was das SWMM aus meinen Daten macht (obwohl ich SWMM nicht kenne und nicht habe und deshalb auch nicht abschliessend urteilen kann). Mit ziemlich grosser Sicherheit ist die **Doku nicht à jour**. Ich nehme an, dass da nach dem Schreiben der Doku noch einiges am Plugin geändert wurde, dass man jetzt noch aktualisieren müsste.

Und dann glaube ich festgestellt

[2020-02-28 14:55] sjib opened #551 "Translation legend - integrate in language files (qm files)"
In meinem Falle funktioniert die Übersetzung soweit gut mit Ausnahme der Legenden, die unverändert in Englich sind. Wie kann ich dies anpassen?
![legende](https://user-images.githubusercontent.com/1265865/75558790-a624ea80-5a42-11ea-9f0f-8be96b677d4e.png)

[2020-02-28 14:55] m-kuhn commented on #531
@sjib I think we should open specific new issues for

1. the foreign keys
2. the documentation
3. the substitution values

and close this placeholder issue

[2020-02-28 14:57] m-kuhn commented on #551
We will need to integrate (rule based) renderer titles into translation.

- @signedav can you schedule that for QGIS 3.14?
- Meanwhile, we'll need to update the projects by hand

[2020-02-28 14:59] m-kuhn commented on #203
I think this should be merged with https://github.com/QGEP/QGEP/issues/535

[2020-02-28 14:59] m-kuhn commented on #467
Can we close this issue or is there something remaining?

[2020-02-28 15:02] m-kuhn commented on #356
Meanwhile we have

- geometry generators for labels
- single point wastewater structures
- customizable labels pending (https://github.com/QGEP/datamodel/pull/127)

Can we close this issue?

[2020-02-28 15:14] sjib opened #552 "Import and export of text labels in QGEP"
**Initial situation**
In QGEP, labels are always placed automatically. For work on the screen, the iO. Labels can also be placed manually for data exchange or plan output via PDF file or plot.
In the VSA-DSS resp. in the Postgresql data model there are Txt classes with which labels for wastewater structures (manholes), postures and catchment areas can be stored in the database and then also exchan

[2020-02-28 15:14] sjib commented on #552
#356

[2020-02-28 15:22] #467 closed

[2020-02-28 15:24] #457 closed

[2020-02-28 15:25] #121 closed

[2020-03-02 12:50] urskaufmann commented on #549
Not solved in QGIS 3.10.3. Still same behaviour. Works with on central point of segments, works not with on central point.

[2020-03-02 19:34] m-kuhn commented on #549
Can you share the style as qml here?

[2020-03-02 19:57] urskaufmann commented on #549
[vw_network_segment_on_central_point.zip](https://github.com/QGEP/QGEP/files/4277603/vw_network_segment_on_central_point.zip)

[2020-03-02 19:59] #356 closed

[2020-03-02 21:28] urskaufmann commented on #524
wow, its on a good way.
The new label-fields are in the wastewater_structure-table, but not in the vw_qgep_wastewater_structure-view.  I did add it to the view, did change the variables to german, moved in the label-definition the bottom_label to the end and it looks great:
![case1](https://user-images.githubusercontent.com/1257403/75718990-3fb6fb00-5cd4-11ea-8f74-d95c8ca19133.PNG)

If I move one

[2020-03-03 09:40] m-kuhn commented on #524
@olivierdalang can you have a look at the numbering (E2, E4, ...) and the qgep_wastewater_structure view?

For the rest, let's have a look at the sprint :+1:

[2020-03-03 16:40] sjib opened #553 "vw_network_segment: ERROR: makeline: input must be a multipoint"
Raphael imported data by INTERLS and gets this error when trying to "Refresh materialized view" with data vw_network_segment

We checked on all geometry data, about being with z-value. We found:
od_cover has coordinates everywhere but some are z = nan
reach_point has two missing coordinates and all coordinates with z = 0
wastewater_node there is one wn without coordinate and various with z = nan

[2020-03-03 16:42] sjib commented on #553
@signedav - could you respond?

[2020-03-03 17:21] m-kuhn commented on #553
Could you provide us with a demo data set (preferably pg dump) to have a look at this issue?

[2020-03-05 15:49] sjib opened #554 "INTERLIS Export with processing tools ("INTERLIS Export button")"
Define requirements and workflow and integration of existing scripts and batch files

[2020-03-06 07:48] olivierdalang commented on #524
I added the fields to the view creation script, so normally you'd have them if you do a normal pum upgrade (and not just run the delta I provided).

Indeed, it seems reaches without level were counted but not displayed. Instead of just skipping them, wouldn't it be better to display `E1=?` ? It would make it easier to identify the reaches and also help identify missing data.

[2020-03-06 08:44] #499 closed

[2020-03-06 08:49] olivierdalang commented on #432
pum is now working on windows (https://github.com/opengisch/pum/pull/74), but we still need to improve docs to explain how to use it, including from the OSGeo4W shell (which packages are required, how to get pg_dump and pg_restore executables, etc...)

[2020-03-06 10:32] varrieta opened #555 "Profil windows opens when using network following tool"
When using the follow network tools, the windows for the profil opens. Is it really necessary?

[2020-03-06 10:59] m-kuhn commented on #548
Database server (cluster) setup including role setup is a separate step before!

Maintenance jobs

# Adding a new database

Pre-check: roles must be set up. Complain if not. :warning: Please contact your local support provider. Or provide a "default" with a clear warning that this is only for testing.

## Global parameters
  - postgres user / pwd / host etc.

## Individual steps
 1. Create databas

[2020-03-06 12:39] olivierdalang opened #556 "incorrect topology layer in some specific case"
In some specific cases (not sure why/when), the topology layer is incorrect, despite the reach from/to fields being correctly set. This leads to "path not found" errors with the profile tool and up/downstream tools.

Example with node ZG53 in Urs' dataset (path not found when starting from that node, but works when strating from one upstream node).

[2020-03-06 13:07] olivierdalang opened #557 "Profile tools snaps to random reachpoint instead of manhole"
When selecting the start/end nodes with the profile tool, it seems it snaps to a random reachpoint even if clicking on a manhole. This leads to some oddities, for instance "path not found" or missing bottom level.

[2020-03-06 14:07] varrieta opened #558 "Add reverse tool to plugin toolbar"
Right now one has to go to the processing tools to launch the reverse reach tool. It would be easier if it was in the plugin toolbar

[2020-03-06 14:29] olivierdalang commented on #524
That would be it : https://raw.githubusercontent.com/olivierdalang/datamodel/524_labelling/delta/delta_1.5.0_labelling.sql

[2020-03-06 14:57] olivierdalang commented on #524
2 more fixes to add :
- do not show unknown bottom levels
- order of inputs/outputs accord to angle doesn't work properly

[2020-03-06 15:07] sjib opened #559 "SWMM Views - Catchments planned / current"
Adapt 09_vw_swmm_subcatchments.sql:
- [ ] qgep_swmm.vw_subcatchments - duplicate and make a version for qgep_swmm.vw_subcatchments_current and qgep_swmm.vw_subcatchments_planned

- [ ] same thing for qgep_swmm.vw_subareas

Add in processing tools:
- [ ] Add parameter in processing to select only planned or current catchments and subcatchments (fk_wastewater_networkelement_rw_current or fk_wastewat

[2020-03-06 15:09] sjib commented on #531
- [ ] Foreign keys see new issue https://github.com/QGEP/QGEP/issues/559

- [ ] Documentation

- [ ] Substitution values

[2020-03-06 15:17] sjib opened #560 "SWMM Views - Dry weather flow"
- [ ] Add new view to fill in DWF section of inp File including variation of DWF

- [ ] New option in processing tools to set DWF: Liters per inhabitant per day

Calculation of Dry weather flow (DWF) in l/s (default value 160 l/inhabitant/day)
Catchment_area.population_density_planned [inhabitants/ha] * Catchment_area.surface_area [ha]*DWF [l/inhabitant/day] /24 [h]/60[min]/60[sec]

[2020-03-06 15:19] #531 closed

[2020-03-06 15:28] sjib opened #561 "SWMM Views - Default values only if no data available"
Adapt 09_vw_swmm_subcatchments.sql:

qgep_swmm.vw_subareas:
- [x] get infiltration parameter from od_surface_runoff_parameters if available

[2020-03-06 16:34] olivierdalang commented on #524
After in depth inspection with Urs, it seems the order of inputs/ouputs in the label is computed correctly. The issues is due to the demo data, where there's a mess around special structures. It is automatically with the reach update trigger... So it's probably worth running that trigger on the whole table to fix the data ?

[2020-03-06 17:10] #521 closed

[2020-03-09 07:45] urskaufmann commented on #556
Problem of ZG53: the second reach of Manhole ZG53 was not connected to the node ZG53, but to the reach ZG52-ZG53. So this reach overwrites the from_Obj_id of segment ZG52-ZG53 (no more the node, but the second reach).

An other (in a way similar) problem results, if there are two ore more reaches at the same point connected to another reach without node (Blindanschluss). The from_obj_id of the "ma

[2020-03-09 07:49] urskaufmann commented on #555
in the moment only for the button "select current path". This button should be placed somewhere else.

[2020-03-09 07:58] urskaufmann commented on #557
as discussed at the codesprint: it occurs after refreshing topology because of the cache data is not updated.
If I want to change a reach-geometry with the vertex-tool after  I have refreshed topology, I get useless results and have to restart the project before I can edit.
Refreshing topology must also rebuild the cache.

[2020-03-09 08:18] olivierdalang commented on #557
This is actually two distinct issues, the one you're mentioning and also the fact that when clicking on a manhole, the snapping can always occurs on the reachpoints situation under the manhole instead.

[2020-03-09 08:18] urskaufmann commented on #524
order of inputs/outputs accord to angle doesn't work properly:

The angle is now calculated with the first or last percent of the reach. This works not in all cases.
Correct would be, if the angle is calculated between the point, the reach enters the manhole and the center of the manhole. With normal manholes, the angle is the intersection with reach and a circle of Dimension1/2 or 0.6m and the ma

[2020-03-09 10:15] ponceta commented on #548
AS done with QWAT datamodel https://github.com/qwat/qwat-data-model/releases I would also suggest to add .backup format for the data_structure and value lists data in QGEP's datamodel releases.

"Standard Infrastructure Managers" do like the right click restore approach in pg admin, at least for testing purposes.

[2020-03-09 10:34] ponceta commented on #413
Since we now have https://github.com/QGEP/datamodel/releases I suggest to close this. If the use of a nominated Release manager is required, feel free to reopen this.

[2020-03-09 10:34] #413 closed

[2020-03-09 10:35] ponceta commented on #541
@sjib how can I suggest this to the VSA?

[2020-03-09 12:30] m-kuhn commented on #548
@3nids is there a reason for the current .sql format (instead of a .backup format)?

[2020-03-09 14:42] m-kuhn commented on #380
For reference, [the above error](https://github.com/QGEP/QGEP/issues/380#issuecomment-498158128) is linked to "transaction mode" being disabled on the project.

[2020-03-09 14:45] m-kuhn opened #562 "Make "Reverse reaches" work without transaction mode"
Migrated from https://github.com/QGEP/QGEP/issues/380:

This is linked to "transaction mode" being disabled.
This is not currently supported by QGEP.

CC @ponceta

[2020-03-09 14:45] #380 closed

[2020-03-09 15:35] ponceta commented on #537
@lbartoletti since the updated VM should be base on LTR version, I would propose to add your first python action to the wastewater layer for now and add either the second one OR the future mechanism next year.

[2020-03-09 15:55] ponceta commented on #562
My users in Pully have the following procedure :

Inverse the lines using native QGIS tool:

![image](https://user-images.githubusercontent.com/8614223/76231403-7e453c00-6225-11ea-828a-9fd97bad6b4e.png)

Remap topology connections :

![image](https://user-images.githubusercontent.com/8614223/76231504-a3d24580-6225-11ea-96cc-848967b70522.png)

![image](https://user-images.githubusercontent.com/8614

[2020-03-09 16:06] ponceta commented on #524
I would not deprecate the _label attribute if possible! It is useful and makes sense to have an aggregation already set. The cost per transaction does not seems too high to me?

[2020-03-09 16:09] haubourg commented on #562
I gently disagree, your error message shows that QGIS is not aware of the ExecuteSQL object, which means you don't have a transaction opened in transaction group.

[2020-03-10 06:35] m-kuhn commented on #562
I second @haubourg, it is the transaction mode.
Related: regenerating / reloading the topology (the SQL tool button) is linked to transaction mode as well and has the same issue.

To expand a bit: we had a training today where multiple people were working on the same DB and transaction mode was blocking other computers (frozen qgis sessions). Disabling transaction mode solved the freezing problem

[2020-03-10 08:13] haubourg commented on #562
Totally, when the transaction is opened, there are locks on the modified features, which can be a serious problem if users keep their transactions opened for a long time.

[2020-03-10 17:07] olivierdalang commented on #524
@ponceta You're right about cost per transaction, it's probably negligible. It's more about avoiding duplication (in the code, the docs, the future bugs, etc...). As far as I understood, currently, there's no backwards compatibility policy with QGEP, so that users should anyways update their QGIS project when changing datamodel version.

And if we think deprecating it later, then we're just as goo

[2020-03-11 19:32] sjib commented on #541
I have noted it - will be included in the coming release 2020 (about mid year)

[2020-03-11 19:34] sjib commented on #553
It is caused by empty geometry in wastewater_node. The new constraint should avoid this.
https://github.com/QGEP/datamodel/blob/master/delta/delta_1.4.0_geometry_not_null_constraints.sql

[2020-03-11 19:34] #553 closed

[2020-03-11 19:35] sjib commented on #530
@ponceta Is this solved for you?

[2020-03-11 19:40] sjib commented on #470
@tproduit Can you check again on this - still an issue?

[2020-03-11 19:41] sjib commented on #433
Listed for next VSA-DSS Release 2020

[2020-03-11 19:44] sjib commented on #428
@ponceta What exactly would the bottom material describe differntly to manhole.material? Can you add a sketch file to illustrate?

[2020-03-11 19:49] sjib commented on #346
Will be implemented in planned release 2020 of VSA-DSS

[2020-03-11 19:54] sjib commented on #311
- https://github.com/QGEP/datamodel/blob/master/view/additional_views/vw_qgep_maintenance_on_reach.sql
- https://github.com/QGEP/datamodel/blob/master/view/additional_views/vw_qgep_maintenance_on_wws.sql

@kfischerar Is this what you were looking for. Then please close

[2020-03-11 19:56] sjib commented on #310
@kfischerar
https://github.com/QGEP/datamodel/blob/master/view/vw_damage.yaml

[2020-03-11 20:00] sjib commented on #299
@urskaufmann
Is this still an issue?

https://github.com/QGEP/datamodel/blob/master/view/additional_views/vw_fountain.sql looks quite good to me. Can you check?

[2020-03-11 20:01] #291 closed

[2020-03-11 20:03] sjib commented on #170
Seems to be solved - else reopen

[2020-03-11 20:03] #170 closed

[2020-03-11 20:06] sjib commented on #159
https://github.com/QGEP/QGEP/issues/552

[2020-03-11 20:09] sjib commented on #105
Documentation here: https://qgep.github.io/docs/admin-guide/db-customization/index.html

Please reopen if still an issue

[2020-03-11 20:09] #105 closed

[2020-03-11 20:17] urskaufmann commented on #299
vw_individual_surface is tested and now in datamodell 1.4.0.  Other views for connection_objects (fountain, building) not tested, but looks good.

[2020-03-11 20:17] #299 closed

[2020-03-12 06:45] tproduit commented on #543
@m-kuhn I created a pull request to solve this issue.

[2020-03-12 06:55] tproduit commented on #470
I checked by inserting a new manhole in the view `qgep_import.vw_manhole`

`
INSERT INTO qgep_import.vw_manhole
(identifier, situation_geometry, co_level,_depth, ws_type)
VALUES
('ID1', st_setsrid(st_makepoint(2000000, 1000000, 500),2056),1000,1, 'manhole')
`
No error is produced

[2020-03-12 06:55] #470 closed

[2020-03-12 07:06] tproduit opened #563 "QGEP SWMM default flow unit"
The default flow unit is set in CFS (Cubic Feet per Second) in `default_qgep_swmm_parameters.inp`
It should be LPS (liters per second).
I will change it.

[2020-03-12 10:21] #563 closed

[2020-03-12 12:43] tproduit commented on #560
The first point is adressed in https://github.com/QGEP/datamodel/pull/131

[2020-03-12 12:43] tproduit commented on #561
Adressed in https://github.com/QGEP/datamodel/pull/131

[2020-03-12 12:48] tproduit commented on #559
Should we also accordingly select the wastewater structures with status 7959; other.planned?

[2020-03-12 12:55] tproduit commented on #559
I think that the simplest way to solve it is to:
-  have an input value in `SWMM Create Input` function to choose `current` or `planned`
-  add in the involved views an attribute state (`current` or `planned`) and select the objects to generate the input file.

[2020-03-12 15:33] olivierdalang commented on #555
@varrieta @urskaufmann Right, so it's currently not completely useless to open the profile pane. If we were to move the "select current path" button, where would it be best to put it ? I'm not sure it's a good idea to overcrowd the toolbar with too many buttons...

I suggest to add it as a "dropdown" under the upstream/downstream buttons, would that make sense ?

[2020-03-12 15:48] m-kuhn commented on #516
Upstream pull request pending for 3.14
https://github.com/qgis/QGIS/pull/35035

@sjib to put it into use we will need the description in the value list table.

[2020-03-12 17:39] olivierdalang commented on #556
As we understood during the code sprint, this issue is linked to invalid data, and it seems this wasn't due to the plugin as it doesn't seem to allow this type of errors.

So in the end I'm not really sure on what's expected for this issue ? Do we think these type of issues are very common for most users, or are they due to some specific migrations issue in the past ?

If we think this is common,

[2020-03-12 20:38] urskaufmann commented on #556
It's not the invalid data of the demoproject. And I can reproduce this type of error with the plugin very well. The thing is: a segment has one field from_obj_id and one field to_obj_id. If there are two objects to be connected at the same point, it does not work. The two examples I described above:
1. if there is at the end of a (first) reach another (second) reach connected direct (not over a no

[2020-03-12 20:48] urskaufmann commented on #555
In the moment, this button only works after a network-following. But there is another possibility in the button to configure the select. This configure is to select catchment areas over the different fk-fields. This button will then be probably renamed to "extend selection to connected elements" and it should be possible to start with any existing selection of reaches.
Suggestion: make a dropdown-

[2020-03-13 07:12] m-kuhn commented on #556
Good points.
Having multiple blind connection at exactly the same spots has not been handled. The issue that multiple nodes in the network_node layer are created (where they should be collapsed into a single one) sounds reasonable.

That should not be an issue, as in the created network, there are no more blind connections. Everything is connected via nodes.

Another case I just found in the arbon

[2020-03-13 10:39] urskaufmann commented on #556
Yes, that is not correct. They should not be connected to each other. At the end of both reaches should be a third reach (with or without wastewater node) or a wastewater_structure with node. And this two reaches should be connected to this third reach or to this node.

[2020-03-16 06:10] m-kuhn commented on #543
@tproduit thanks a lot, it's merged.

Pro tip: If you add `fix https://github.com/QGEP/QGEP/issues/543` to the git commit message or the pull request title, issues will automatically be closed when they are merged.

[2020-03-16 06:10] #543 closed

[2020-03-17 08:55] tproduit opened #564 "SWMM Phase 2 requirements"
### Import computed values in the model

- Do we want / need to import the computed values:

    -  in the table `qgep_od.measurement_result`?

    -  Since the computed values are not real measurements should we consider to add new tables in the model to store them? Eventually in the `qgep_swmm` schema?

- Or do we keep the results outside from the model:
    - in SWMM output file?

    -  in ano

[2020-03-17 09:06] m-kuhn commented on #564
Are these results something mostly for "internal use" or something that is expected to be delivered somewhere (via Interlis / xtf)?
Are these results something you will keep in an archive (e.g. calculations for 2020, calculations for 2025, ...), together with the inp/out files?

[2020-03-19 10:25] ponceta opened #565 "QGEP Extensions and templating"
Hi all,

Since QGEP and QWAT are expanding pretty quickly, it would be great to have the same "extension" concept to avoid a "gas factory" and enable QGEP side products developpement.

For that we created a templating structure for QWAT extensions :

https://github.com/qwat/extension_template

All specific scripts to an extension are stored in a specific side repository.

This has the advantage to

[2020-03-19 10:31] ponceta opened #566 "QGEP GeoMapFish Extension"
I would gladdly add QGEP export views, mapfiles and symboles for GeoMapFish (mapserver) :

![image](https://user-images.githubusercontent.com/8614223/77057776-c4905d00-69d4-11ea-90be-edcf2febcd23.png)

This would be a first step towards interroperrability between QGEP and other websig solutions.

It would be better to add these as an extension repository.

[2020-03-19 10:43] ponceta commented on #562
I had almost the same issue when dealing with different postgis geometry types, sorry for the confusion.

I'm still a bit sceptic towards transaction mode if such behaviours appears.

We sometimes faced some issues even if we are editing QGEP in single transaction mode, especially when setting global changes.

A way to avoid freezes in global edition is to disable topology triggers and recalculate

[2020-03-19 10:55] haubourg commented on #562
Or simply end the transactions by exiting the transaction mode. Much more easy during tranings and less error prone.

[2020-03-19 11:16] m-kuhn commented on #562
The goal of this proposal here really is to give "the possibility to work with transaction mode disabled" to users.

[2020-03-25 07:01] ponceta opened #567 "[SQL] How to display the Xth photo from a wastewater structure"
I search to expose the first and second picture of a wastewater structure in an export view. (and maybe the Xth if needed)

What I achieved so far is to expose the first and the last picture, playing with min() and max() aggregate functions :

[code]

AND

[code]

[2020-03-25 08:12] m-kuhn commented on #567
Hi @ponceta

How is the order defined? The first uploaded picture (identified by lowest object id)?

[2020-03-25 08:47] ponceta commented on #567
Yes!

[2020-03-25 08:55] m-kuhn commented on #567
I'll have a look :+1:

It will be handled as "support request" in the first place. Can you clarify on the "feature" tag, is this meant to be of "public interest" and for integration into the main repository or as a customization for Pully?

[2020-03-25 09:06] ponceta commented on #567
Thank you!

It is a specific "support request" for Pully, but it could be of some interest for others, that's why the "feature" tag.  Someone will maybe come in some times with the same need in the future.

[2020-03-25 11:05] m-kuhn commented on #567
Something like this?

[code]

[2020-03-27 08:11] varrieta commented on #555
A dropdown button seems good to me so the profil windows open only if we need it.

[2020-04-02 11:46] sjib commented on #564
Für Simulationsresultate aus Hydraulikprogramm:

Für jedes Abwasserbauwerk, welches Resultate erhalten soll, braucht es eine Messstelle.
Oder braucht es eine neue Beziehung auf Abwassernetzelement, damit man auf Abwasserknoten und Haltung referenzieren kann?

**Messtelle**:
Messtelle.Bezeichnung gleich setzen wir Bezeichnung Abwasserbauwerk (Kanal, Normschacht, Spezialbauwerk resp. Abwasserknoten

[2020-04-02 17:20] sjib commented on #564
There are also two attributes for hyrdraulic results directly on reach and node:
wastewater_node.backflow_level (Abwasserknoten.Rueckstaukote): 1. Relevant backflow level based on the calculation rain (dss) 2. Height below which special measures against backflow are to be taken within the property drainage system. (DIN 4045)

HydrBelastung_Ist: Dimensioning of the discharge divided by the normal d

[2020-04-02 17:25] sjib commented on #564
![subsystem messung](https://user-images.githubusercontent.com/1265865/78279420-c64f3a00-7517-11ea-887d-ee57aebd2a98.png)

[2020-04-06 07:54] tproduit commented on #564
Should we insert here the name of the Software?

[2020-04-06 07:59] sjib commented on #564
No I don't think. As this is not something physical. You have the software in the scenario

[2020-04-06 11:36] tproduit commented on #564
Currently we load the following values (extracted from the **summary** , there is only one value stored for the maximum / average):

### Nodes
* average_depth
* maximum_depth
* maximum_hgl (Maximum hydraulic head)
* time_max_day
* time_max_time
* reported_max_depth

### Links
* maximum_flow
* time_max_day
* time_max_time
* maximum_velocity
* max_over_full_flow
* max_over_full_depth

If I read you

[2020-04-06 12:08] olivierdalang opened #568 "[plugin] replace networkx by SQL queries"
The recent network logic rewamp in the datamodel (https://github.com/QGEP/datamodel/pull/133) includes some tests that make use of recursive SQL queries to find upstream/downstream nodes in the network (see `TestNetwork.downstream_nodes_depths()` in `test_network.py`).

We could use these queries for the upstream/downstream tools in the plugin.

For the profile tool, we could just combine downstre

[2020-04-06 12:21] bogdanvaduva commented on #568
@olivierdalang I did those queries 3 years ago but no one accepted the pull request, so ... I think it is a matter related to the person who makes the pull request. Anyway sorry to bother you.

[2020-04-06 12:37] haubourg commented on #568
a huge +1 !

Performance is already tested in some projects here and largely proven. It is some milliseconds long for the whole Paris wastewater sewage network.
And benefit is that you get tables as results, and users can do whatever they want with it, analysis, copy paste to spreadsheet, etc..

[2020-04-06 12:41] m-kuhn commented on #568
Thanks for raising this topic.

The advantage of the current approach is that we have the code on the client, a choice which was made for quick interactive selection of graphs. I could imagine that it's possible to get reasonable results with doing these requests to a server as well (including network overhead). We need to keep in mind as well, that the state of the graph on the server could be mo

[2020-04-06 12:42] m-kuhn commented on #567
@ponceta is this sufficient?

[2020-04-06 13:22] haubourg commented on #568
In my experience, the network overhead is lower than the networkx cache building by far.

it totally depends how you design your plugin. If you remember the Paris example I showed you back in .. 2016 (!), it was only two layers in which a python action was changing the filter definition query, which was a simple recursive CTE. A bit barebone and limited to upstream and downstream routing, but it i

[2020-04-07 11:46] tproduit opened #569 "Apply delta 1.4.0 increase_maintenance_event_base_data_length"
When delta_1.4.0_increase_maintenance_event_base_data_length.sql is applied the following error is raised: `cannot alter type of a column used by a view or rule`

[2020-04-07 11:51] tproduit commented on #569
Same for delta_1.4.0_municipality_precision.sql

[2020-04-07 12:48] tproduit commented on #569
My bad, the delta were already applied but with another version name.

[2020-04-07 12:48] #569 closed

[2020-04-07 13:01] bogdanvaduva commented on #568
@m-kuhn I **fully** understand that issues tab means a discussion of pro and cons of different approaches. (3 years ago what I proposed it could have been considered a proposition, so talking about that, it is appropriate, don't you think? ) What I don't understand it is why you didn't accept a pull request of a few queries that would have help me and all the ones that i installed QGEP. On other h

[2020-04-23 10:48] olivierdalang opened #570 "Strange migration error when running PUM : Too many parameters specified for RAISE"
Hey !

We're trying to upgrade a 1.3.0 datamodel using PUM, but run into a surprising issue... The initial datamodel isn't 100% vanilla, but this looks like something else.

Here's the error when running `pum upgrade -p pg_qgep_source -t qgep_sys.pum_info -d delta -u 1.4.0`

[code]

It looks like a trivial typo :
`RAISE NOTICE 'Removing channel (%%) since no reach is left', channel_id;`
should be

[2020-04-23 11:20] 3nids commented on #570
the percent character needs to be escaped in the diffs to be call from psycopg.
see the docs: https://github.com/opengisch/pum#sql-deltas

as soon as you fix this, the error will be gone (it will not think anymore a parameter has to be given)

[2020-04-23 11:23] olivierdalang commented on #570
But why the error with PUM then ? Is it maybe Windows specific ?

[2020-04-23 11:36] 3nids commented on #570
The SQL delta is run here: https://github.com/opengisch/pum/blob/master/pum/core/upgrader.py#L205
or just after if there is no variables, which seems the case with the command you provided.

It's a bit weird that it's not checked with the CI.

Since you introduced the tests against windows in pum, you could try to add a delta with the same line and see if it fails on windows?

[2020-04-23 12:12] kfischerar commented on #570
when i take out RAISE, there is another error-message:

[image: grafik.png]

ist the line 34 "ALTER TRIGGER ..." statement important ? can it be omitted
?
@denis: welcome back ;-)

Am Do., 23. Apr. 2020 um 13:20 Uhr schrieb Denis Rouzaud <
notifications@github.com>:

[2020-04-23 12:17] 3nids commented on #570
@kfischerar thanks!
it looks like you are not on a proper 1.3 version (the trigger misses)

[2020-04-23 12:51] kfischerar commented on #570
this is my source:

[image: grafik.png]
is this correct?
if yes: pum must NOT execute delta_1.3.1_delete_channel_when_no_reach

Am Do., 23. Apr. 2020 um 14:17 Uhr schrieb Denis Rouzaud <
notifications@github.com>:

[2020-04-23 12:55] 3nids commented on #570
sorry, I don't see the image, you should paste it on the website directly.

[2020-04-23 13:07] kfischerar commented on #570
but how ?

there are 2 triggers:
on_reach_1_delete
on_reach_2_change

Am Do., 23. Apr. 2020 um 14:55 Uhr schrieb Denis Rouzaud <
notifications@github.com>:

[2020-04-23 14:43] sjib commented on #428
Please reopen if still an issue and explain.

[2020-04-23 14:43] #428 closed

[2020-04-23 15:56] trasto21 opened #571 "qgis to swmm"
i'm trying to use your plugin with qgis 3.12.2 but there are any missing content in the downloaded file. i need a procedure to import in swmm 5.1 from a qgis' shape file. i hope you can send me a solution.
thanks

Valerio

[2020-04-24 04:59] m-kuhn commented on #571
Hi Valerio,

This is an integrated solution with a database backend. You will need to set up the complete infrastructure (https://qgep.github.io/docs/)

[2020-04-24 07:32] trasto21 commented on #571
thanks for the solution, i I hoped there was a procedure in localhost without needing to install a database server

[2020-04-24 07:35] m-kuhn commented on #571
It may be possible to manually craft the input data structure required for the export. Better contact @tproduit or opengis for a support request about this topic.

[2020-04-24 07:35] #571 closed

[2020-04-24 09:37] tproduit commented on #571
@trasto21 currently the export function read data stored in the QGEP datamodel. It will not work with ESRI shape file. You might be also interested in the plugin [qgis-swmm](https://github.com/Oslandia/qgis-swmm) but it also need you to import the data in a PostGIS database but is lighter than QGEP. It could be possible to use the existing code to read shape file but it would require a consequent

[2020-04-24 14:36] olivierdalang opened #572 "[datamode] Remove "IF EXISTS" and "CREATE OR REPLACE" statements from delta files"
Hey !

The datamodel delta files are full of "IF EXISTS" and "CREATE OR REPLACE" statements.

This causes some migrations to succeed, even if they should have failed (for ex. they've been run already). It also makes feel that it's OK to rerun existing migrations.

I'm currently having a case where it seems some migrations have been partially run and the pum table is not correctly populated, and th

[2020-04-24 15:14] m-kuhn commented on #572
I think they are there for development only. @3nids ?

[2020-04-27 13:29] ponceta commented on #400
@varrieta @m-kuhn

I can now tell you that it is now possible to add/remove a filtered set of features using qgis standard relation tools. (QGIS 3.12.X and later)

A possible use case:

1. Select entities you want to link to a parent
2. Open the parent form and go to the relationnal widget and click `edit`
![image](https://user-images.githubusercontent.com/8614223/80377263-54aaa780-889b-11ea-9384-

[2020-04-27 14:08] ponceta commented on #400
https://changelog.qgis.org/en/qgis/version/3.12/#improve-feature-selection-dialog

[2020-04-30 07:51] ponceta commented on #572
Re-run migrations should be avoid using PUM
(pum should not be able to a apply same delta twice!)
I would be in favor of fixing PUM.
https://github.com/opengisch/pum/issues/82

[2020-04-30 08:07] m-kuhn commented on #572
The situation here was that the user was running the deltas manually on his db, this is desirable unrelated to  opengisch/pum#82

[2020-05-04 07:49] #400 closed

[2020-05-05 10:04] ponceta commented on #567
Yes thank you!

Works with : https://github.com/QGEP/datamodel/pull/135

Or

SELECT obj_id, url
FROM (
  SELECT ws.obj_id AS obj_id,
  file._url as url,
  rank() OVER (PARTITION BY ws.obj_id ORDER BY file.obj_id ASC) as file_index
  FROM qgep_od.vw_qgep_wastewater_structure ws
  LEFT JOIN qgep_od.vw_file file ON ws.obj_id = file.object
  WHERE file.file_kind = 3772 -- Filter only images --boring s

[2020-05-05 10:05] #567 closed

[2020-05-05 10:12] ponceta commented on #572
The question is then do we support manual deltas? Should we provide baseline update somewhere?

Manual deltas are quite easy but won't work if python script is necessary!

Manual deltas don't update views, rewriting views is essential to have an up to date / functionnal datamodel!

[2020-05-05 10:25] m-kuhn commented on #572
I realize my last statement was maybe a bit ambiguous. With "this" I referred to "this pull request", not to "manual deltas".

To answer your question: No I don't think we should support it (officially). Yes, I think we should be as robust as we can for manual interactions, and with robust I mean: let PUM fail as soon as possible if anything is not as expected.

[2020-05-19 13:36] bujard opened #573 "maintenance event form not editable"
Hello,

I'm working on qgep project where client could potentially be interested in linking video footage to maintenance  and reach / structure.

My main issue is that the form
![from_mnt_broken](https://user-images.githubusercontent.com/9677103/82329277-5a4e6580-99e1-11ea-874f-11aff3c81e39.PNG)

Cannot be edited or validated as shown in the following [https://qgep.github.io/docs/user-guide/editin

[2020-05-19 13:53] bujard opened #574 "Parameter type layer od_file"
Hello,

Willing to link files to reach/structure, my team had to make change regarded the type of data in the layer "od_file" where _path_relative_ should be:
![image](https://user-images.githubusercontent.com/9677103/82329909-5838d680-99e2-11ea-9a83-221682458a60.png)
 and
_object_
![image](https://user-images.githubusercontent.com/9677103/82330001-81f1fd80-99e2-11ea-9f35-cbb394d4cae4.png).
with t

[2020-05-20 05:49] sjib commented on #574
How long would you like to have file path?You know that the first part of a path is put together, relative path is just the second part

[2020-05-25 13:17] ponceta commented on #574
@bujard I think what you mentionned should not be a problem anymore if you use the vw_file instead of od_file.

**Important :** It is required to set data_media paths first. otherwise files created with this view won't be stored.

This is quite a relief since when moving full data media (on another disk / path), you just have to fix the path of the data media and not linked files.

[2020-05-25 13:25] ponceta commented on #573
@bujard did you follow the existing procedure ?

http://qgep.github.io/docs/fr/user-guide/editing/maintenance_events.html#adding-a-new-maintenance-event

It would be great to know at which step are you blocked when trying to set a video to your maintenance event.

If it's from wincan data, I suggest you have a look at http://qgep.github.io/docs/fr/wincan2qgep/index.html which enables a semi automa

[2020-05-25 13:28] ponceta commented on #548
@3nids same question? ;) it could be an interesting feature to make qgep starting process easier?

[2020-05-26 13:19] bujard commented on #573
Yes, I did follow the procedure.

I'm stuck at the opening of the form of the new maintenance event.

it should looks like (with editable fields) this:

![image](https://user-images.githubusercontent.com/9677103/82892990-adc83280-9f50-11ea-8333-f1166c1f659e.png)

but it's like this:

![formlaire](https://user-images.githubusercontent.com/9677103/82905457-343a3f80-9f64-11ea-9c02-af85fe9c2680.gif)

[2020-05-27 13:35] varrieta commented on #432
I'm trying to use PUM on windows but I run into an access issue (eventhough I ran the osgeoshell as administrator). See command line (dump function) and error message below:

`pum -c ##\PUM\pum_config.yaml dump -p pg_qgep3 '##\PUM\backup.dump'`

[code]
pum version: 0.9.10 / pirogue version: 1.1.0

Any ideas?

@3nids : same issue I had last year and I thought I would give it a second try since PUM

[2020-05-27 14:52] m-kuhn commented on #432
CC @olivierdalang

[2020-05-27 15:17] olivierdalang commented on #432
@varrieta
Hmm, not sure what it is, but if you're running the shell as admin, it's likely not a permission issue... Do you have lines that look like this in your pum_config.yml  :
[code]
(the actual path may vary depending on which version of PostgresSQL/Pgadmin you've installed, also make sure pg_dump.exe and pg_restore.exe actually exist at these locations).

[2020-05-27 15:26] varrieta commented on #432
I do and the .exe exists at this location

[code]

[2020-05-27 15:28] varrieta commented on #432
I don't know if it helps but `pum check` does work

[2020-05-27 15:57] olivierdalang commented on #432
Maybe it's the quotes in the config file ? Did you try removing the quotes (both `'` and `"`, they aren't needed in the yaml format, and may confuse pum when trying to run the pg_dump command).

And try to avoid spaces (if any) also in the `pum dump ...` command. You can just `cd` in the `##\PUM` directory and use relative paths so that you don't need to rename or move folders.

[2020-06-02 15:32] olivierdalang commented on #432
@varrieta Did it work ?

[2020-06-03 09:16] #556 closed

[2020-06-05 06:46] varrieta commented on #432
@olivierdalang sorry for the late answer. I just tried it now and.. it works 👍 it was the quotes..
Thanks a lot!

I'll run more test on today and let you know

[2020-06-05 08:32] varrieta commented on #432
@olivierdalang I get this message running the upgrade cmd:
![image](https://user-images.githubusercontent.com/20111558/83853364-7bb78d00-a715-11ea-9111-6dfe305dfbbe.png)

Also, if I don't add the -t and -d infos, it doesn't work. Eventough it is already in the pum_config.yaml (here above)..

[code]

More infos:
- test db: v1.3.1

[2020-06-05 09:13] varrieta commented on #570
Adding -v int SRID 2056 worked for me
`pum -c pum_config.yaml upgrade -p pg_test -t qgep_sys.pum_info -d delta -v int SRID 2056`

Although the issue was comming from delta 1.3.2 for me
[code]

[2020-06-05 10:07] m-kuhn commented on #570
CC @lbartoletti (https://github.com/QGEP/datamodel/pull/108)

[2020-06-05 14:50] varrieta commented on #432
upgrade cmd works but I get this message after it applied the last delta.

`Applying post-all.py... No module named 'view'`

[2020-06-05 15:09] olivierdalang commented on #432
@varrieta I think you have to be in the datamodel directory so that the view module gets picked up (meaning `cd C:\.....\datamodel` before running `pum upgrade (...)`).

There's definitely room for improvement in terms of user friendliness of the upgrade process :-)

[2020-06-05 17:23] sjib commented on #479
Added in Gelbdrucke for release 2020

[2020-06-05 17:23] #479 closed

[2020-06-05 17:24] #390 closed

[2020-06-08 06:03] varrieta commented on #432
@olivierdalang Ok I'll try. But what does the view module?

[2020-06-08 08:36] sjib commented on #464
@urskaufmann @olivierdalang Can you update this issue with the work you have done?

[2020-06-08 09:15] olivierdalang commented on #432
It (re)creates the views, which happens after all migrations have been made.

It is required as the views are rather complex, since they depend on potential customisations of the data model. They can't be easily expressed in a normal diff.

[2020-06-09 07:48] sjib commented on #432
![grafik](https://user-images.githubusercontent.com/1265865/84120615-5dfc6780-aa36-11ea-928a-f02037aa66b7.png)

Screenshot for documentation

[2020-06-09 19:48] urskaufmann commented on #464
Did not look in since  3 month. Quit difficult, because there is no new version available.
Some important points are solved, but are not in the current version.
Missing: empty level-values are not handled as they should.

[2020-06-09 19:56] urskaufmann commented on #549
Solved in QGIS 3.10.4

[2020-06-09 19:56] #549 closed

[2020-06-12 08:39] MoritzBrennecke opened #575 "SWMM Plugin: Error when creating Input with postgis qgep database on external server"
qgep installed on external server. pg_service is working (acces to swmm-views given). When launching, the error message appears:

Démarrage de l'algorithme 'SWMM Create Input'…
Paramètres en entrée:
{ 'DATABASE' : 'pg_commune', 'INP_FILE' : 'TEMPORARY_OUTPUT', 'TEMPLATE_INP_FILE' : 'C:\\Users\\Moritz\\AppData\\Roaming\\QGIS\\QGIS3\\profiles\\Triform\\python\\plugins\\qgepplugin\\swmm\\default_qgep

[2020-06-12 08:52] m-kuhn commented on #575
Can you check that the service definition file has unix line endings? (http://wiki.secondlife.com/wiki/How_to_avoid_DOS_line_endings_in_Windows_tools --> e.g. notepad++)

[2020-06-15 06:49] MoritzBrennecke commented on #575
Yes, that worked, thank you. Maybe include a line in the documentation or in the error message?

[2020-06-15 06:49] #575 closed

[2020-06-15 06:52] m-kuhn commented on #575
That's already in place https://qgep.github.io/docs/en/installation-guide/workstation.html

![image](https://user-images.githubusercontent.com/588407/84626514-80cec600-aee5-11ea-892f-fbbd7f454e5e.png)

[2020-06-17 13:44] ponceta commented on #535
Since QGIS has been fixed (or at least will be fixed in [3.10.8](https://github.com/qgis/QGIS/pull/37223)).

Cutting reach is now quite explicite although a QGEP tool like proposed by @urskaufmann in https://github.com/QGEP/QGEP/issues/527.

A similar QGEP tool for merging reaches could be a good idea too like suggested by @m-kuhn [here](https://github.com/QGEP/QGEP/issues/535#issuecomment-5679135

[2020-06-19 13:35] MoritzBrennecke opened #576 "Profile Tool : Nodes cannot be selected"
After creating a simple network, the profile tool does not allow selection of the nodes.
The option "Select current path" is greyed out.
The documentation tells me to select "vw_qgep_cover", which does not exist anymore (I imagine it is the
"vw_qgep_wastewater_structure" but I am not sure).
Here an image:
![image](https://user-images.githubusercontent.com/40693210/85137923-3aa99780-b242-11ea-904a-

[2020-06-19 13:40] MoritzBrennecke opened #577 "Refresh topology: Error : Status 7 when trying to refresh"
In Journal de Messages: Postgis:
WARNING    Requête erronée : REFRESH MATERIALIZED VIEW qgep_od.vw_network_node; a retourné 7 [ERREUR: la transaction est annulée, les commandes sont ignorées jusqu'à la fin du bloc de la transaction).
Same with qgep_od.vw_network_segment.
Checked writing rights with in postgres: Everything given.

[2020-06-19 14:26] m-kuhn commented on #577
Can you retry with datamodel 1.5 and the latest plugin?

[2020-06-19 14:27] m-kuhn commented on #576
Likely a follow up issue of https://github.com/QGEP/QGEP/issues/577

[2020-06-19 14:54] varrieta opened #578 "PUM documentation"
PUM documentation on Opengis github (https://github.com/opengisch/pum) is more complete than the one we have in the QGEP documentation (https://qgep.github.io/docs/admin-guide/db-update-pum/index.html)

Wouldn't it be better to put a link to opengis PUM documentation? And only describe the qgep specification (if any) in the qgep doc?

@ponceta should it be the same for QWAT?

[2020-06-20 07:27] sjib opened #579 "Hydraulik Streichwehr etc. in QGEP - Ergänzung Demoprojekt"
Wo sind die verschiedenen hydraulischen Elemente in QGEP?

Dieser Teil des Modells ist bisher im Demoprojekt noch nicht fertig abgebildet. (Im Moment könnte man in dem Zusammenhang mindestens teilweise eher von QAbwasserLK und nicht von QGEP sprechen, aber die meisten bisherigen Anwender begnügen sich mit dem Werkplan...).

Dass diese Überlaufelemente in die Datenbank gehören und von dort zum Hydr

[2020-06-20 10:51] sjib commented on #576
View vw_cover should be added again as additional view:

SELECT cover.obj_id,
    cover.brand,
    cover.cover_shape,
    cover.diameter,
    cover.fastening,
    cover.level,
    cover.material,
    cover.positional_accuracy,
    cover.situation_geometry,
    cover.sludge_bucket,
    cover.venting,
    structure_part.identifier,
    structure_part.remark,
    structure_part.renovation_demand,

[2020-06-22 08:43] m-kuhn commented on #576
The view `qgep_od.vw_cover` exists in the datamodel.

This issue relates permissions on the database on a part that has been changed for release 1.5 and should be verified on version 1.5.
If there is something to be done with `qgep_od.vw_cover` please open a new issue.

[2020-06-22 09:04] MoritzBrennecke commented on #577
Updated datamodel (with our batch file), plugin and even the qgs file -> Same issue.

[2020-06-22 09:39] m-kuhn commented on #577
This is related to the specific database setup. We will need to get more information from your database to see what's going on.

Can you execute the following command through db manager (in qgis) or pgadmin. Make sure you use the same login as configured in qgis to connect to the database.

[code]

[2020-06-22 09:58] MoritzBrennecke commented on #577
We configured TF_EDIT and not postgres. So the REFRESH MATERIALIZED VIEW qgep_od.vw_network_node; works. The error changed:
Error : Status 7 (ERREUR: droit refusé pour le schéma qgep_network
             LINE 1: SELECT qgep_network.refresh_network_simple();
User rights where granted using the grant wizard, and TF_EDIT could execute.
So what I did (and I don't think it is the right thing: Right cli

[2020-06-22 10:02] MoritzBrennecke commented on #577
NEW ERROR:
2020-06-22T11:58:33     CRITICAL    Error : Status 7 (ERREUR: la fonction st_line_substring(geometry, double precision, double precision) n'existe pas
             LINE 6: ST_Line_Substring(
              ^
             HINT: Aucune fonction ne correspond au nom donné et aux types d'arguments.
             Vous devez ajouter des conversions explicites de type.
             QUERY: INSERT

[2020-06-22 10:28] m-kuhn commented on #577
The latest error looks like there is a problem accessing `postgis` functionality.
I assume postgis is installed to the default location, the `public` schema (otherwise there would be many more problems). Can you verify the permissions for the user in question for `EXECUTE` on schema `public`?

[2020-06-22 11:14] MoritzBrennecke commented on #577
Granted UC rights to TF_EDIT and used grant wizard for all objects in schema public.
Same error.

[2020-06-22 11:16] m-kuhn commented on #577
I think we need a remote desktop.

[2020-06-22 11:42] m-kuhn commented on #577
`ST_Line_Substring` is a legacy name for postgis versions < 2.1 (2.1 was EOL 19.09.2017). The function should use the new name `ST_LineSubstring` instead.

[2020-06-22 11:47] m-kuhn commented on #577
@MoritzBrennecke can you test if it fixes the problem if you execute the following snippet on your database?

https://github.com/QGEP/datamodel/blob/ecda2f8c4a6b3ddac466730ae3ec1fa6d6998975/delta/delta_1.5.1_fix_network_tracking_views.sql#L27-L137

[2020-06-22 12:30] MoritzBrennecke opened #580 "SWMM Views : Geometry no defined"
Geometries of vw_conduits, vw_raingages and vw_subcatchments are not defined.
Should be nice to have them to see them in QGIS.
![image](https://user-images.githubusercontent.com/40693210/85287693-efd38e00-b494-11ea-973d-757d2d7ec7e7.png)

[2020-06-22 13:52] MoritzBrennecke commented on #577
Executing the yellow part (otherwise error) works and refresh toplogy gives this error: 2020-06-22T15:50:10     CRITICAL    Error : Status 7 (ERREUR: doit être le propriétaire de la vue matérialisée vw_network_node
             CONTEXT: instruction SQL « REFRESH MATERIALIZED VIEW qgep_od.vw_network_node »
             fonction PL/pgSQL qgep_network.refresh_network_simple(), ligne 106 à instruction

[2020-06-22 14:01] MoritzBrennecke commented on #577
So if I choose TF_EDIT as "owner" of the materialized views, it works and even the profile tool. But shouldn't be postgres the owner?

[2020-06-22 14:03] m-kuhn commented on #577
@olivierdalang I wonder if it would be easier to just drop the materialized views. I don't think they are needed any more and handling them seems to be tricky.
@MoritzBrennecke can you try to run https://gist.githubusercontent.com/m-kuhn/0d15e65b6dca6ff21241e2d4c850c9eb/raw/92bac92bcd709272b8af22c1904225a790a8a33b/refresh_network_simple.sql (reset the owner of the views to postgres and execute thi

[2020-06-22 15:07] MoritzBrennecke opened #581 "Primary Network definition: The downstream manhole is not considered primary"
When defining the reach primary network, all connected chambers should be primary too. But when creating a new reach between two manholes (primary), the downstream manhole is not taking into account even after refreshing the view (upstream works). This can cause a problem, because for SWMM the manhole would not be exported.

[2020-06-22 15:07] MoritzBrennecke commented on #581
![image](https://user-images.githubusercontent.com/40693210/85303545-ea813e00-b4aa-11ea-8867-65ba2183d98d.png)

[2020-06-22 15:23] MoritzBrennecke opened #582 "SWMM: Conduits are not created"
The conduits are not created when creating the .inp and also not in the qgep_swmm.vw_conduits.
No error message.

[2020-06-23 07:01] MoritzBrennecke commented on #577
I did run the script, everything seems fine, but I still got the materialized views.

[2020-06-23 07:14] m-kuhn commented on #577
Perfect :+1: they are not removed for now, just repaired.

[2020-06-23 07:45] MoritzBrennecke opened #583 "Profile Tool: No path found"
Path is not found in profile tool.
Sometimes, after clicking many times and restarting plugin, etc it works.
Topology is fine, up/downstream follow along works.
Improvements: Snap to wastewaterstructure should show up, so you can see which point is taken into account.
What is the distance for a wastewater structure taken into account?

![image](https://user-images.githubusercontent.com/40693210/85

[2020-06-23 07:45] MoritzBrennecke commented on #577
You are sure the profile tool does not use the materialized view #583

[2020-06-23 07:47] m-kuhn commented on #583
Can #576 be closed?

[2020-06-23 07:51] MoritzBrennecke commented on #583
qgep_od.vw_cover should be removed from documentation then. But the whole profile tool section needs an update.

[2020-06-23 08:07] #577 closed

[2020-06-23 10:12] #580 closed

[2020-06-23 12:40] varrieta opened #584 "Channel detailed geometry"
It is written in the doc that detailed geometry shouldn't be created for channel.

http://qgep.github.io/docs/en/user-guide/digitizing/digitizingdetailedgeometry.html

@sjib  Why so and how to represent them then?

[2020-06-23 13:48] sjib commented on #584
Usually there is enough information for the channel with the profile information you give it in the reach (clear_height, pipe_profile.height_width_ratio, pipe_profile.profile_type and the reach.progression)

An exception can be if you have a storage channel that is not a standard pipe. Then you could add a detailed_geometry as for a special_structure.

[2020-06-24 06:21] ponceta commented on #578
Did you encounter any troubles using PUM on QGEP or QWAT?

I propose this https://github.com/QGEP/docs/pull/127

[2020-06-24 06:26] #578 closed

[2020-06-24 07:10] #584 closed

[2020-06-24 08:30] varrieta commented on #578
No any troubles using PUM with QGEP. Didn't try yet with QWAT

Thanks @ponceta for the mention.

I also added QGEP/docs#128

The doc will have to be modified since windows can also be used now. I propose to close and refer to QGEP/docs#107

[2020-06-24 20:59] urskaufmann commented on #464
Test with qgepplugin 1.5, database 1.51
Problems described last year and this winter are solved. Not solved is the problem of the missing values

Look the picture:
![lp1](https://user-images.githubusercontent.com/1257403/85626929-100a7500-b66e-11ea-8fdf-ff7183be8f9e.PNG)

Second manhole on the left with empty value in cover level: the green terrain-line is drawn direct from the first to the third

[2020-06-24 21:09] urskaufmann commented on #583
I have the same problem with qgepplugin/database 1.5/1.51: How can I refresh the network after a change, so the profile tool works again? When I e.g. add new structures and reaches or if I just change e.g. a cover level. To save the data is not enough. If I use the sql-button, I can no more define a profile. Normally I can use afterwards the network following, but not the profile.

[2020-06-29 12:01] varrieta opened #585 "Moving wastewater node"
QGEP version 1.5

When moving the wastewater node of a structure, the reaches that are connected don't follow like they would do if the wastewater_structure was moved (image below).

![image](https://user-images.githubusercontent.com/20111558/86001843-c88a3d00-ba0f-11ea-9c73-873294ae6c0e.png)

![image](https://user-images.githubusercontent.com/20111558/86001886-d93ab300-ba0f-11ea-96ed-5bbed93b60f7

[2020-06-29 12:08] m-kuhn commented on #585
Yes, this is by design.
Reaches and wastewater nodes do not necessarily need to be connected spatially, so it's possible to move them individually.

[2020-06-29 12:23] varrieta commented on #585
Ok thanks Mathias

[2020-06-29 12:23] #585 closed

[2020-06-29 12:54] varrieta commented on #524
@olivierdalang I'm doing some test with version 1.5 and the fields _bottom_level_label, _input_label and _output_label don't get updated when I update the corresping data..

But _cover_level_label does get updated.

Does it work for you?

[2020-06-29 13:38] olivierdalang commented on #524
@varrieta That's strange ! It works here and the functionality is covered by automatic tests... so there may be something unexpected going on.

Are the labels correctly updated before your update to 1.5.x ?
Is the data not updated at all, or is it not correctly generated (for example empty label, while there are input/outputs) ?
Can you provide steps to reproduce the issue ? (ideally with the demo

[2020-06-29 14:09] varrieta commented on #524
Not sure, I didn't use the functionality before. I'll try and let you know. It is really strange because it works for the cover..

No it is updated but the label not generated

Yes just a typo sorry

[2020-07-01 12:36] varrieta opened #586 "Delete reach not working"
When I create a reach and don't refresh the topology, I can delete it

As soon as I refresh the topology I can't delete it anymore and I get the error message below.

`
2020-07-01T14:30:58     WARNING    Requête erronée : DELETE FROM "qgep_od"."vw_qgep_reach" WHERE "obj_id"::text='ch19y4z2RE001322' a retourné 7 [ERREUR: UPDATE ou DELETE sur la table « wastewater_networkelement » viole la contraint

[2020-07-01 14:29] m-kuhn commented on #586
Thanks @varrieta

What do you think, @olivierdalang `ON DELETE CASCADE`, no more fkey or something else?

[2020-07-02 10:39] olivierdalang commented on #586
There's a missing `ON DELETE CASCADE` on the network views, proposed fix on PR

[2020-07-03 11:44] sjib opened #587 "A lot of CPU use when turning on Topology layer"
Ich habe folgende Rückmeldung von einem Kunden, der QGEP am Testen ist:

Nach dem Anhaken von „Topology“ ist der Rechner zu 100% ausgelastet. Die vollständige Systemauslastung dauert sehr lange an. / When activating the Topology layer the computers CPU usage is very high.

![Topology_Rechnerauslastung_100](https://user-images.githubusercontent.com/1265865/86465756-91c76600-bd32-11ea-8576-9349eeef8

[2020-07-03 11:47] sjib opened #588 "Print function with length profile not working correctly"
Die Print-Funktion beim Längsschnitt funktioniert nicht richtig – hier wird immer nur ein Teil des Längsschnittes (oder gar nichts) dargestellt.

![print_fehler](https://user-images.githubusercontent.com/1265865/86466256-9b9d9900-bd33-11ea-8e81-ba6aacefee6a.JPG)

[2020-07-03 11:48] sjib commented on #587
![Absturz_2](https://user-images.githubusercontent.com/1265865/86466390-d0a9eb80-bd33-11ea-97f3-ec4f35e446eb.JPG)

[2020-07-03 12:50] m-kuhn commented on #587
Kommt die Auslastung von QGIS oder von Postgis?

[2020-07-03 20:08] urskaufmann commented on #587
Remembers me at the problem #549
Is this with QGIS 3.10.3 or earlier?
Try this: Before turning on the topology change the symbol of  vw_network_segment. Change the definition of the markerline to somewhat else than placement on central point.

[2020-07-04 18:45] #574 closed

[2020-07-04 18:47] #369 closed

[2020-07-07 07:18] sjib commented on #587
![vw_network_segment_markerline_placement_central_point](https://user-images.githubusercontent.com/1265865/86735038-c1c48100-c032-11ea-91e8-078a953da3c4.jpg)

[2020-07-07 08:40] urskaufmann commented on #587
Genau, dort "auf Mittelpunkt" nicht verwenden wenn QGIS < 3.10.4. "auf Segmentmittelpunkten" geht.

[2020-07-09 12:23] DflGruBoe commented on #586
Is it fixed with version 1.5.2? @olivierdalang

[2020-07-09 12:32] DflGruBoe commented on #582
Works for me with version 1.5.2!

[2020-07-09 12:32] m-kuhn commented on #582
Fixed in https://github.com/QGEP/datamodel/pull/143

[2020-07-09 12:32] #582 closed

[2020-07-13 11:52] olivierdalang commented on #586
@DflGruBoe Yes it should be fixed

[2020-07-13 12:24] #586 closed

[2020-07-20 14:30] YenniferC opened #589 "Qgepswmm not found"
Hello,
I am trying to use the SWMM pluging, but in the processing options of the plugin I do not have the SWMM Create DB Tables, I only have create input, execute and extract results. So I went directly to create input and I got the following message first with the database by deafult that appears in the tool pg_qgep_demo_data, and then trying to go for pg_qgep.

QGIS version: 3.10.3-A Coruña
QGIS

[2020-07-23 12:28] varrieta opened #590 "Delete structure detailed geometry"
When you delete the detailed geometry of a structure, the structure itself get deleted.

[2020-07-23 13:55] m-kuhn commented on #590
Can you provide detailed steps how you delete the structure?

[2020-07-23 14:20] varrieta commented on #590
Sure,

1. Select the structure in the layer vw_qgep_wastewater_structure loaded with the field "detail_geometry_geometry" as geometry (picture below)
![image](https://user-images.githubusercontent.com/20111558/88297614-6667e380-cd00-11ea-8bbc-ceae3e29725f.png)

2. Delete the structure

I guess we should better cut the structure? Would the field "detail_geometry_geometry" be empty then?

[2020-07-23 14:27] m-kuhn commented on #590
Use the "delete part" tool for this task.
Can I ask you to add this to the documentation?

[2020-07-29 17:50] olivierdalang opened #591 "cannot alter type of a column used by a view or rule - Do we need to run drop_views.sql -"
When running `pum upgrade ...`, I get
[code]

It is fixed if I run `drop_views.sql` manually before that. But is that supposed to be done manually ?

If yes, we need to add it to the docs, if no, something's not working here (pum 0.9.10, Windows 10)

[2020-08-06 11:14] ponceta commented on #591
QGEP miss maybe a standard upgrade_db script like qwat :
https://github.com/qwat/qwat-data-model/blob/master/update/upgrade_db.sh

Views should be dropped before update and recreated after update, that's the point of having dynamically created views, otherwise it doesn't serve its purpose!

[2020-08-06 12:07] m-kuhn commented on #591
While I'm not opposed to the idea of a wrapper script per se...
is it the responsibility of pum or a wrapper script to run the drop and recreate views?

[2020-08-10 06:54] tproduit commented on #589
The documentation is not up to date. I need to fix it.

You are right to start directly with `SWMM Create Input`. The problem seems to be that in the field Database, you need to put the name of the service which define the connection to your database. If you don't know it, you should find the name of the service in the definition of the layers (right clic on a qgep layer in QGIS).

[2020-08-10 06:58] tproduit opened #592 "SWMM views: Improvements"
According to the feedback of @DflGruBoe, the following list must be improved:
* "discharge_Coefficient_WW_current" in catchment_area doesn’t go to the suitable position in SWMM (impervious area %)
(also you could not choose which state you want to export/simulate … current or planned)
* every catchment generates a rain gates
* "vw_qgep_Abwasserbauwerk" _Beschriftung (= Name of the node) should go

[2020-08-10 09:30] tproduit commented on #592
### discharge_Coefficient_WW_current

@sjib We put the value recorded in `discharge_coefficient_rw_current` in `percimperv` (impervious area %). Is it correct or should we rather use the value recorded in `discharge_coefficient_ww_current` as suggested by @DflGruBoe?

[2020-08-10 09:47] tproduit commented on #592
### Rain gauges
Currently we create a rain gauge for each catchment area. But they are all linked to a single default time serie `default_qgep_raingage_timeserie`. The user has to add more time series if he has more rain gauges. If he has only on rain gauge then he can only update the default time serie.
It seems to me that this workflow is the most flexible for the users. @DflGruBoe do you have a

[2020-08-10 09:55] tproduit commented on #592
### Junction description
Currently the description is created as follow: `(ws.identifier::text || ', '::text) || ws.remark::text AS description`. Namely, it is an aggregation of the identifier and the remark.
(We also have `wn.obj_id AS name` and `ma.obj_id AS tag`)

@DflGruBoe you suggest to remove the remark and keep only ws.identifier as the description?

[2020-08-10 09:59] m-kuhn commented on #592
Better use `CONCAT( ..., ..., ... )` than `... || ... || ...` unless you really want the result to be `NULL` if any of the parts is `NULL`

[2020-08-10 09:59] tproduit commented on #592
### Conduits description
Currently the description is created as follow: `(ne.identifier::text || ', '::text) || ne.remark::text AS description,`.

@DflGruBoe Similarly, to the issue above you suggest to remove the remark and keep only ws.identifier as the description?

[2020-08-10 10:05] tproduit commented on #592
Thanks for the advice! Indeed, ws.remark is often NULL and then the SWMM description is NULL.

[2020-08-10 10:15] tproduit commented on #592
### Conduit diameter
I found the problem I will solve it.

[2020-08-10 11:46] sjib commented on #592
Impervious area is more a rain water thing and not a wastewater issue. I think it is correct, else I would need more arguments.

[2020-08-10 13:45] DflGruBoe commented on #592
"discharge_coefficient_rw_current" is fine for us

[2020-08-11 05:17] tproduit commented on #561
@sjib can we close this issue as it should be solved?

[2020-08-11 20:45] sjib commented on #592
Urs gave me a good hint, that we have to consider, whether we are running a calculation for a current status or planned status:

We have up to four relations in a catchment that relate to up to four different wastewater structures: fk_rw_current / fk_ww_current for the current status and fk_rw_plannend and fk_ww_planned for the planned status. So we have to check in a wastewater structure which fo

[2020-08-14 08:48] urskaufmann commented on #592
As I mentioned to Stefan:
First of all, the sewage network to be calculated must be determined. And the user chooses whether a calculation is made for the current state or for the planning state.
With these definitions the rest is given: The wastewater nodes are determined. All catchment areas with a foreignkey to a selected wastewater node must be taken into account. Which attribute (discharge co

[2020-08-14 08:55] m-kuhn commented on #592
Current vs. planned: should this be an option in the processing algorithm?

[2020-08-14 09:11] urskaufmann commented on #592
I do not know SWMM and if SWMM can handle different states. But in a hydraulic calculation you can not mix planned and current. I think the user must have this option (the same for other programmes like mikeurban).

[2020-08-14 10:05] m-kuhn commented on #592
@tproduit / @DflGruBoe  forwarding this question then: at what point should the user select this?

 a) when launching the processing algorithm
 b) should processing export both and is this then selected somehow inside swmm

[2020-08-14 12:03] sjib commented on #592
I would suggest to select it to select it at the very beginning and to make for all views we have  a *_current and a *_planned version. This would allow to add a simple parameter at the beginning to add in the code an it could run thru the same way for both cases.

[2020-08-17 15:09] #590 closed

[2020-08-18 06:15] tproduit commented on #559
See also the discussion here: https://github.com/QGEP/QGEP/issues/592

[2020-08-19 06:44] varrieta opened #593 "qgep_od.vw_network_xx replaced by qgep_network.xx"
When using PUM for versioning, the 2 materialized views vw_network_node and segment aren't deleted from the qgep_od schema. Shouldn't they be?

Also, the projet qgep.qgs is still using the materialized views from qgep_od and not the one from qgep_network schema.

[2020-08-19 07:43] olivierdalang opened #594 "[Docker] v1.5.2 not present in docker hub"
There may be an issue with automatic publishing of images ?

[2020-08-19 07:46] olivierdalang commented on #594
(oops, didn't sleep enough it seems, it's there actually)

[2020-08-19 07:46] #594 closed

[2020-08-19 08:21] olivierdalang commented on #593
@varrieta
This is expected, but the views have changed and use the qgep_network tables now. It was made this way so that the plugin (and the qgs project) could continue working without almost no change.

In the future though we'll be able to drop them and simplify the plugin (see https://github.com/QGEP/QGEP/issues/568)

[2020-08-21 14:02] rbovard opened #595 "Issue when restoring demo_data.backup"
Hello,

I generated the datamodel with `db_setup.sh` as described in the doc and now I want to restore the demo data.

So I downloaded `qgep_v1.5.2_demo_data.backup` and tried to restore it but I have a lot of errors:

[code]

I checked if PostGIS is really installed and it is:

[code]

What am I missing?

Thanks in advance!

[2020-08-24 10:44] tproduit opened #596 "snap to vertices of a point layer"
Step to reproduce the error:
* Add a point layer to a QGEP project
* Enable snap to all layers
* Start Data Entry > Reach
* Try to snap to the point layer:

![image](https://user-images.githubusercontent.com/8256037/91036228-4715ec00-e607-11ea-9e54-b2d0177eaf38.png)

* The snap icon is no visible (but the mouse is attracted by the point)
* The snap generate an error

[code]

[2020-08-25 13:54] m-kuhn commented on #559
Agreed on https://github.com/QGEP/QGEP/issues/559#issuecomment-598169857

[2020-09-01 08:31] varrieta commented on #405
Channels are still displayed in  vw_qgep_wastewater_structure, can anyone confirm?

database version: 1.5.3

[2020-09-01 15:28] #589 closed

[2020-09-01 15:28] #587 closed

[2020-09-02 07:50] urskaufmann commented on #405
I can confirm (database version 1.5.2). Channels are in the vw_qgep_wastewater_structure - table, but without geometry

[2020-09-02 10:02] ponceta opened #597 "Create a template for issues"
To enhance issues description, add a template for issues :
- [x] **Versions** used
OS : Win/Mac/Linux / QGIS : X.X.X (build_number) / datamodel : X.X.X / plugin : X.X.X
Hint comments to find versions
- [x] **Description** / What went wrong
- [x] **Expectation** / What was expected
- [x] **How to reproduce**
- [x] **Additional informations** and screenshots / error log (If appliable)

Please check

[2020-09-02 13:33] #596 closed

[2020-09-02 15:44] sjib commented on #597
Sounds good to me. Herr is how to include a template: https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

May be we should discuss other issue categories : Feature proposition, missing documentation, ...

[2020-09-02 16:27] m-kuhn commented on #405
@olivierdalang when you have some time, can you have a look at that?

[2020-09-03 06:33] ponceta commented on #597
Some part of it could be managed like actually with labels.

https://docs.google.com/presentation/d/1guoX8ps1rhBQmwknDycv8Zs7Pu0APk39PzQPOASHv6I/edit#slide=id.p

@sjib maybe a codesprint4 label could be a good idea to see motivations towards next Codesprint on nov 6th.

[2020-09-03 07:12] ponceta commented on #530
It's still an issue for us because we use wastewater nodes without wastewater structures, for slope,diameter and year changes.

![image](https://user-images.githubusercontent.com/8614223/92082675-272fb680-edc5-11ea-8224-00bdcafb6fe4.png)

We can't colorize the labels according to the passing dirtiest fluid and we can't filter entites according to the fluid type.

[2020-09-03 07:43] olivierdalang commented on #597
I'd add "error log (if applicable)", and maybe short comments about where to find the QGIS/datamodel/plugin versions.

[2020-09-03 07:44] olivierdalang commented on #593
(feel free to reopen if needed)

[2020-09-03 07:44] #593 closed

[2020-09-03 07:59] olivierdalang opened #598 "[datamodel] use deltas for database initialisation"
Any reason why we provide the datamodel twice (once as `00_qgep_schema.sql` and following, once as deltas) ?

This means each change must be done twice, in two different ways. Any slight mistake in doing so may result in subtly different datamodels.

Can't we just use deltas for datamodel initialisation too ?

[2020-09-03 08:06] haubourg commented on #598
@olivierdalang we have the same infrastructure for QWAT and I share your concerns about double work for any change.

The issue with delta only generation is that at one point, you have so many delta files accumulated that it becomes very hard to use git and understand what changed in the datamodel. Some delta file just do massive DROP and CREATE again, which make it hard to collaborate.
But I thin

[2020-09-03 11:39] ponceta commented on #598
@olivierdalang that's why pum was originally created, to check if datamodel 1.3 + delta (1.3-1.5) = datamodel 1.5

It would be good to discuss this on next codesprint on november 6th! In the meanwhile feel free to propose elements towards a sustainable delta management policy!

Metageneration of views using pirogue increase complexity by one python library, otherwise this reduces delta size by avo

[2020-09-04 05:23] tproduit commented on #596
Thanks guys, it works like a charm!

[2020-09-04 06:10] rbovard commented on #595
Thanks a lot for the investigations @ponceta!

So something need to be fixed on shell script and/or in demo data dump to be able to test QGEP?

[2020-09-04 06:24] ponceta opened #599 "Issue when applying delta 1.4.0 import views"
1.4.0 import views
[code]
How is pum knowing SRS? Through variable?

My actual command is :

`pum test-and-upgrade -pp qgep_poc -pt qgep_test -pc qgep_comp -d delta/ -x -t qgep_sys.pum_info -f hello.backup`

@varrieta did you encounter this when updating?

I've an ENV variable set as SRID=21781 on ubuntu 18.04 LTS.

[2020-09-04 06:32] ponceta commented on #599
We need to give pum the SRID variable, syntax is :

`-v str SRID 21781`

Full syntax :

`pum test-and-upgrade -pp qgep_poc -pt qgep_test -pc qgep_comp -d delta/ -x -t qgep_sys.pum_info -f hello.backup -v str SRID 21781`

[2020-09-04 06:32] #599 closed

[2020-09-04 07:40] ponceta commented on #595
You could roll back to commit 1.5.2 and try restore demo data, but I would better use demodata+structure 1.5.2 (Right clic restore in pgAdmin) for tests purposes, and follow master till 1.5.3 or 1.6.0 (which will come fast if https://github.com/QGEP/datamodel/pull/146 is fixed and commited)

Latest master with latest commits are requiring latest version of pirogue to run smoothly if you encounter

[2020-09-04 10:03] ponceta commented on #591
I face same problem here when updating from 1.3.2 to master.

[2020-09-04 12:32] rbovard commented on #595
Thanks for your idea @ponceta

I did that (drop DB, checkout v1.5.2, initialize with `db_setup.sh`) but I still have the same error on the restore.

The only difference in the output error is concerning a record (nothing else about the schema)

[code]

[code]

[2020-09-04 13:03] m-kuhn commented on #591
@olivierdalang can you take the lead on this?
If required discuss with @ponceta for ideas and get the green light from @3nids / @marioba that it's a good path to follow.

I'm available if there are blockers.

[2020-09-04 13:04] m-kuhn commented on #595
Use psql instead of pgadmin interface to do a sql import. Use pgadmin for .backup imports

[2020-09-04 13:13] rbovard commented on #595
Sorry @m-kuhn, I'm not sure to understand.

I'm restoring with `$ pg_restore --dbname=qgep ~/Downloads/qgep_v1.5.2_demo_data.backup`

You're suggesting to do it with pgadmin GUI?

[2020-09-04 13:25] m-kuhn commented on #595
Strange, I thought the above error was caused by an import from a `.sql` file. Not sure how that happens with the command you have here.

[2020-09-04 13:42] olivierdalang commented on #591
Here's the PR for a fix : https://github.com/QGEP/datamodel/pull/146

It's currently not mergeable :
- it requires to alter past deltas (to remove view related commands), which will create issues until we fix pum not to use the file checksums to identify them (for which there's another PR : https://github.com/opengisch/pum/pull/81).
- it's probably a good idea to change a bit how PUM works and wra

[2020-09-16 11:38] kandre opened #600 "[WIP] INTERLIS import/export interface for VSA-KEK"
## General information

- Applicant:  Alexandre Bosshard and Stefan Burckhardt, coordinators and project leaders of the QWAT/QGEP group
- Relevant users: GIS users and GIS administrators
- Technical referent: stefan.burckhardt@sjib.ch
- Developer: OPENGIS.ch GmbH
- Development referent: Matthias Kuhn, Head of Opengis

## Users and administrators needs

### Graphical identity / Logo

Illustrations

[2020-09-16 11:47] kandre commented on #600
This issue is our shared document to define user needs, specifications, timeline and to follow up the execution.
As this feature should be thinked and developed in a participative way, feel free to react by using the comments below.
Issue [#307 in QWAT ](https://github.com/qwat/QWAT/issues/307)is not a duplicate, but very similar as we aim to mutualise as much as possible this development between

[2020-09-16 11:51] kandre commented on #554
Related to #600 and [QWAT #307 ](https://github.com/qwat/QWAT/issues/307)

[2020-09-21 10:19] m-kuhn opened #601 "Add gui functions to recalculate symbology and labels"
Symbology triggers can temporarily be disabled (mostly for import) with `qgep_sys.drop_symbology_triggers()` and enabled with `SELECT qgep_sys.create_symbology_triggers()`.

After this it's required to recalculate the symbology and labels with

[code]

It would be great to have that available from the processing toolbox.

[2020-09-21 10:21] m-kuhn opened #602 "Status checks for the database"
To be able to check the system status, it would be good to have some insights into the system/database without having to use SQL.

In particular:

 - What is the current database version (and ideally what's the latest one available)
 - Are symbology and labeling triggers enabled
 - What is the currently enabled OID prefix

Feel free to add more ideas

[2020-09-25 07:46] sjib opened #603 "Selection of subnetwork and connected table based on various selection criteria"
## General information

- Applicant:  Alexandre Bosshard and Stefan Burckhardt, coordinators and project leaders of the QWAT/QGEP group
- Developer: OPENGIS.ch GmbH
- User group referent: Urs Kaufmann, Holinger Thun
- Developments referent: Olivier Dalong, Opengis

## Users and administrators needs

### Graphical identity / Logo

_Illustrations if applicable._

### Description of users and adminis

[2020-09-28 19:53] urskaufmann commented on #600
General Requirements / Export Log:
I think there should be a log file. I know the Logfiles of the infogrips-tools:
- which configuration / which model is used for the export
- number of records per class to be exported
- number of records in the xml-file per class
- errors

[2020-09-28 20:52] urskaufmann commented on #600
General Requirements / Import:
When is a record a duplicate? Same obj_id, same identifier, same geometry?
If the TV-inspection company starts with a SIA405-export, then we will have duplicate records, but we have no problems - I do not want to see duplicates. I think in this case the obj-id will be the same and the datamodel is vsa-kek.
In other cases of importing data, I will have to look very go

[2020-09-30 19:27] urskaufmann commented on #602
- a statistic of number of records in every table of schema qgep_od.
I have this in gepview. Its a dbf-table in the same directory as the projectfile with a fix name (database-statistic). Every time I start the tool, there is a new column in the table with the number of records and the date in the row "date". It's easy to control your work if you are digitizing a lot (compare with the last statist

[2020-10-02 07:35] sjib commented on #592
@tproduit Your first fixes seem to have been added to master now. Can you confirm and check?

[2020-10-02 07:35] sjib commented on #592
@tproduit Can you work on the option current vs. planned now and check with @DflGruBoe how quickly they would need that?

[2020-10-02 10:55] tproduit commented on #592
@sjib My last merge request is not merged yet. I saw that @m-kuhn did some changes in the swmm_views (descriptions), which will solve some issues.

[2020-10-02 11:00] tproduit commented on #592
@sjib @DflGruBoe I can work on it these next week and create a merge request for mid-november. Would it fit for you? @sjib I will come back to you to plan a remote meeting, I will probably have some questions for you once that I will have start to work on it.

[2020-10-02 13:02] sjib commented on #592
@tproduit @m-kuhn Would be great to have all issues fixed for QGEP/datamodel#147 as @DflGruBoe needs the tool to simulate data in SWMM in current projects and is waiting for it.

[2020-10-02 13:21] m-kuhn opened #604 "WWTP not listed as ws_type"
Wastewater structures of type wwtp are listed as "unknown" in vw_qgep_wastewater_structure.

[2020-10-05 11:01] ScnaGruBoe opened #605 "Problems linking catchment areas (QGEP plugin)"
The "connect wastewater networkelements" tool for linking the catchment areas doesn't work well.
E.g.: Linking the catchment areas with the nodes only works once for one catchment area. After the first link, you are no longer able to click on the same catchment area. For defining the catchment area as separate sewer system, it is essential to be able to link the catchment area twice - once for the

[2020-10-05 12:28] sjib commented on #605
I just tested and on my system it works.
Turn on snapping tool  - turn on edit mode- select catchment. Left click when highlighted. Then the red line shows up and I can click the node. Repeat the procedure a second time.

![ezg_efassen3](https://user-images.githubusercontent.com/1265865/95079317-bb6ba100-0716-11eb-8195-5d646dce369d.jpg)
![ezg_efassen4](https://user-images.githubusercontent.com/126

[2020-10-05 12:29] sjib commented on #605
@varrieta @urskaufmann

[2020-10-05 19:55] urskaufmann commented on #605
It works with the button connect wastewater networkelement. You can define all 4 nodes (if they are different) one after the other graphically. Use the description in Chapter 2.2.7.6.

But I agree, there should be same enhancements to the user interface.
If you work with the button connect wastewater networkelements, you can connect just one catchment area, to just one node and you do not see the

[2020-10-06 13:08] kandre commented on #405
I confirm I have the same problem in 1.5.0 datamodel version.
Thanks for the PR.

[2020-10-06 14:40] ponceta commented on #602
Integration of these into the plugin as a qgep info button?

More to add :

- Layers  where History is enabled : content of qgep_sys.logged_relations

[2020-10-06 14:41] ponceta commented on #601
+1

[2020-10-07 14:11] ponceta opened #606 "Why QGEP?"
As for QGIS, we're searching some key ideas to communicate about QGEP:

Please add your ideas !

- a professionnal tool
- has user experience
- fast and efficient
- customizable
- opensource

Ref : https://docs.qgis.org/3.10/en/docs/training_manual/foreword/foreword.html#why-qgis

Parent QWAT: https://github.com/qwat/QWAT/issues/309

[2020-10-08 05:24] 3nids opened #607 "vw_qgep_overflow is not in the current project"
We have a view for overflows with a linear geometry between nodes defined by fk_wastewater_node and fk_overflow and also joining information in children tables (leapingweir, pump, prank_weir).
The view is currently not in the demo project.

But other views/tables are present, I would recommend to remove them in favor of the views.

Side question for @sjib: why is there a table overflow_char which

[2020-10-08 06:20] sjib commented on #607
Overflow_char is a separate table that has the overflow characteristics in it (CHARACTERISTIQUES_DEVERSOIR)
This are hydraulic data to define the overflow related to the water height. This is often not a linear curve.

[2020-10-08 06:21] sjib commented on #607
@3nids What do you mean by other views/tables are present?

[2020-10-08 06:33] 3nids commented on #607
This are hydraulic data to define the overflow related to the water height. This is often not a linear curve.

Yes, but I don't see a valid reason to have this in separate tables if it's 1:1 relation.

![image](https://user-images.githubusercontent.com/127259/95423143-e2a5b680-0940-11eb-9cb6-b2ee44532505.png)

[2020-10-08 06:43] sjib commented on #607
This has historic reasons, as earlier we have had the status attribut of hydraulic_char_data in overflow_char and there a 0..n relation. I will take this as an input for VSA to think about a change. But backwards compatibility is sometimes also an argument (-:

[2020-10-13 05:02] m-kuhn commented on #606
- scalable
- focus on data - visualize the reality
- know your underground
- standard compliance
- extensible

[2020-10-13 21:04] #405 closed

[2020-10-19 12:59] sjib opened #608 "Missing Triggers and Function in qgep_od 1.5.2"
Dear all
What happended to the trigger and functions in the qgep_od schema?

![od_schema_1 5 2](https://user-images.githubusercontent.com/1265865/96453998-8afa2b80-121b-11eb-82a2-3e23e9da5adc.jpg)

We had quite a bunch of those in older versions:
![od_schema_1_4_x](https://user-images.githubusercontent.com/1265865/96454054-9b120b00-121b-11eb-8df0-01f394e165c2.jpg)

Any hint what I have to run to a

[2020-10-20 06:45] DflGruBoe commented on #608
We updated the database with pum 0.9.12! Maybe the error/problem happened there?

[2020-10-20 11:15] sjib commented on #608
Could it be that pum used [qgep_sys.drop_symbology_triggers](https://github.com/QGEP/datamodel/blob/50150f72092bb835fbccd2ee7f2770095b8b98f8/06_symbology_functions.sql#L531)?

And we have to turn on the triggers again?

Can I just run FUNCTION qgep_sys.create_symbology_triggers that was created with 06_symbology_function.sql

https://github.com/QGEP/datamodel/blob/50150f72092bb835fbccd2ee7f2770095

[2020-10-20 14:25] ponceta opened #609 "Create nodes for detailled wastewater structures"
In Pully we have wastewater structure polygons with no wastewater node or cover attached.

This is a data error but this can't actually be fixed by our geomaticians because there's no simple tool to attach a wastewater node to a wastewater structure if there's no existing node or cover.

I suggest to add a simple python action to create a wastewater node from a wastewater structure.

Example Here

[2020-10-22 07:43] ponceta commented on #609
Not so easy since the relationnal widget is filtering wastewater structures with an existing point geometry, which is exactly the point here.

We can't link it since the point we want to create does not exist yet. (pointception)

[2020-10-22 08:01] m-kuhn commented on #609
Isn't this fixed by https://github.com/QGEP/datamodel/pull/154 ?

[2020-10-22 08:08] ponceta commented on #609
@m-kuhn I still miss one command, I'd like to preset the value fk_wastewater_structure of my "to be created" node to the value from the wastewater_structure obj_id I started from, is it possible?

[2020-10-22 09:04] m-kuhn commented on #609
I think a remote desktop session to look at that would be best.

[2020-10-22 12:12] #547 closed

[2020-10-27 10:26] ponceta opened #610 "Release 1.5.3 ?"
Hi there,

According to https://github.com/QGEP/datamodel/compare/v1.5.2...master

I think it would be wise to publish a 1.5.3 release before any further developments.

It would be wise to test actual master and discuss eventual issues on our next codesprint on 6.11.2020 in Pully.

[2020-10-27 15:01] DflGruBoe opened #611 "Update all symbology: usage_current and function_hierarchic not correct"
We have the problem that whenever there is a SAA-connection to a wastewater structure, the primary wastewater structure (e.g. M21) gets its values (function hierarchic, usage ...) from the minor rainwater or wastewater reach!  Does anyone have an advice?

![image](https://user-images.githubusercontent.com/67325872/97319551-4995fb80-186d-11eb-8bf2-3a39275143e0.png)

![image](https://user-images.git

[2020-10-27 19:30] urskaufmann commented on #611
I can not confirm. Never saw this in my data.
If you do the network following or a lengthprofil you get the result you expect?

[2020-10-28 09:47] DflGruBoe commented on #611
Yes - the network following works and the length profile looks good so far!

[2020-11-05 09:21] m-kuhn commented on #600
For the logs, some feedback about technical feasibility.
As a first step we will show the **logs and errors from ili2pg**, which does a lot of interlis checks out of the box (see [ilivalidator](https://github.com/claeis/ilivalidator/blob/master/docs/ilivalidator.rst)).
E.g. duplicate object ids will according to my current understanding be reported. Depending on parameters as errors or warnings.
T

[2020-11-05 16:22] m-kuhn commented on #611
The problem only occurs when all symbology is updated. When it is created manually and updated through triggers everything works well.
This is a bug, located in the symbology update function with the parameter _all = true

[2020-11-05 17:11] m-kuhn commented on #608
Fixed by upgrading pgadmin.

[2020-11-05 17:11] #608 closed

[2020-11-06 10:28] #611 closed

[2020-11-06 13:37] ponceta commented on #602
Data Quality checks could also be monitored : (using views or map representation)
 - Cover is higher than node bottom_level, (height calculation is negative)
 - Pipe start is lower than pipe end,
 - OID is corresponding to a spatial extent (commune / Gemeinde),
 - Pump should be present when there's a positive slope (ascending),
 - Height at 0.0 should be NULL,

[2020-11-06 13:40] ponceta commented on #602
Information button on the qgep plugin.

[2020-11-06 13:44] ponceta commented on #601
Buttons could be useful to enable and disable symbology and labelling triggers but also to change the oid before entering more data to the database.
For example have drop down menu with actual selected oid and be able to change it before any insertion.

[2020-11-06 14:50] ponceta commented on #602
Differentiate System checks of data quality checks

[2020-11-06 15:15] ponceta commented on #597
Please Checklist before submitting if possible

- [ ] Did you check for an existing issue?
- [ ] Test with latest qgep datamodel and demodata and project?

[2020-11-06 15:18] ponceta commented on #602
Be able to copy and paste to the issue the health and system info.

Send a crash report? Issue a bug report directly from QGEP?

[2020-11-06 15:19] ponceta commented on #597
![image](https://user-images.githubusercontent.com/8614223/98382765-e6b21a80-204b-11eb-8577-e2baf6429a5d.png)

[2020-11-06 15:21] ponceta commented on #597
Let the user choose the pre-defined typology of issue, question or feature request.

Keep it simple for the user too.

[2020-11-06 15:39] urskaufmann commented on #604
I used this class rarely. Means there will be some new attributes in this view (there are already much attributes).
Proposal: a seperate layer for WWTP

[2020-11-11 08:43] DflGruBoe commented on #611
Very good - Solving this problem is important for us. When will the new datamodel be released?

[2020-11-11 10:39] olivierdalang commented on #610
I'll prepare that (hopefully today, if not tomorrow)

[2020-11-11 10:44] m-kuhn commented on #610
CC @DflGruBoe

[2020-11-11 14:26] sjib commented on #611
It is released https://github.com/QGEP/datamodel/releases/tag/1.5.3

[2020-11-11 14:27] sjib commented on #610
https://github.com/QGEP/datamodel/releases/tag/1.5.3

[2020-11-11 14:27] #610 closed

[2020-11-12 16:09] olivierdalang opened #612 "Network views don't load in QGIS after initializing an empty database"
When initializing an empty datamodel from the releases (for example qgep_1.5.3_structure_with_value_lists.sql), the network layers don't load with the `handle unavailable layer` dialog and following message in the log :

[code]

In this case, the "refresh topology" errors with `Error : Could not initialize transaction`, probably because it relies on the network layers to be properly loaded to run.

[2020-11-16 14:45] ponceta commented on #595
Hi @rbovard, I suggest you check again with the 1.5.3 datamodel and demo data:

https://github.com/QGEP/datamodel/releases/tag/1.5.3

I'll do the check on my side tomorrow. I'll comment here if I encounter anything strange.

[2020-11-16 14:59] ponceta commented on #600
@kandre as discussed today, @sjib provides as a table codes and values_fr and values_de for the VSA KEK extension

https://github.com/QGEP/datamodel/blob/master/04_vsa_kek_extension.sql#L264

[2020-11-19 15:13] tproduit opened #613 "Process SWMM report, stop SWMM if inp has errors"
Currently, when the inp file generated contains errors, SWMM fails and make QGIS crash.

1. SWMM should be stopped if the inp file contains errors
2. The status report should be parsed in order to generate a temporary layer with the locations of the errors and an hint on how to solve the error.

Errors that we have encountered until now
[code]
The catchment area is linked to a secondary node
![ima

[2020-11-19 15:15] tproduit commented on #613
@sjib does this issue match our discussion?

[2020-11-19 15:33] sjib commented on #613
Yes, I updated the description to be a little bit more precise. If the side reach would be a secondary wastewater structure the topology would be ok like this.

[2020-11-20 14:10] olivierdalang commented on #600
@sjib @urskaufmann @ponceta
I'm starting to work on this, but need a little bit of information.

- [ ] Is `https://www.sia.ch/de/dienstleistungen/sia-norm/geodaten/` the correct/official place from which to retrieve the current model ?
- [ ] From the files retrieved on the page above, which ili models exactly do we want to use ? `SIA405_Abwasser_3D_2015_2_d-20180417.ili` or `SIA405_Abwasser_2015_2

[2020-11-20 14:31] sjib commented on #600
@olivierdalang

- [ ] I would start with the 2D version. In the new release 2020 the 3D extension will be modelled a bit differently and I think easier (just another EXTENDS).

- [ ] Can you send me the logs for `SIA405_Abwasser_2015_2_d-20180417.ili` then I can look at the failures and check, whether it is because of the model or ili2pg

- [ ] I developed the whole INTERLIS Import / export with i

[2020-11-20 14:40] olivierdalang commented on #600
Thanks !

Here's the full log with `SIA405_Abwasser_2015_2_d-20180417.ili` (added the `--trace` argument) : [fail.log](https://github.com/QGEP/QGEP/files/5574153/fail.log)

[2020-11-23 08:45] tproduit commented on #613
[code]
The subcatchement discharge coefficients are not filled

[2020-12-11 13:44] tproduit opened #614 "SWMM userfriendliness"
**SWMM Create input function**

- Connection to DB,
- [ ] use by default the service used in the current project

- SWMM template  path,
- [ ]  use by default the path to the default template file in the plugin folder

- Error message shown:
- [ ] There is no XXX in the template file: put the message in blue, provide an advice about how to solve it.
- [ ] Explain the next step

**SWMM Checker**
-

[2020-12-15 20:23] sjib commented on #583
Is this still a problem?

[2020-12-15 20:30] sjib commented on #559
@tproduit Is this all solved now - can we close this issue?

[2020-12-15 22:13] m-kuhn commented on #559
CC @olivierdalang you have been working on this?

[2020-12-16 07:16] tproduit commented on #559
Yes these issues  are solved (once merged)

[2020-12-16 07:24] m-kuhn commented on #559
@tproduit which pull request solves this?

[2020-12-16 07:52] tproduit commented on #559
https://github.com/QGEP/datamodel/pull/163
https://github.com/QGEP/qgepplugin/pull/55

[2020-12-16 07:54] m-kuhn commented on #559
Can you edit these pull request descriptions and add `Fixes https://github.com/QGEP/QGEP/issues/559` to the description? That will help for the review process and will close this issue when merged.

[2020-12-16 15:35] #559 closed

[2020-12-16 15:35] #561 closed

[2020-12-16 15:35] #592 closed

[2021-01-08 06:39] ponceta commented on #609
Without any action, it is easier to set a relationship between
**wastewater_strcture**.fk_main_wastewaternode
to
**wastewater_node**.obj_id
as described here :
![image](https://user-images.githubusercontent.com/8614223/103982256-6d39c400-5183-11eb-83d8-7a7f89f1d161.png)

Then with a simple relationship widget you can set the main node to the detailled wastewater_structure.

![image](https://user-i

[2021-01-08 06:39] #609 closed

[2021-01-08 07:25] ponceta opened #615 "Toplogy is slower than before"
Topology was slow in Pully but now it's slower than before :

I used QGIS 3.10.13 and QGEP 1.5.3

![Tology_is_slower_than_before](https://user-images.githubusercontent.com/8614223/103986376-e852a880-518a-11eb-9dc0-5ebe874b247d.gif)

[2021-01-08 08:09] ponceta commented on #615
Old topology for comparison :

![Old_topology](https://user-images.githubusercontent.com/8614223/103990196-20f58080-5191-11eb-9497-487b4622c8b3.gif)

[2021-01-12 09:13] ponceta commented on #615
On QGEP demo data, less slow but makes QGIS CRASH.

![QGEP_demo_topology (4)](https://user-images.githubusercontent.com/8614223/104293816-bc069700-54be-11eb-896e-d5ecb67833db.gif)

[2021-01-12 13:00] varrieta opened #616 "reach_material : PRV au lieu de GUP"
Dans la table qgep_vl.reach_material, la valeur value_fr = matiere_synthetique_polyester_GUP correspond-elle au PRV ?

Si oui, GUP ne devrait-il pas être remplacé par PRV ?

[2021-01-13 08:23] sjib commented on #616
These values come from the SIA405 norm. Can you check the french version?
If it is the same there we have to hand in a change request to SIA / VSA to correct this.
What does PRV mean in French (abreviation for what?)

[2021-01-13 15:08] sjib commented on #530
@urskaufmann Can you check this proposal?
@ponceta Will you have several pipes coming together at a slope, year or diameter change without a wastewater structure? Would that be technically correct? In the primary or the secondary system?

[2021-01-14 14:05] olivierdalang commented on #615
@ponceta Did that behaviour (speed/crash) change recently ? There have been major changes in 1.5.0 regarding networks, but AFAIK not much afterwards.

**About speed**, it seems we don't have a spatial index on the network materialized views. On the demo data it's not really noticeable as the dataset isn't so big.

Can you try to run this to see if it improves speed on your dataset:
[code]
(if it d

[2021-01-14 14:43] ponceta opened #617 "History : Unaudit views does not clean logged_relations"
How to reproduce :

**Audit some views**
[code]

**Unaudit some views**
[code]

Expected : Logged relations is empty

Result : Logged relations is still referencing audited views

Is it because there is a dependancy between logged relations and logged_actions? Or an error in the unaudit_view function?

deactivate_audit function is missing on qgep.

[2021-01-14 15:52] ponceta commented on #615
@olivierdalang Thanks for the index, it does the job indeed. A delta is welcome!

**About the crash,** we should fix that on the demo qgs project on next update.

https://user-images.githubusercontent.com/8614223/104614795-dbe9b680-5688-11eb-8f94-7610ac0586d1.mp4

[2021-01-14 16:48] olivierdalang commented on #615
Ok I'll prepare a PR with that fix then.

Ideally we should fix that in QGIS, as I don't think there's anything wrong with the symbology itself...
Here I'm not able to reproduce. Which QGIS version are you using ?

[2021-01-15 06:35] olivierdalang commented on #615
(reopening as crash is not addressed yet)

[2021-01-15 10:32] urskaufmann opened #618 "Translation of QGEP plugin"
I run QGEP on a German QGIS in a German project. But the plugin is in English.
On transiflex is the plugin translated?
What's the idea for a translated plugin, is there a schedule?

[2021-01-15 14:56] urskaufmann opened #619 "Error on "Reuse last entered values" function"
Get an error, if I want to create more than one new structure part per session.  The PostGIS-error is, that the obj_id is to long, when QGIS creates the new (unique) id like this: newid = oldid_2.

See also #514. The constraints who helped there are defined for the structure_part-obj_id-field
Is this solved in newer QGIS-Versions (I use 3.10.7)?

[2021-01-15 16:46] urskaufmann opened #620 "Networkfollowing Upstream not working after adding new reaches"
After adding a new reach, this reach is not found when I start upstream networkfollowing. After refreshing the network (SQL-Button) I can start from the new reach downstream, but there most startpoints (yellow cross) missing for upstream (and the cursor is turning around all times). There are startpoints at the from-points of reaches with no connections to other network-elements. If I start there

[2021-01-15 16:47] urskaufmann commented on #620
I have to restart QGIS, then network following is ok again

[2021-01-18 09:08] varrieta commented on #616
In the French version it is also "matiere_synthetique_polyester_GUP"

PRV mean in french :  polyester renforcé de fibre de verre

And the traduction for GUP seems to be : GUP (glass fibre reinforced unsaturated polyester)

[2021-01-18 18:49] sjib commented on #616
So do I understand right that the French translation should be
"matiere_synthetique_PRV" or
 "matiere_synthetique_polyester_renforce_de_fibre_verre" to be correct?
Or "matiere_synthetique_polyester_RV"?

[2021-01-18 18:52] sjib commented on #618
@m-kuhn Where is the bottle neck? Transifex or just translation work to do?

[2021-01-18 19:35] sjib commented on #552
@m-kuhn Could you describe what would be needed on QGIS side to get a the automatic label positions in a form, that they could be export for a specific scale including manually placed different positions?

[2021-01-19 06:45] varrieta commented on #616
Yes that is corret. I would go for the first one because the abbreviation PRV is well known.

And also it goes in the same idea as "matiere_synthetique_PVC" (for example).

[2021-01-19 15:22] varrieta opened #621 "Automatical fill in of reach point identifier"
When a reach_point correspond to a wastewater_node, the rp_identifier isn't automatically filled in with the node identifier.
Is there a reason or could we automatize that ?

ps: I thought there was already an issue about that but I couldn't find it. My bad if it does exist!

[2021-01-19 18:13] m-kuhn commented on #621
Would that work, given that there can be multiple rp per node and identifier is unique?

[2021-01-19 19:42] sjib commented on #621
I would rather suggest to use the reach name (e.g. 123-124) to name the two reach_points e.g. add an A for Anfang / begin at the beginning: 123-124A and 123-124E (E for Ende / end). I know this is language based A and E, in French it would be ?? and ??. In English S (start) and E (end).
And we get a problem if the reach identifier is already 20 characters long.

@urskaufmann Any other ideas?

[2021-01-20 06:45] urskaufmann commented on #621
As Matthias says: will not work, because identifier is unique.
My solution (is also in the project template): set the rp_from_identifier = reach - identifier+"F" as default and the rp_to_identifier = reach - identifier + "T" (From/To). (And the reach identifier = reach obj_id).
[image](https://user-images.githubusercontent.com/1257403/105136752-7a936e80-5af2-11eb-8dad-2acea93f0d84.png)

[2021-01-20 07:30] varrieta commented on #621
I prefer sjib solution because with the reach obj_id you don't see quickly which node it is linked to (since the label display the node identifier and not the obj_id)

But indeed this can be manage in the project defaults values. For me the post can be closed.

[2021-01-20 07:41] #621 closed

[2021-01-20 10:43] olivierdalang commented on #618
It seems there's an issue preventing the translations to load...
Just opened a PR with a fix. Did it use to work ? (not sure how this got broken ?!)

I'll also check how up to date translations are (seems like German is OK but French seems lagging behind).

[2021-01-20 10:55] #618 closed

[2021-01-21 09:30] ponceta opened #622 "Simple fix to cut and merge Reaches on demo project"
A fix is still needed on the demo project :

As discussed with @tproduit, we still require to define **ws_obj_id** as UNIQUE in **vw_qgep_reach** form.

Works with transactional AND non-transactional groups activated.

![image](https://user-images.githubusercontent.com/8614223/105331122-61aeba00-5bd3-11eb-9654-50fb5d041206.png)

Should have been shared long ago, sorry for that.

Works on QGIS 3.10

[2021-01-21 09:33] ponceta commented on #622
To be fix with qgs project update 3.16, gentle ping @olivierdalang

[2021-01-21 09:35] ponceta commented on #622
Should have been mentionned here :

https://github.com/QGEP/QGEP/issues/622

[2021-01-21 09:37] ponceta commented on #615
Will be fixed on next qgs project update.

[2021-01-21 10:04] olivierdalang commented on #615
@ponceta I don't think we have a fix for the crash yet, or did I miss something ?
Here I cannot reproduce the crash. I thought it may be related to the small arrow in the network symbology. Do you confirm disabling that arrow fixes the crash ?

If it does, we should either try to fix this in QGIS itself (but that's hard unless we can clearly reproduce the issue), or use an alternative to the arrow

[2021-01-21 10:16] ponceta commented on #615
I can confirm that disabling the middle point does fix the crash.

We should have a QGIS upstream issue for that.

![image](https://user-images.githubusercontent.com/8614223/105336832-fc11fc00-5bd9-11eb-8433-764eb2bf966b.png)

[2021-01-21 10:34] sjib commented on #615
We had this behaviour alread before.
@urskaufmann I remember you described that already somewhere and suggested the same fix as @ponceta  - do you remember where?

[2021-01-21 10:39] sjib commented on #615
@urskaufmann @ponceta I found the issues: https://github.com/QGEP/QGEP/issues/549 and https://github.com/QGEP/QGEP/issues/587
There was already and info that is has been fixed in QGIS 3.10.4. So is this still true or not?

[2021-01-21 20:04] urskaufmann commented on #615
I have no more problem with 3.10.4 / 3.10.7 and  "on central point". When there was a problem, there was a difference between on central point-> crash and on central point of segment -> no crash

[2021-01-21 22:18] urskaufmann commented on #622
Yes, it works. If for the fields identifier and ws_identifier is Default = obj_id / ws_obj_id defined also in case of update, then its even better. But all other fields are copied - means also levels, fk to wastewater-nodes. So there is some manual work to do, that is not obvious. Think also about connections reach to reach (Blindanschluss). They have to be controlled.

[2021-01-22 06:13] ponceta commented on #220
@varrieta please check https://github.com/QGEP/QGEP/issues/622 and ws_obj_id unicity. QGIS 3.10.8+

[2021-01-22 06:17] ponceta commented on #622
Yes thanks @urskaufmann, it is relevant to say that it's only a technical solution but topology and data coherence has to be checked meticulously by the user every time.

Foreign key to wastewater nodes shoud be set actually using the qgep connect tool

https://github.com/QGEP/QGEP/issues/527 is still relevant and should be adressed to simplify the user side mechanics.

[2021-01-22 07:50] varrieta opened #623 "Wincan2QGEP adaptation to wincanVx"
The wincan2qgep plugin needs to be adapted to import data coming from the wincanVx version.

The idea is to use the import/export interface for VSA KEK that is being developed for the NGDI project #600
Thanks @3nids and @sjib for the investigation, I think this would be great.

Nevertheless, I still need to import older inspections that are in the wincanVX format.

@3nids, could we think about ada

[2021-01-22 07:53] 3nids commented on #623
I believe that it should still be possible to export former VX project to Interlis using their software, no?

[2021-01-22 09:59] varrieta commented on #623
I'll ask the inspection companies to see if they have interlis export with the basic wincanVx software and let you know.

@kandre if you have wincanVx, could you try to reexport and inspection in interlis ?

[2021-01-22 10:09] urskaufmann commented on #623
As far as I know, VX has an INTERLIS (VSA-KEK) interface from the start. I've used this once. The main problem: if the company did not import the networkdata with SIA405 at the beginning, then the examination data have no relation to the work plan. You have to assign the examination to the channel yourself. And the export KEK with relation to the SIA405-network was not implemented.

[2021-01-22 10:18] 3nids commented on #623
we can use the same functionnality than in current wincan2qgep plugin by manually setting these relations

What do you mean?

[2021-01-22 11:26] urskaufmann commented on #623
All reach - channel attributes (clear_height, material) was not in the export. There was even no info, if the examination was with or against flowdirection (because there is no link to the start_node)...

[2021-01-22 11:58] varrieta opened #624 "Modifying fk_main_wastewater node through vw_qgep_wastewater_structure"
Shouldn't we add the field fk_main_wastewater_node to the view vw_qgep_wastewater_structure so the main node could be modified ?
(Looking to the view and triggers I feel this isn't possible already, but maybe it is?)

Maybe linked to #609 @ponceta ?

(same for main cover)

[2021-01-22 12:00] varrieta commented on #623
Yes that would be necessary

[2021-01-22 12:49] tproduit opened #625 "view qgep_swmm.vw_conduits might generates an error"
The line `st_simplifypreservetopology(st_curvetoline(re.progression_geometry), 0.5::double precision)::geometry(LineStringZ,2056) AS geom` might generate an error.

Need to be replaced by `st_force3d(st_simplifypreservetopology(st_curvetoline(re.progression_geometry), 0.5::double precision))::geometry(LineStringZ,2056) AS geom`.

Apparently, in some scenario, `st_simplifypreservetopology` changes

[2021-01-22 13:05] ponceta commented on #624
Actually it should be the case if your datamodel is similar to the actual one in demo :

The field is named **wn_obj_id** as **co_obj_id** is the equivalent for the cover.

Trigger and stuff is handled by pirogue when creating views.

If you applied the workflow : drop views - pum update - create views, you should have these two fields in you view

Of course this information is stored in the field

[2021-01-22 13:09] varrieta commented on #624
Thanks @ponceta

That's what I thought but I wasn't sure that modifying the field wn_obj_id (or co_obj_id) would then change the fk_main_wastewater_node (I looked at the triggers but couldn't find it).

[2021-01-22 13:15] ponceta commented on #624
Of course if we want the user to modify this, we should provide the relation and relationnal widget to select the main node on the map eventually.

In Pully I've set it up like that :

![image](https://user-images.githubusercontent.com/8614223/105495047-f4c31f00-5cbb-11eb-9dd4-c77df2dccb6c.png)

Main wastewater node is usually the first node created, that's why we don't modify it, but it's possibl

[2021-01-22 13:16] ponceta commented on #624
Feel free to open a doc issue if you think it is relevant! ;)

[2021-01-22 13:46] varrieta commented on #624
Edit:

Modifying the wn_obj_id doesn't modify the fk_main_wastewater_node (same for cover)

I think the update trigger of vw_qgep_wastewater_structure should be modified to do so

[2021-01-22 14:43] 3nids commented on #623
does this mean we cannot work with the interlis export from Wincan if the network was not given to the company beforehand (i.e. there is not enough info in the export to fill the data into QGEP)?

[2021-01-22 16:15] sjib commented on #623
Attention, we have to first clarify what is the scope of the Wincan import:
a) just the damage codes (those who describe damages)
b) EN codes that give information about the existing network
c) any other form of network data such as material, clear_height etc. that goes beyond the EN 13508 Teil 2 Codes (that are used  in VSA-KEK)

This would be important to clarify before this discussion goes on.

[2021-01-22 16:18] sjib commented on #616
Ok, I will correct that in the new model version of the VSA Release 2020 in the French version planned for Spring 2021

[2021-01-22 16:58] m-kuhn commented on #624
Agreed :+1:
The fix shouldn't be hard to do (but let's not forget a unit test)

[2021-01-26 07:50] ponceta commented on #530
@sjib what do you mean with technically correct?

I would say that if it's what's in the field, then yes. But it could be technically wrong (in the sense of wastewater management), I'm no expert on that. That's why the GIS is here for right? Zoom on technical failures and issues right?

[2021-01-26 13:32] ponceta opened #626 "Maintenance_Event_kind - Is this join useful?"
Demo project :

vw_qgep_maintenance

![image](https://user-images.githubusercontent.com/8614223/105851231-15a0b280-5fe3-11eb-82a6-d52fd197d327.png)

Otherwise, should be removed.

[2021-01-26 13:58] ponceta opened #627 "QGIS Feature count is lost on some layers in qgs project Pully"
**QGIS 3.10.X, QGIS 3.16.X**

QGIS feature count has been lost in translation on my qgs project 👍

[qgep_pully.zip](https://github.com/QGEP/QGEP/files/5873666/qgep_pully.zip)

![image](https://user-images.githubusercontent.com/8614223/105852448-c5c2eb00-5fe4-11eb-9688-f5904cd1045b.png)

It's a funny bug since when restarting project I get to the same feature count.

![image](https://user-images.gi

[2021-01-26 14:12] ponceta commented on #627
Hum...

I removed some joins and obsolete python actions and form relations :

![image](https://user-images.githubusercontent.com/8614223/105855833-cfe6e880-5fe8-11eb-9df8-4a9eaee46e37.png)

Seems to do the job.

[2021-01-26 14:15] ponceta commented on #627
3.16.3-Hannover

Ok only present on QGIS 3.16.3 :

![image](https://user-images.githubusercontent.com/8614223/105856211-41269b80-5fe9-11eb-9daa-f48e7f2e9bbc.png)

[2021-01-26 16:36] sjib commented on #600
**VSA-KEK Testdata**
Kanalschaden (channel_damage): both reference systems / reference by identifier / reference by oid

- testdata_vsa_kek_2019_channel_damage_8486.xtf
- testdata_vsa_kek_2019_channel_damage_8486_identifierref.xtf: `<vonPunktBezeichnung>8486</vonPunktBezeichnung> and <bisPunktBezeichnung>8486.0010</bisPunktBezeichnung>`
- testdata_vsa_kek_2019_channel_damage_8486_oidref: `<Haltung

[2021-01-26 17:02] sjib commented on #626
If you create a maintenance event the attribut kind is important

[2021-01-27 07:04] ponceta commented on #626
What I mean is : are these joined fields relics of an old way to interact with maintenance event? Since they are not show on the form anymore :

![image](https://user-images.githubusercontent.com/8614223/105955127-16365900-6076-11eb-9898-a6ea76148d1d.png)

Same thoughts for the damage layer :

![image](https://user-images.githubusercontent.com/8614223/105955240-3fef8000-6076-11eb-9442-1281be71157f

[2021-01-28 15:48] urskaufmann commented on #623
I have now  a KEK export from Wincan VX. Looks better. There is the wastewater-structure identifier of the from and to manhole in the xtf-file according to the VSA-KEK-model.
[Test Wincan.zip](https://github.com/QGEP/QGEP/files/5888376/Test.Wincan.zip)

[2021-02-01 13:36] m-kuhn opened #628 "Cannot digitize new wastewater structure geometry"
Digitizing a new wastewater structure geometry using the action in the feature form fails with a cryptic warning "Add Part" without more details.
Digitizing a new drainage channel works.

![image](https://user-images.githubusercontent.com/588407/106465903-e5518c00-649a-11eb-9d69-7ac905fd7488.png)

[2021-02-01 13:37] m-kuhn commented on #628
The problem is related to the avoid overlap setting in the project file.

![image](https://user-images.githubusercontent.com/588407/106465952-f9958900-649a-11eb-84c0-dd6895b19a9f.png)

![image](https://user-images.githubusercontent.com/588407/106465963-fdc1a680-649a-11eb-8698-96335320b7c6.png)

[2021-02-02 11:05] varrieta opened #629 "Field maintenance_event_type in vw_qgep_maintenance is redundant"
Is there a reason for the field `maintenance_event_type` to  exist ? It seems redundant because the field `kind` could be use as well:

Maintenance_event_type = 'examination' if kind = 4564
Maintenance_event_type = 'maintenance_event' if kind <> 4564

![image](https://user-images.githubusercontent.com/20111558/106590264-3326cc80-654d-11eb-815c-ba0baafafd0d.png)

[2021-02-03 20:05] urskaufmann opened #630 "Moving wastewater_structures or nodes"
The behaviour when moving a wastewater structure, a node or a cover is no more the same as described in the docu chapter 2.3.2. With the node tool (all layers) I can move only points in the active layer. Can someone confirm?.

Other question: when I move a wastewater node in a manhole with just one node, should then not also the point in vw_qgep_wastewater_structure move to the new location? Becau

[2021-02-04 08:22] ponceta commented on #630
To my knowledge, mutli layer node edit will edit the elements it catch first (if your wastewater layer is on top of your cover and node, this will be your ws layer almost every time (EVEN if you are on the cover or node layer))

Since layer referencing is not set in the demo project we still need to make some adjustments to the qgs project.

Actually if you try to move a node or a wastewater struc

[2021-02-04 12:48] olivierdalang commented on #600
(attaching the data here so it's easier to keep track) [inspectiondata20210126 (1).zip](https://github.com/QGEP/QGEP/files/5925747/inspectiondata20210126.1.zip)

[2021-02-04 16:26] urskaufmann commented on #628
The QGEP-documentation is updated about this problem

[2021-02-04 16:27] urskaufmann opened #631 "No network-following after refreshing topology"
I do a network following. Then I press the SQL button (e.g. because the network following has shown that the topology must be rebuilt) and next try a network following again, then I can't find any yellow crosses to start (sometimes I can't find a starting point only with upstream, but with downstream it does). I then have to, for example vw_qgep_Abwasserbauwerk switch editable and save again, then

[2021-02-05 07:37] varrieta commented on #631
Same here. Sometimes, the upstream tool doesn't show a yellow cross anymore.
Switching the views to editable doesn't make it works for me. I then have to close and reopen the project.

[2021-02-05 08:48] m-kuhn commented on #631
What is the priority of this?

[2021-02-09 09:44] PeterZamudio opened #632 "reach_point identifier not updating with new objects"
The reach_point identifier is not updating with new objects. This causes the following error bei Interlis export:

*** ERROR *** CHECK(errid=11) Bezeichnung has to be defined
              LINE=2181,TOPIC=SIA405_Abwasser,CLASS=Haltungspunkt,TID=ch193u2fRP000012

It's now blocking our uploads to GeoShop so we would be grateful for a Quick-fix

Thank you

[2021-02-09 10:00] PeterZamudio commented on #632
It's the same problem by:

*** ERROR *** CHECK(errid=11) Bezeichnung has to be defined
              LINE=28561,TOPIC=SIA405_Abwasser,CLASS=Einstiegshilfe,TID=ch20edheSP000389

*** ERROR *** CHECK(errid=11) Bezeichnung has to be defined
              LINE=36121,TOPIC=SIA405_Abwasser,CLASS=Haltungspunkt,TID=ch20edheRP000249

[2021-02-09 15:27] varrieta commented on #631
Does anyone else has encountered the issue ? @ponceta ?

If not, I would say that it is a medium priority, because it doesn't happen all the time

[2021-02-10 08:35] varrieta opened #633 "error in vw_qgep_maintenance delete trigger function"
I tried to delete a maintenance event from the view and got that message:

[2021-02-10 08:40] m-kuhn commented on #633
what's the data model version?

[2021-02-10 12:28] varrieta commented on #633
The latest, 1.5.5

[2021-02-10 13:43] sjib commented on #632
@PeterZamudio Did you generate the new objects with the wizard?
Which datamodel version do you use?

[2021-02-10 13:52] sjib commented on #305
#103

[2021-02-10 14:01] sjib commented on #632
@PeterZamudio Can you check whether your behavior when digitizing is like described here: https://qgep.github.io/docs/user-guide/digitizing/digitizingchannels.html

If you do not enter an identifier (reach-identifier) in the General tab, QGEP will enter the obj_id also as identifier (you can change later). As default, the identifier of the reach is also the ws_identifier of the channel. The reachp

[2021-02-10 16:29] PeterZamudio commented on #632
Hello
The new objects are created with the wizard as discribed in  https://qgep.github.io/docs/user-guide/digitizing/digitizingchannels.html. The Reach-identifier is always entered as we have a set system number like 504123 always +1. The problem is by the Reach-Point which is created automaticly.

The Data Model is the newest 1.5.0 updated with PUM

[2021-02-10 16:42] sjib commented on #632
@m-kuhn / @olivierdalang It looks like this rule from the doc is not working:  `The reachpoint-identifier are build from the reach-identifier+’F’ or +’T’ (from- and to-reachpoint).`

Which trigger creates this and might not work?

[2021-02-10 18:28] m-kuhn commented on #632
Interesting, I wasn't aware of such a trigger (but I agree it makes sense) but if it's in the doc it mus have existed at some point.

@olivierdalang can you have a look at vw_qgep_reach insert rules?

[2021-02-10 18:30] m-kuhn commented on #632
Meanwhile it should be possible to use the field calculator to update existing reach point identifiers with `CONCAT("identifier", 'T')` and  `CONCAT("identifier", 'F')` respectively to fixup an already digitised dataset to an exportable state.

[2021-02-11 07:31] varrieta commented on #633
I downloaded the datamodel this monday and used it with PUM to update the datamodel.

My other databases are in version 1.5.3 and in them, the 'ELSE' isn't missing from the trigger.

By the way, where in the datamodel folder can I find this trigger?

[2021-02-11 11:31] olivierdalang commented on #632
The insert/update rule seem to have no specific logic, just uses what's given in the feature from the view (see extract below)-

As far as I can tell, this is only generated by QGIS through the edit form on the reach view. @PeterZamudio can you check that it is configured like this ?

![image](https://user-images.githubusercontent.com/1894106/107631089-c0ac9f80-6c64-11eb-9e93-c382854c36cd.png)

[2021-02-11 11:42] ponceta commented on #631
Any database change processed without a modification in QGIS will result on these kind of issues.

Of course visually QGIS display canvas is fine but everything linked to snapping will fail.

In Pully we have included a manual refresh via a project reloading (file / open recent / ... )

[2021-02-11 11:53] ponceta commented on #633
!! 1.5.5 is not released yet !! Latest official released version is 1.5.4

https://github.com/QGEP/datamodel/releases/tag/1.5.4

This is probably linked to @olivierdalang 's fix not merged yet:

https://github.com/QGEP/datamodel/pull/169

[2021-02-11 12:11] olivierdalang commented on #633
That's strange, I don't see `ft_vw_qgep_maintenance_delete()` anywhere in the QGEP codebase...

Could it be a leftover from old pre-pum times ? But it's not in the demo production dataset either...

So, yes it is linked to that incoming fix about function inconsistencies, but it would probably have slipped through the suggested fix and required some manual fixing. That's slightly scary as I'm not

[2021-02-11 13:19] PeterZamudio commented on #632
Hello Olivier and Matthias
I checked that from above
![grafik](https://user-images.githubusercontent.com/32352291/107640884-34ee3f80-6c73-11eb-9a6f-d5977382950a.png)
It seems the same.
![grafik](https://user-images.githubusercontent.com/32352291/107641258-b0e88780-6c73-11eb-90d9-b83747383478.png)
But the identifier is not being entered by new points and as I can see the reach_point from the import

[2021-02-11 13:24] PeterZamudio commented on #632
Maybe if we could do this "maximum("identifier")+1" I could renumber them and then they should do the rest on it's own.

[2021-02-11 14:29] m-kuhn commented on #632
Can you activate the checkbox below: "Vorgabewert bei Aktualisierung anwenden"?
According to the warning below, that's required to make it work.
From my side adding that to the datamodel directly sounds good as well.

[2021-02-11 14:35] PeterZamudio commented on #632
Thank you Matthias, I will give it a try

[2021-02-11 14:35] varrieta commented on #633
@olivierdalang  Ok I'll send you one by mail.

Is it normal that when downloading the datamodel we can get one that hasen't been released yet (here 1.5.5 instead of 1.4.4)? (althouhg I should have checked it my self, my bad!!)

[2021-02-11 15:41] olivierdalang commented on #633
You need to download from the release tab : https://github.com/QGEP/datamodel/releases

If you download using git, or using "download code" from github, by default you will have the master branch, which is not yet released, which could lead to issues (e.g. deltas that are modified afterwards).

It's an easy mistake though :-/

[2021-02-12 13:42] ponceta commented on #633
Documentation of [install](http://qgep.github.io/docs/fr/installation-guide/database-initialization.html) and [update](http://qgep.github.io/docs/fr/admin-guide/db-update-pum/index.html) is right by the way ;)

https://github.com/QGEP/datamodel/releases/latest

which target is https://github.com/QGEP/datamodel/releases/tag/1.5.4 actually.

[2021-02-15 10:51] PeterZamudio commented on #632
Summery of steps to solve the problem so far:
The problem is that by the SIA405 export there are errors Bezeichnung has to be defined.

Errors are shown:
*** ERROR *** CHECK(errid=11) Bezeichnung has to be defined
LINE=2181,TOPIC=SIA405_Abwasser,CLASS=Haltungspunkt,TID=ch193u2fRP000012

Haltungspunkt and others

The errors originate from the layers reach_point, vw_channel, vw_access and vw_wastwat

[2021-02-15 16:45] urskaufmann opened #634 "VSA-DSS Version 2020"
How and when is the change from VSA-DSS version 2015 to version 2020 made?
Will QGEP support both versions for a while? (the VSA sets a transition period of 3 years).
Can further development of QGEP support both versions during these 3 years?
I think we should have a plan for that.

[2021-02-16 21:48] urskaufmann opened #635 "Can not digitize reaches with QGIS 3.16.3"
Get this error when closing the attribut form:
Layer vw_qgep_Haltung: PostGIS-Fehler beim Attributhinzufügen: FEHLER: NULL-Wert in Spalte »situation_geometry« verletzt Not-Null-Constraint DETAIL: Fehlgeschlagene Zeile enthält (00000000RP000010, null, 00000000RE000005F, null, null, null, null, null, 2021-02-16 21:25:28.193013, null, null, 00000000WN000000). CONTEXT: SQL-Anweisung »INSERT INTO qgep_

[2021-02-16 22:08] urskaufmann commented on #632
I do not understand, why there is this checkbox. If it onlys works with this checkbox, then the checkbox is not necessary. I'm sure, it worked in earlier QGIS Versions without this checkbox.
I did add this default "Vorgabewert" (obj_id+'F') for the reach_point identifier in the project template. And I do not want the identifier to be changed automatically. So I did not check the checkbox.

[2021-02-16 22:20] urskaufmann commented on #632
I can not confirm, that there are empty identifier-fields in reach_point table, when digitizing with the wizard.

I confirm, that there are empty identifiers with structure_parts as access_aide or benching and I'm not able to configure this field to set the identifier by default to the obj_id.
Was there not a general trigger, that the identifier is set to the obj_id, if the identifier is not set b

[2021-02-17 16:48] olivierdalang commented on #635
Ok I could reproduce, incoming fix here : https://github.com/QGEP/qgepplugin/pull/59

[2021-02-17 17:36] olivierdalang commented on #632
As a quick fix, can you try with the following expression in the default value for identifier on the `vw_access_aid` layers (and the other structure parts layers) ? If anyone can come up with a less verbose expression that would be welcome :-)

[code]

If we want to go the trigger/rule way, to keep consistency, I'd be in favor to do so for all default values (for instance also for reach points). A

[2021-02-17 22:33] urskaufmann commented on #632
Does half of the work. It uses the identifier of the parent_wws (or I can change to the obj_id of the parent_wws). What will we do, if somebody changes the wws-identifier?
My idea was: if there is no user-entry, we use the obj_id of the same table (structure_part) as identifier (structure part). Because most people are not interested in this attribute. Why is it not possible to enter 'obj_id' as d

[2021-02-18 15:57] PeterZamudio commented on #632
Just to clarify the settings in default(Vorgaben).
![image](https://user-images.githubusercontent.com/32352291/108380433-1d7cfc80-7207-11eb-8e0b-65a3cc118efe.png)
I have a unique number set and for new data the Identifier is set with default "maximum("identifier")+1"

1. Ticking the "Vorgabewert bei Aktualisierung anwenden" results that with every change to the data that the Identifier gets a new

[2021-02-24 09:25] olivierdalang commented on #632
As far as I understood, the initial issue (reach point identifiers staying null) seems specific to Peter's setup, as neither Urs nor me were able to reproduce.
@PeterZamudio can you please :
- provide exact versions you are using (QGIS, QGEP plugin, datamodel (1.5.0) , Postgres/Postgis)
- see if this issue happens also with the demo data and default QGIS project
- if it doesn't happen with demo da

[2021-02-24 10:36] olivierdalang commented on #632
Optionally, we could additionally enforce this in the insert/update trigger, so that even if things go wrong in the QGIS projet, identifiers get generated.

IMO we should only do that if it's really a requirement of the datamodel to have a non-empty value in identifier, as it brings some ambiguity between identifiers and primary keys. If so, we should also set identifiers to be non-nullable.

In t

[2021-02-24 12:05] DflGruBoe opened #637 "No deltas in log for update to 1.5.4"
Update to version 1.5.4 failed!

[2021-02-24 12:30] olivierdalang commented on #632
Here are the PR to review/merge to fix this:
- 1/2 : default value in the view
  - [ ] Update to datamodel to set a default value for primary keys on views - https://github.com/QGEP/datamodel/pull/173
  - [ ] Update to QGIS projet to use `obj_id` as default for `identifier` - https://github.com/QGEP/QGEP/pull/636
 - 2/2 : enforce at trigger level
   - [ ] Update pirogue to allow for "inner default

[2021-02-24 15:57] urskaufmann commented on #632
Thats the point. I do not want to handle all this mandatory fields manually. I do not use them. The ladder of manhole 1 has no name/identifier. And its obvious that nobody will give a name for the access_aid with kind "none" in manhole 2 :-).
So - duplicate the obj_id to the identifier and forget it, for all identifiers. My Opinion. Hope @sjib will agree...

Attention: if I get data that has Null

[2021-02-24 17:46] kandre commented on #623
We also need a temporary solution as we already received camera inspection in VX format.
For my part, and as a temporary solution, I would need only whats imported through the actual QGIS plugin wincan2qgep. Therefore, from my point of view, the scope would be the damage codes with all associated data related (attributes and files linked).

[2021-03-02 08:26] sjib commented on #637
No files here: https://github.com/QGEP/datamodel/tree/master/delta - why? @m-kuhn

[2021-03-02 08:46] m-kuhn commented on #637
No deltas have been produced, it only ships update to views and role permissions.
These are not managed in deltas.

https://github.com/QGEP/datamodel/compare/1.5.3...1.5.4

Is there an error message?

[2021-03-02 09:54] m-kuhn commented on #637
When updating a datamodel to a new version without any deltas (e.g. 1.5.4) we don't see anything in the log of the database.

Regardless, upgrades are performed successfully.

This will be solved with a command to check the current pum version (https://github.com/opengisch/pum/issues/94) or a log with previously run commands.

[2021-03-02 09:54] #637 closed

[2021-03-03 19:17] sjib commented on #632
I agree with @urskaufmann to just use obj_id as identifier if nothing else is provided. That is a simple solution.

[2021-03-03 19:30] sjib commented on #632
@olivierdalang - what is the difference here? non-null but empty strings ..

In INTERLIS xtf you can have `<Bezeichnung></Bezeichnung>` or not have the tag at all in the dataset (both cases do not fullfill the MANDATORY requirement
or have `<Bezeichnung>XXX</Bezeichnung>` - then the MANDATORY requirement is fullfilled.
XXX then also has to be UNIQUE (together in combination with the `<fk_dataowner

[2021-03-03 19:31] sjib commented on #633
@varrieta Can we close this?

[2021-03-03 19:33] sjib commented on #625
@tproduit Is this fixed?

[2021-03-03 19:35] sjib commented on #623
@kandre Can Wincan get you a new export of the same data in the VSA-KEK -model?

[2021-03-04 06:43] varrieta commented on #633
For me yes because I'll get back to my old version of the database.

@olivierdalang can we close or is it a remaining issue?

[2021-03-04 10:26] tproduit commented on #625
No, I plan to do it in the same time as SWMM phase 2.

[2021-03-04 10:56] sjib commented on #625
#564

[2021-03-04 15:03] PeterZamudio commented on #632
Please bear this in mind when thinking of what to insert into the Bezeichnung. Here in Entlebuch we have a ARA-Pipline that goes through 6 Gemeindes. The ARA-Pipeline is in one data set. The local pipelines, main and secondary are at the moment also in single data sets. Gregor Lütolf has warned me that at some stage in future we will have to put the 7 data sets together as one. If we fill the Beze

[2021-03-04 17:37] sjib commented on #632
Usual Bezeichnung for Channel / Reach is from node - to node. What we discuss for using OBJ_ID = Bezeichnung is when you do not have a Bezeichnung system such as for Reach_points or Bauwerks_Teil (if it is not the main cover)

[2021-03-05 13:06] varrieta commented on #629
@sjib Do you know why the view is made that way?

[2021-03-05 13:28] sjib commented on #629
@varrieta No. Does maintenance_event_type has another value list than kind? Do you see who originally created that view?

[2021-03-05 15:21] olivierdalang commented on #633
Yes I'll close it, the remaining issue is on Pum side (https://github.com/opengisch/pum/pull/97)

[2021-03-08 15:58] ponceta commented on #623
I'm not aware of the ability of the inspection companies to handle VSA-KEK <->Wincan VX mapping.

We've got some .vx files already so it could be great, at least temporary to import these as we did with old wincan files.

[2021-03-09 12:51] varrieta commented on #629
Yes maintenance_event has two value list:  'kind' and 'status'.

No I can't see who created it

[2021-03-11 07:37] ponceta opened #638 "plugin : lib Deprecation warning"
[code]

[2021-03-11 07:48] ponceta opened #639 "QGIS 3.16.4 slow on QGEP"
I'm currently investigating some latency issues on QGEP on latest QGIS 3.16.4

When interrogating a reach with identify tool I get these warnings :

[code]

Is there any way to look at the postgres query done by QGIS?

[2021-03-11 08:02] m-kuhn commented on #638
Fixed in (unreleased) https://github.com/QGEP/qgepplugin/pull/56

[2021-03-11 08:02] #638 closed

[2021-03-11 08:03] m-kuhn commented on #639
I think only by enabling the query log on postgres itself. But it would be a very nice debug enhancement, agreed.

[2021-03-12 09:26] rbovard commented on #595
Hi @ponceta, did you manage to import demo data with success?

[2021-03-12 09:32] ponceta commented on #595
Yes, don't hesitate to call me if you encounter some issues when initializing or when restoring demo data.

[2021-03-12 14:24] varrieta commented on #633
Reopening: I have the same issue in my other (production) databases. They are all in version 1.5.4

[2021-03-12 15:37] rbovard commented on #595
For the record I'm facing the same issue when restoring 1.5.4 demo data in 1.5.4 datamodel.

[code]

PostGIS 2.5.2 is enabled in database (`# \dx`)

[2021-03-12 16:32] sjib commented on #595
Can you test if ST_X function is working (https://postgis.net/docs/ST_X.html)  e.g. with:
`SELECT ST_X(situation_geometry) from qgep_od.wastewater_node;`

[2021-03-12 16:35] m-kuhn commented on #595
@rbovard did you `create extension postgis` in this database?

[2021-03-12 16:36] rbovard commented on #595
Hi @sjib

Thanks for your idea, I already did something similar:

[code]

[2021-03-12 16:36] rbovard commented on #595
Yes, like I said:

[2021-03-12 16:42] m-kuhn commented on #595
Not sure how this could be linked to the error here, but did you also try the qgep_1.5.4_structure_and_demo_data.backup ?

[2021-03-12 16:58] rbovard commented on #595
@m-kuhn Hum... You know what... It's working!!

I don't understand, but thanks...

FYI the only thing I didn't do is `./scripts/db_setup.sh -r` after the DB creation. Does it rings something on your side?

[2021-03-15 06:20] m-kuhn commented on #595
A misalignment of the db_setup.sh created model and the model of the data in the dump? Not exactly sure without having a deeper look.
Should we close this issue?

[2021-03-15 06:24] ponceta commented on #595
I'm looking it right now, I will provide some more information, this regards the linux initialization.

@rbovard did you initialize with : ./scripts/db_setup.sh -s 2056 ?

[2021-03-15 06:59] ponceta commented on #595
From what I see, it seems difficult to restore qgep_demo_data.backup into a previously generated datamodel, even on the same datamodel tag (I tried using 1.5.4 for both model and demo_data dump).

The restoration throws errors due to qgep model data rules like foreign keys and stuff. @rbovard sorry for leading you to this dead end!

`2021-03-15 07:12:33 CET ERREUR:  une instruction insert ou updat

[2021-03-15 07:09] ponceta commented on #595
I successfully initialized qgep datamodel structure with 1.5.4 using :

`./scripts/db_setup.sh -s 2056 -r`

[2021-03-15 07:10] m-kuhn commented on #595
Thanks for the analysis @ponceta

[2021-03-15 07:24] ponceta opened #640 "Differences between datamodel restored and datamodel initialized"
[code]
Manhole (vw_manhole)
https://www.diffchecker.com/pzO5Qiev

Reaches (vw_qgep_reach)
https://www.diffchecker.com/BpSQIzBQ
...

This is due to the fact that views are not regenerated when performing an update on the demo data.

This is a minor bug since it involves only columns order. Nothing to be done here except having that in mind.

[2021-03-15 08:47] tproduit opened #641 "QGEP SWMM export: export seal_factor rather than discharge_coefficient for subcatchment percent impervious"
Currently we are exporting the discharge coefficients for the impervious percentage of the subcatchments:
https://github.com/QGEP/datamodel/blob/6aa60794729f24edcd9a7c6d7ad124a605dec4e9/swmm_views/09_vw_swmm_subcatchments.sql#L23

Apparently, the seal_factors could be more appropriate.
@sjib can you confirm?

[2021-03-16 06:41] urskaufmann commented on #544
I can reproduce in QGIS 3.16.4. So do not check the overlap-option in Layerproperties / Digitize

[2021-03-16 06:43] m-kuhn commented on #544
Do you have a stacktrace from a crash? (The information in the oops, qgis crashed dialog)?

[2021-03-16 07:27] urskaufmann commented on #544
There is just this simple window as in my first comment from 3.1.2020. No oops or crash dialog

[2021-03-16 14:18] rbovard commented on #595
Thanks @ponceta for your feedback and analysis.

I don't think it change anything, I think it's the default value (see [here](https://github.com/QGEP/datamodel/blob/master/scripts/db_setup.sh#L20)). For the record, the `./scripts/db_setup.sh -r` works fine here and I have the same error after with or without `-s 2056`

The error I'm facing is on the restore, like your's `2021-03-15 07:32:11 CET ER

[2021-03-16 15:41] m-kuhn commented on #595
Thanks, the subject has been raised here for internal review, we'll keep this open.

[2021-03-17 14:46] rbovard opened #642 "Duplicate option flag in db_setup.sh"
Flag `p` is defined both for:
- [permissions](https://github.com/QGEP/datamodel/blob/master/scripts/db_setup.sh#L38)
- [PGSERVICE](https://github.com/QGEP/datamodel/blob/master/scripts/db_setup.sh#L45)

[2021-03-19 06:50] sjib commented on #629
#626 - these two issues might be connected

[2021-03-19 12:31] ponceta commented on #639
The full syntax of the QUERY is

[code]

And the select gives an divided by zero error

[2021-03-19 12:46] olivierdalang commented on #600
Current progress report (as presented during code sprint) : https://docs.google.com/document/d/14vW7cjpbyqXFGuwAvThzFhNPDjIiOYTy8csHz9h8bt4/edit?ts=6053791e#

[2021-03-19 12:59] m-kuhn commented on #629
I am not sure where this comes from, I cannot find any reference in this organisation https://github.com/search?q=org%3AQGEP+maintenance_event_type or the git history of qgep datamodel. Is this also in the demo data?

[2021-03-19 13:55] olivierdalang commented on #598
[break outroom QGEP sprint] We all technically agree on the need of just using the deltas to define the datamodel.

Implementation will be part of PUM 2.0, does not make sense to start implementing this with PUM 1.0 as it requires some important changes to Pum (datamodel initialization...)

[2021-03-19 14:32] ponceta commented on #601
Proposition :
Bouton ON/OFF depending on if the symbology triggers are active or not.
Should be provided in the datamodel panel/plugin.

Symbology trigger state should be indicated in health check : https://github.com/QGEP/QGEP/issues/602

[2021-03-19 14:35] ponceta commented on #602
Health check on some information could be provided read only in the user plugin (about section)

Debug info for the administrator.

Heath check proactive with possibility to change some parameters like symbology triggers, datamodel update should be provided in datamodel tool/plugin.

[2021-03-19 14:59] varrieta commented on #623
Wincan is currently updating its export to VSA-KEK in interlis format.

Stefan will ask wincan:
- When will the export to VSA-KEK interlis be ready
- If it's possible to re-export older inspection into the interlis format

Depending on there answer, we will rediscuss the necessity of a temporary solution for inspections in currently into the wincanVx format

[2021-03-19 15:09] olivierdalang commented on #602
Suggestion : implement this as a regular view in the datamodel rather than in the plugin.

Pros :
- easier to maintain (a regular view which can be updated at the same time than datamodel updates)
- separation between datamodel versioning (generic, managed by pum) and the QGEP datamodel iteself (it's own healthchecks)

[2021-03-19 15:12] ponceta commented on #602
Can we display as read only information these view fields easily? That would be a nice help for the administrator to see if the user is working in the good database in his qgs project?

[2021-03-19 15:12] kandre commented on #623
And in case of positive answer for one of these functionnalities, it would be great to know when it will be released.
Hence we can make it in relation with our INTERLIS import development and plan adaptations if needed.

[2021-03-19 15:20] olivierdalang commented on #632
Implementation for this is almost ready, just some minor packaging issues preventing from merging this right now.

We'll probably be able to merge, so you can test before next release.

[2021-03-19 16:13] sjib opened #643 "Adjust qgs Project File and Demodata to version 1.5.4 or newer"
Add additional elements to project:

- [ ] [vw_catchment_area_connections.sql](https://github.com/QGEP/datamodel/blob/master/view/vw_catchment_area_connections.sql)
- [ ] [vw_qgep_maintenance_on_reach.sql](https://github.com/QGEP/datamodel/blob/master/view/additional_views/vw_qgep_maintenance_on_reach.sql)
- [ ] [vw_qgep_maintenance_on_wws.sql](https://github.com/QGEP/datamodel/blob/master/view/ad

[2021-03-19 16:21] sjib commented on #641
We discussed it today:

- ([Abflussbeiwert](https://vsa.ch/glossar/abflussbeiwert/)) (disacharge_coefficient_*) is the correct attribute.
- Seal_factor_* [](([Befestigungsgrad](https://vsa.ch/glossar/befestigungsgrad/))) could also be used - that is a slightly different method to describe how much the catchement contributes to the runoff. So it really depends, which method is used in the community

[2021-03-19 16:36] urskaufmann commented on #634
Codesprint discussion: The VSA creates a converter 2015.xtf >> 2020.xtf (applies to SIA405 and VSA-DSS). An update path would be XTF-export from old database, convert, XTF-import into new 2020 database. Advantage: QGEP does not have to implement the update.
The VSA converter should be ready in June. Ideally, there will then also be a data model 2020 ready for QGEP.
Should the update also be possib

[2021-03-19 17:15] urskaufmann commented on #9
This is the issue we where talking about this afternoon at codesprint 4: Labeling the I1, I2 along the reach next to the manhole.
The challenge: the reach or reachpoint does not know, which number in the manhole-label it is (I1, I2 or...). Possible solution: create a new field (qgep)_field, where the text I1, I2 or O1 is fixed.  The manhole-label takes all information from this field and the level

[2021-03-22 12:23] tproduit commented on #641
https://github.com/QGEP/QGEP/issues/614
Implement an option to choose between _seal factor_ or _discharge coefficient_ export

[2021-03-22 12:43] sjib commented on #614
I have set the priorities for this issue. @tproduit 3. Prio we have to discuss first, before you work on this

[2021-03-22 14:56] sjib commented on #623
Here are the instructions on WinCan VSA-KEK Export - they say it's available in the current release (damage code data, network data is planned for the next release):

[https://cdlabdev.atlassian.net/servicedesk/customer/portal/7/article/1474560014](https://cdlabdev.atlassian.net/servicedesk/customer/portal/7/article/1474560014)

Can you make a test an check against this datamodel: https://www.vsa.

[2021-03-22 16:08] ponceta commented on #639
This is due to some invalid geometries issues in my reaches

![image](https://user-images.githubusercontent.com/8614223/112019586-dba9e380-8b2f-11eb-8677-342d4b621cdf.png)

I think we should not accept invalid geometries as reaches in QGEP.

[code]

Or simpler check ST_Length > 0

[2021-03-22 16:12] sjib commented on #639
I think [https://postgis.net/docs/ST_IsValid.html](https://postgis.net/docs/ST_IsValid.html) would be good as it gives hints on what is wrong.

ST_Length > 0 is a test, but does not help with debugging.

[2021-03-22 16:14] sjib commented on #639
Or even [https://postgis.net/docs/ST_IsValidDetail.html](https://postgis.net/docs/ST_IsValidDetail.html)

[2021-03-24 14:57] tproduit opened #644 "QGEP-SWMM change infiltration export in function of infiltration method in the template file"
Currently, the infiltration view sets the 5 parameters required by the Horton method.
https://github.com/QGEP/datamodel/blob/master/swmm_views/09_vw_swmm_subcatchments.sql#L186

However, another method could be set in the inp template file:
![image](https://user-images.githubusercontent.com/8256037/112330709-91a03980-8cb8-11eb-95c2-5ac7d152ce52.png)
In this case the number and names of the infiltr

[2021-03-25 06:30] ponceta opened #645 "Enhance Value lists with description fields"
In QGIS 3.16.X, we created the possibility of displaying description values around value lists attributes. If you set this field in a form, you will get a small pop up when over a value in a value list which uses the description field.

It would be nice to be able to use this in QGEP too since we have these description fields already listed in qgep_sys.dictionary_od_fields.

![image](https://user-

[2021-03-30 12:11] tproduit opened #646 "QGEP SWMM raingages export"
Currently one raingage per subcatchment is exported. Then, the user can assign the same rain to each raingages. However, the most common case would a single raingage for the entire study area.

In special cases, if the study area is very hilly and extended the user could then choose to add more raingages manually.

[2021-03-30 13:04] tproduit opened #647 "QGEP SWMM: subareas are not exported"
The sql behind the vw_subareas must be replaced by (the last CASE is missing):

[code]

[2021-03-31 06:53] sjib commented on #646
@DflGruBoe @kfischerar @urskaufmann What do you think about this. How many raingauges do you need in your projects?

[2021-03-31 06:57] sjib commented on #644
Did someone use another infiltration method than Horton in hydraulic simulations? @urskaufmann @DflGruBoe @kfischerar

[2021-03-31 07:50] tproduit commented on #613
[code]

 `qgep_od.catchment_area.population_density_current` or `qgep_od.catchment_area.population_density_planned` are not filled

[2021-03-31 19:37] urskaufmann commented on #646
Till now the problem was, how many raingauges with good data are available in a study area. I have always defined the raindata in the hydraulic program, not in the vsa-dss database.

[2021-03-31 19:40] urskaufmann commented on #644
I did not use detailed infiltration models till now

[2021-04-01 11:17] olivierdalang commented on #635
The fix is now in master, will be available on next plugin release (not sure if/when scheduled)

[2021-04-01 11:17] #635 closed

[2021-04-07 13:31] sjib commented on #535
@ponceta @urskaufmann  Did you write a short documentation already on how to split a reach with the current QGIS tools already? Here I did not find any details: https://qgep.github.io/docs/user-guide/editing/editing.html#split-a-reach-channel-into-different-reaches

[2021-04-07 13:51] bogdanvaduva commented on #535
@sjb I have a function that splits a reach by a point, may be it helps you:

`CREATE OR REPLACE FUNCTION public.qgep_od_fn_pipe_split(
	v_obj_id character varying,
	v_point character varying DEFAULT ''::character varying,
	v_srid integer DEFAULT 3844)
    RETURNS void
    LANGUAGE 'plpgsql'
    COST 100
    VOLATILE PARALLEL UNSAFE
AS $BODY$
DECLARE v_record record;
DECLARE v_level numeric;
DECLAR

[2021-04-07 13:55] sjib commented on #535
@ bogdanvaduva Does it also add a wastewater_node inbetween the two new reaches?

[2021-04-07 14:01] bogdanvaduva commented on #535
@sjib it does, because the main reach is reduce to a new calculated size and a new reach is inserted.

[2021-04-07 14:24] bogdanvaduva commented on #535
@sjb I forgot to add one thing, the function above splits the reach and add wastewater_node, but it needs user supervision to check start and end wastewater_nodes to see what you get. I did not spent that much time into it because for me it was enough. Take it as an example.

[2021-04-07 15:19] sjib commented on #535
@bogdanvaduva Thanks for clarification and the example.

[2021-04-07 18:05] sjib commented on #535
@bogdanvaduva Any hint why I get this Error: ERROR:  FEHLER:  Syntaxfehler bei »(«
LINE 68: ...th(ST_EndPoint(v_geom3d),ST_StartPoint(v_geom3d)))(ST_Distan...
                                                              ^

[2021-04-07 18:07] sjib commented on #535
@bogdanvaduva same Error in LINE 70

[2021-04-08 04:46] bogdanvaduva commented on #535
@sjb the error come from github Insert code, it deleted * (multiply).

CREATE OR REPLACE FUNCTION public.qgep_od_fn_pipe_split(
	v_obj_id character varying,
	v_point character varying DEFAULT ''::character varying,
	v_srid integer DEFAULT 3844)
    RETURNS void
    LANGUAGE 'plpgsql'
    COST 100
    VOLATILE PARALLEL UNSAFE
AS $BODY$
DECLARE v_record record;
DECLARE v_level numeric;
DECLARE v_geo

[2021-04-08 04:49] bogdanvaduva commented on #535
@sjib github insert code delete * (multiply). I attached a file.
[split.sql.txt](https://github.com/QGEP/QGEP/files/6276087/split.sql.txt)

[2021-04-08 08:38] tproduit opened #648 "QGEP SWMM: fill wastewater_node.backflow_level and reach.hydraulic_load"
- Discuss with the group how these two attributes could be filled with SWMM computed values.
- Document a manual workflow in QGIS to fill the attributes

[2021-04-08 08:53] tproduit opened #649 "QGEP SWMM: Generate and export result from .out file"
Currently, _swmm execute_ generates a summary of the results in a text file (`.rpt`).
If the group find that usefull, there is the possibility to generate a binary `.out` file. This file contains the complete results and the entire time series for the nodes or the links.
To extract results from the `.out` file, a library must be used (one possibility is: https://pythonhosted.org/SWMMOutputAPI/swmm

[2021-04-08 09:13] sjib commented on #648
Definitions:

- wastewater_node.backflow_level(_current): 1. Relevant backflow level based on the calculation rain (dss)   2. Height below which special measures against backflow are to be taken within the property drainage system. (DIN 4045) / 1. Massgebende Rückstaukote bezogen auf den Berechnungsregen (dss)  2. Höhe, unter der innerhalb der Grundstücksentwässerung besondere Massnahmen gegen Rüc

[2021-04-08 09:27] ponceta commented on #626
I thought this was solved by represent_value but it seems that using represent_value could not solve all use cases.

Example for reach material, if you want to use both **value_fr** AND **abbr_fr** (e.g. symbology + form)
you have to create a join for one of the values.

[2021-04-08 09:27] #626 closed

[2021-04-08 09:28] tproduit commented on #649
Actually, the swmm command line generate a text will with all the time serie. No need to process the binary out file.

[2021-04-08 09:28] #649 closed

[2021-04-08 09:42] sjib commented on #535
Great - the function works now:
![split_reach_1](https://user-images.githubusercontent.com/1265865/114004460-f930ba00-985e-11eb-919e-42d1d8cd2069.jpg)

What I do not know is where it splits the reach exactly - in the middle?
![split_reach_2_missing_relations_fk_wastewater_networkelement_in_new_reach](https://user-images.githubusercontent.com/1265865/114004479-fc2baa80-985e-11eb-87e9-d65a6d98aa07.j

[2021-04-08 10:23] bogdanvaduva commented on #535
@sjb fn_pipe_split takes 2 arguments reach id and the point where you want to split the reach. if this point is not specified then the reach is split by centroid. Yes, fk_wastewater_network_element are empty for the reach but the actual nodes are created, that why i said it needs user supervision. In my case I manually update fk_wastewater_network_element values with what I find from the map. To m

[2021-04-08 11:03] sjib commented on #535
@bogdanvaduva So if I understand you right` v_point character varying DEFAULT ''::character varying` would need to be the identifier of an existing wastewater_node to be the locations, where the reach is split? I would therefore first have to create it to be included in the operation of the code. Would the code then make the foreignkeys to that wastewater_node automatically?

[2021-04-08 11:08] sjib commented on #535
@bogdanvaduva So the call of the function should look like this?
`SELECT qgep_od.fn_pipe_split('00000000RE017209', '2748857.76,1264865.75');`

[2021-04-08 11:18] bogdanvaduva commented on #535
Almost right :)
SELECT qgep_od.fn_pipe_split('00000000RE017209', 'point (2748857.76,1264865.)’;

[2021-04-08 11:21] bogdanvaduva commented on #535
V_point it s a point astext. Uou don,t have to create wastewater nodes the insert will do, but the initial and the new reach will have it wastewater nodes mixed up. Here i manually update those nodes with what i see on the map based on nodes geometry.

[2021-04-08 11:25] sjib commented on #535
@bogdanvaduva Great - so we could further develop the code to have those things set automatically correct also. Thanks for the work already done.

[2021-04-08 11:29] bogdanvaduva commented on #535
Yes, welcome

[2021-04-08 15:48] olivierdalang commented on #620
Would be fixed by https://github.com/QGEP/QGEP/issues/620

[2021-04-08 15:48] olivierdalang commented on #612
Would be fixed by https://github.com/QGEP/QGEP/issues/620

[2021-04-08 17:38] sjib commented on #648
@tproduit  Results for reaches in Mike+:

![mikeplus_reaches_result_summary](https://user-images.githubusercontent.com/1265865/114071432-66653f00-98a1-11eb-9f38-96df81195b11.png)

![mikeplus_ergebnisse_haltungen](https://user-images.githubusercontent.com/1265865/114071440-68c79900-98a1-11eb-8b48-b56f6f16f575.png)

Max discharge / Qf sounds pretty similar like the definition of reach.hydraulic_load

[2021-04-08 17:43] sjib commented on #648
@tproduit Results for nodes in Mike+:

![mikeplus_nodes_water_levels](https://user-images.githubusercontent.com/1265865/114072459-982ad580-98a2-11eb-9f93-d9a0027305cc.png)

![mikeplus_ergebnisse_knoten_becken](https://user-images.githubusercontent.com/1265865/114072468-99f49900-98a2-11eb-8256-a10f2ebe691b.png)

For backflow_level

[2021-04-08 17:45] sjib commented on #648
@tproduit Results for weirs etc. in Mike+:

![mikeplus_weirs_orifices_gates_discharge](https://user-images.githubusercontent.com/1265865/114072856-f788e580-98a2-11eb-9f2b-e7595419db13.png)

![mikeplus_ergebnisse_pumpen](https://user-images.githubusercontent.com/1265865/114072870-f9eb3f80-98a2-11eb-86b2-ef5a7ea0a8ac.png)

![mikeplus_ergebnisse_wehre_schieber](https://user-images.githubusercontent.c

[2021-04-08 17:56] sjib commented on #648
SWMM results (chapter 9.2 Viewing Summary Results ) [User Manual](https://www.epa.gov/water-research/storm-water-management-model-swmm-version-51-users-manual)

![swmm_results_nodes](https://user-images.githubusercontent.com/1265865/114074201-69adfa00-98a4-11eb-9d0e-c7e8eb3bac43.jpg)

![swmm_results_links](https://user-images.githubusercontent.com/1265865/114074211-6ca8ea80-98a4-11eb-8702-1cbeb0a1

[2021-04-09 06:23] bogdanvaduva commented on #535
@sjb I've updated the function with wastewater_node updates and I've added a new parameter that allows you to add an 'unknown' wastewater_structure in the same point where the reach is split.
[split.sql.txt](https://github.com/QGEP/QGEP/files/6283565/split.sql.txt)

[2021-04-09 07:49] sjib commented on #535
@bogdanvaduva We have formulated in this issue [#527 ](https://github.com/QGEP/QGEP/issues/527) what options a splitting tool for QGEP would have to provide. I have also tried out some things with your code yesterday. Here my version:
[create_qgep_od.fn_pipe_split_paa.sql.txt](https://github.com/QGEP/QGEP/files/6284033/create_qgep_od.fn_pipe_split_paa.sql.txt)

Maybe it would help to set an online

[2021-04-09 08:17] bogdanvaduva commented on #535
@sjb I've seen that you addressed some things that I haven't consider before.
Yes we can talk about it next week (monday for example)., Let me know about meeting details.

[2021-04-09 08:21] m-kuhn commented on #535
Some things to consider too:

- How does this deal with objects that are not yet in the database (in the edit session in qgis)? I think @ponceta and maybe others (?) don't use transaction mode.
- How do we deal with default values configured in the QGIS vector layers' attribute widgets
- How would this be triggered from qgis (user interface wise)
- How does this integrate with other qgis specific

[2021-04-09 08:30] sjib commented on #527
Here a basic overview how primary (PAA) and secondary (SAA) networks are modelled:
<img width="599" alt="Erfassungsrichtlinien_Abb 1-1" src="https://user-images.githubusercontent.com/1265865/114151932-f3e67480-991d-11eb-8113-9a28e71ae3ec.png">

The VSA Wegleitung Daten der Siedlungsentwässerung specifies in details which network topologies for SAA are valid or not valid (see https://vsa.ch/wiki/er

[2021-04-09 09:02] ponceta commented on #535
@bogdanvaduva @sjib Thanks for going further on this subject! I follow you closely and it seems very promising.

- To address @m-kuhn comment on object that are not yet in the database, saving (database commit) reach before splitting it can be an option when using qgep tool. (users save features more often when not in transaction mode)
- I agree with @m-kuhn that other 3 points need to be addresse

[2021-04-09 09:07] sjib commented on #535
@ponceta @m-kuhn Would it be wise to include you too (or one of you) in a online meeting? Would Monday fit you? If yes do you have an email contact of bogdan and we can arrange the meeting time by e-mail?

[2021-04-09 09:16] bogdanvaduva commented on #535
@sjib mail email address is bogdan underscore vaduva at yahoo

[2021-04-09 15:39] m-kuhn commented on #535
I think it would be good to discuss this, yes.

Since I won't be available on Monday and for general consideration prior to the meeting, I'll leave a couple of further thoughts here:

 - the inverse operation of merging reaches has an even bigger need for plugin side code (to define which attributes to preserve) and having this functionality partially live on client and on server is not necessaril

[2021-04-12 10:35] m-kuhn commented on #634
I think some pre-analysis would be good here.

What does the VSA converter do?
The advantages of a pum update is, that we preserve user data (old obj ids, main cover, ...)
The complexity is hard to know without an in depth analysis of the changes

Same, without an in depth analysis it's hard to know.

- Removed attributes will be ignored by QGIS, that's not a problem.
- New attributes will need to

[2021-04-14 15:39] sjib commented on #153
The new version of VSA-KEK places damage_begin, damage_end and distance in the subclasses as with channel_damage those fields are MANDATORY and in manhole_damage not. Do we want to solve this issue on the import / export interface or do we change that (again), as in a form you should be able to set it to MANDATORY?

[2021-04-14 20:00] sjib opened #651 "INTERLIS Export - missing matches of values"
@olivierdalang When exporting the demodata with INTERLIS Export I get the following errors when checking the export.xtf:

![export_interlis_demoprojekt_fehler](https://user-images.githubusercontent.com/1265865/114771372-c01bac80-9d6c-11eb-9122-c2904135b1eb.jpg)

How do you do the matching?
Via the vl_* tables:?

There I can find the missing values

![vl_structure_renovation_necessity](https://user

[2021-04-15 08:09] olivierdalang commented on #651
About the missing VL, it's just a small mistake in the code (fixed in https://github.com/QGEP/qgepplugin/commit/b37746704e9f8b20ebcd4611be9b80ebc7f22734).

There's another error about invalid OID, is that part of this issue ? If so, can you please reopen this issue

[2021-04-15 09:28] sjib commented on #651
No, invalid OID is because I did not set an valid prefix.

[2021-04-15 09:29] sjib commented on #651
@olivierdalang But I think we should discuss to use our metatables in qgep_sys to do the matching and not hardcode it.

[2021-04-15 12:18] sjib commented on #524
How can I manually run this function:  qgep_od.update_wastewater_structure_label? What are the parameters if I want to update all labels?

[2021-04-15 12:44] bogdanvaduva commented on #524
Have you tried SELECT qgep_od.update_wastewater_structure_label(
	null,
	true
)?

[2021-04-15 16:09] sjib commented on #524
@DflGruBoe Can you test whether it does what you want? The query itself runs on my system, but I cannot check whether it solves your problem.

[2021-04-15 17:55] m-kuhn commented on #524
See also https://github.com/QGEP/QGEP/issues/601

[2021-04-16 07:26] sjib commented on #527
Use cases:  Splitting reach

- [ ] Splitting PAA reach because hydraulic values (slope, diameter, strickler) are changing - then only the reach is split - channel should  not be split, but a new wastewater_node has to be added at the split point
- [ ] Splitting PAA reach in two channels and two reaches (e.g. because of a construction_year changes) - then a new channel and a new reach are created a

[2021-04-16 07:37] sjib commented on #527
Use cases: Merging reach

- [ ] Merging two reaches with a wastewater_node and wastewater_structure inbetween (e.g. data from other system with "fictive" manholes - that we do not have in VSA-DSS
- [ ] Merging two reaches just with a wastewater_node inbetween -> one new reach instead of two - user input which attributes should be used for new reach (reach1, reach2, mix), wastewater_node will be de

[2021-04-16 07:49] sjib commented on #535
Another question:

- If we merge two objects should the new object get a new obj_id or keept the obj_id of one of the old ones? Do we consider this as an process where an old object dies (and would maybe also need to keep it in another status)
- The same question if we split a reach - do we keep the obj_id for one reach or give both new reaches an new obj_id?

[2021-04-16 07:51] sjib commented on #527
General considerations about status and lifecycle of changed objects see https://github.com/QGEP/QGEP/issues/535#issuecomment-820989385

[2021-04-16 08:19] urskaufmann commented on #527
I would not fix this with use cases (automatic).
The user should choose freely:
- split channel also (or just split reach)
- add a node (then connections go to node) or no new node (then connections go to reach)
- enter the level of the reachpoints at the split-point or use the average gradient
- enter the splitpoint as distance (+ = measured in flow direction, - = measured against flow direction)

[2021-04-16 13:39] #632 closed

[2021-04-16 15:07] olivierdalang commented on #632
Ok this is ready to be tested (note that it requires an update to the datamodel, which itself requires upgrading python dependencies, as well as getting the updated QGIS project)

[2021-04-22 06:54] sjib opened #652 "Enforce range limits for non-value list attributes"
Up to now the QGEP datamodel does not define min / max ranges for non-value list attributes.

Example: manhole.dimension

INTERLIS Definition:
`!!@comment = "Abmessung Einheit Millimeter [mm], neu 21.2.2012"
    **Abmessung = 0 .. 4000 [Units.mm];**

...

CLASS Normschacht EXTENDS Abwasserbauwerk =
  ATTRIBUTE
    !!@ comment = "Einschränkung der Bezeichnung auf Text*20 "
    Bezeichnung (EXTENDED

[2021-04-26 19:30] urskaufmann commented on #652
I have defined in the default project these min max values in the layerproperties/attributform for all numeric fields, with the min max values of the qgep_sys.dictionary_od_field.
If we include it in the datamodel definition, it is no more possible to import data, that does not follow the rules. It's not always possible to refuse a transfer-file with errors to the sender.
I prefer a strong control

[2021-04-26 20:00] urskaufmann commented on #643
Both vw_qgep_maintenace_on_reach/wws.sql have a problem (I think with the geometry-field) and should by granted to qgep_user instead of qgep). If the views are in the datamodel, I can take them in the project file.

vw_catchment_area_connections are now just defined for the two current cases, not for the planned cases. I prefer to have additional information (length of the connection line) to find

[2021-04-30 14:19] urskaufmann opened #653 "Connect catchment_area to networkelement choose the wrong layer"
with the "connect wastewater networkelements" button we connect also the catchments. If there is an other layer (e.g. a shape-layer with filename "catchment*" in the project, then the connect-tool snap's to this layer and not to the QGEP-catchment-layer.

Workaround: rename the shape-file.

To be considered: ask the user, which one is the correct layer if there are several layers with catchment in

[2021-04-30 18:12] urskaufmann opened #654 "Problem with Widget Type Value Relation"
To use a Value Relation for the fk_wastewater_networkelement in catchment_area would be a good thing. It is possible to enter a fk by typing the identifier (and not the obj_id) of a node (also in a multiedit session!). The option "use completer" is very helpfull, otherwise the list is much to long.  See the picture for the settings.

The problem is, that it's no more possible to delete a fk (set t

[2021-05-03 20:42] urskaufmann commented on #643
The problem a mentioned with vw_qgep_maintenace_on_reach/wws.sql is my primary-key-field. If I uncheck the option to Check PK unicity while adding the layer to the project, it works even with my numeric obj_id-field.
Is this a problem?

[2021-05-03 20:53] urskaufmann opened #655 "Select connected record with a selection"
Is there a simple (QGIS-)way to select records in a connected table?
Example1: I select all maintenace_events with status = planned. I want to select all reaches that are connencted to the selected maintenance_events (via the re_maintenance_event_wastewater_structure-table)
Example2: I select some wastewater_nodes. I want to select all catchment_areas that are connected with rainwater_current-fore

[2021-05-05 12:29] ponceta commented on #475
I can close this since it works with limitations but standardized data import via INTERLIS VSA-KEK will be developped in the future.

[2021-05-05 12:29] #475 closed

[2021-05-05 12:30] ponceta commented on #361
Works pretty great since 2019 in Pully. Open new issue if any new bugs are found.

[2021-05-05 13:13] m-kuhn commented on #639
See also considerations from @urskaufmann on https://github.com/QGEP/QGEP/issues/652#issuecomment-827089568 about strict constraints. In particular, we need to have a concept for importing faulty data (for fixing it).

[2021-05-18 10:37] urskaufmann opened #656 "how to delete a selection of detailed geometries"
detailed geometries can be deleted with the remove part tool (chap 2.2.6.5 in the QGEP-docu). You have to click on every detail geometry. How can I delete a selection of detailed geometries without clicking every record?

[2021-05-19 12:36] ponceta opened #657 "QGEP in french or german"
As I've seen from the documentation, it's not a simple operation for a user to get a translated project in french or german.

We should provide it if we can, at least basically, even if it's not fully translated.

Having this option would push contributions towards the translations.

[2021-05-19 15:13] sjib commented on #657
@ponceta Do you think it is too complicated just to leave the qm file in the same folder?
[1.4.5. Install the demo project](https://qgep.github.io/docs/installation-guide/workstation.html#install-the-demo-project)

What then could be improved?
Or what do you mean with a translated project? Translated data or just translated user interface?

[2021-05-25 06:11] ponceta commented on #657
@sjib That's maybe because I didn't find where to look for the qgep_fr.qm file :S

And I won't be the only one I think.

[2021-05-25 06:23] ponceta commented on #656
If you mean without removing the corresponding wastewater structures you can't natively on QGIS.

But I'm sure we can add a small action to do this? Or ask for a QGIS core feature?

![Remove_multiple_detailed_geometries](https://user-images.githubusercontent.com/8614223/119449043-670f4300-bd32-11eb-8bee-5ad614b16067.gif)

[2021-05-25 13:21] urskaufmann commented on #656
@ponceta : Yes, without deleting the wastewater structure. Otherwise it's easy.  What you show in the video is the thing described in chap. 2.2.6.5. It works also without selecting the polygon before.
My problem: I got Geonis-Data - and there you have a detailgeometrie with every reach and every manhole...

[2021-05-25 13:59] sjib commented on #656
@urskaufmann Can't you just delete the detailed_geometry in pg_admin in the database.
Something like:
`DELETE detailed_geometry_geometry FROM qgep_od.reach WHERE ..`. (and make a selection, if you do not want to DELETE all)?

[2021-05-25 14:36] urskaufmann commented on #656
Something like (but do not know the right expressions):
UPDATE qgep_od.wastewater_structure
SET detail_geometry_geometry = ''
WHERE fk_main_wastewater_node IS NULL

[2021-05-26 13:39] ponceta commented on #656
@urskaufmann Does this solve your problem? Or do we need some graphical tool?

[2021-05-26 16:04] urskaufmann commented on #656
Yes, if there is a simply WHERE definition and if I am a database admin.
No, if I am a qgep-user.
It should be possible to delete all detail_geometries of a selection in the layer od_wastewater_structure.
And to make a selection, there should be more attributes (also from related tables as manhole-function, specialstructure-function) in the attribute table, which means, it should be a view.

[2021-05-27 13:45] olivierdalang commented on #633
Looked into that again. Actually I was wrong, ft_vw_qgep_maintenance_delete() is indeed normal, and from your dump it seems you have the correct one.

The issue arises because when there is no `examination` row related to the maintenance, the maintenance_event_type will be set to a generic `maintenance_event`, which it seems the trigger does not support.

Here I'm able to reproduce the issue if I

[2021-05-28 08:26] olivierdalang commented on #600
Implementation for this is tracked here : https://github.com/QGEP/qgepqwat2ili
(included as submodule in qgepplugin)

[2021-05-28 11:30] sjib opened #658 "Database error when adding a new reach"
I was installing QGIS 3.16 today on a new PC and then wanted to show the current demoproject. I faced two problems:

1. The demoproject did not translate to German when opening it with the qgep_de.qm file in the same folder and using a German QGIS installation.
2. I got the following error when trying to use the QGEP Wizard and creating a new reach:
`2021-05-28T11:07:23     CRITICAL    Layer vw_qg

[2021-05-28 12:13] m-kuhn commented on #658
1. Check in your qgis settings if the language set to "override system locale" and "German", I think if "override system locale" is not activated it doesn't work (QGIS issue). Can you verify and report back. If you confirm we can open a QGIS upstream issue.
2. Can you add details about data model, @olivierdalang does this speak to you?

[2021-05-28 12:39] sjib commented on #658
I downloaded the datamodel today (demoproject dump) https://github.com/QGEP/datamodel/releases/download/1.5.4/qgep_1.5.4_structure_and_demo_data.backup

[2021-05-28 12:45] sjib commented on #658
This hint solved the issue with translation. Thanks!
![system_locale_flag](https://user-images.githubusercontent.com/1265865/119985744-57f2f400-bfc3-11eb-8cc0-39cb494eca8a.jpg)

[2021-05-28 12:52] m-kuhn commented on #658
Upstream issue opened https://github.com/qgis/QGIS/issues/43433

Renamed issue to focus on one thing

[2021-05-28 13:39] urskaufmann commented on #658
The null-value reach is described in Issue #635. But the solution is not in the plugin!!!
Please update the plugin!

[2021-05-31 14:39] varrieta commented on #633
But how did you do to insert an examination from w_qgep_maintenance ?
I had to modify the form (picture below) so I can add examination. Without this modification and even if I fill the row related to the examination, the maintenance_event_type is always 'maintenance_event'
![image](https://user-images.githubusercontent.com/20111558/120207593-eb7b2d80-c22c-11eb-8e14-279b5e00d625.png)

[2021-05-31 14:42] varrieta commented on #633
But whatever type it is, when I try to delete from the vw_qgep_maintenance_event, I always get the message error saying the CASE statement is missing ELSE.

[2021-06-03 08:38] olivierdalang opened #659 "Merge datamodel init tool"
Merge datamodel init tool (see comments on PR) https://github.com/QGEP/qgepplugin/pull/54

[2021-06-03 08:53] ponceta opened #660 "QGIS Project Update"
According to qgs project file transmitted from Urs to @m-kuhn 2th may 2021

[2021-06-03 08:55] m-kuhn commented on #660
File attached here, forwarded on May 6 to @olivierdalang
[qgep.zip](https://github.com/QGEP/QGEP/files/6590265/qgep.zip)

[2021-06-03 09:09] urskaufmann commented on #660
Changes in projectfile:
-	In vw_qgep_wastewater-structure: the field wn_obj_id is now unique and not null (both enforced)
-	In vw_qgep_reach is the label definition changed (correct label if clear height and width are different)
-	Od_pipe_profil is not a Value List. I put this table in the Wastewater Structures Group. The attributes are now configured
-	vw_cover: fk_wastewater_structure: "Use a re

[2021-06-08 10:29] olivierdalang commented on #619
@urskaufmann Can you provide the exact steps to get this issue ? I'm unable to reproduce here with 3.10.14 (I can successfully add multiple structures in the same session with "reuse last entered values" enabled, both with regular add feature tool and with the Wizard). I even tried with manually defined obj_id, but they are correctly generated.

Also can you please check that the layer primary key

[2021-06-08 16:48] urskaufmann commented on #619
I can reproduce without problem:
- turn on the "reuse last attribute value"
- set vw_qgep_wastewater_structure editable
- open the attribute window of one of the manholes and go to the structure part - tab
- create an new access_aid (I get a new record with obj_id = ch2127y8SP000002)
- create again a new access_aid (or another structure part). If I want to save the second structure_part, I get thi

[2021-06-10 12:53] olivierdalang commented on #619
Hmmm here I'm still not able to reproduce, I get a different error than you (on QGIS 3.18, when I opening the form, on QGIS 3.10, when I create the access aid) :
[code]

So it's even worse as it doesn't allow to create a feature at all. To me it looks like a bug in QGIS, but unsure what exactly is happening, and even more how it can work on your setup ?

@urskaufmann Can you please share your vers

[2021-06-10 13:41] olivierdalang commented on #619
Hmm actually I'm able to reproduce on 1.5.4, the other error seems to come from unrelated changes in datamodel's master (as the QGIS project/plugin are not covered by unit tests, we'd never have found out about that before it being tested by users, so it would have been yet another broken release). Will open another issue for that.

[2021-06-10 13:46] olivierdalang opened #662 "Adding access_aid from embeded form broken with upcomming datamodel (1.5.5)"
As described in https://github.com/QGEP/QGEP/issues/619, the upcomming datamodel (1.5.5) breaks user workflow to add access_aid (and probably other related features too) with following error :

[code]

Steps to reproduce :
- set vw_qgep_wastewater_structure editable
- open the attribute window of one of the manholes and go to the structure part - tab
- create an new access_aid

Not exactly sure ye

[2021-06-10 14:58] olivierdalang commented on #660
https://github.com/QGEP/QGEP/pull/661 merged

[2021-06-10 14:58] #660 closed

[2021-06-10 14:59] olivierdalang commented on #659
QGEP/qgepplugin#54 merged

[2021-06-10 14:59] #659 closed

[2021-06-10 14:59] olivierdalang commented on #619
With the above issue fixed, it seems now OK, I guess as a side-effect of https://github.com/QGEP/datamodel/pull/173 (but I can't say I totally understand why that is...)

[2021-06-10 14:59] #619 closed

[2021-06-10 15:00] olivierdalang commented on #658
https://github.com/QGEP/qgepplugin/pull/59 is merged

[2021-06-10 15:00] #658 closed

[2021-06-18 15:16] sjib commented on #657
@ponceta I tried to document this better - what do you think?

[2021-07-07 13:09] urskaufmann opened #664 "Error with datamodel tool"
I have created a new database in pgAdmin. If I create then a new PG Config setup with the datamodel tool, I get an error
.

![Fehler1 2021-07-07 142939](https://user-images.githubusercontent.com/1257403/124764384-2dd31100-df35-11eb-8119-f9563bb250e0.png)

If I choose then this new PG Config setup, I get also an error .

![Fehler2 2021-07-07 142649](https://user-images.githubusercontent.com/1257403

[2021-07-07 13:40] sjib commented on #664
a) Do you have an Umlaut ä, ö, ü etc. somewhere - that is usually what conflicts with UTF-8.
b) pg_conf needs to be saved with special encoding https://qgep.github.io/docs/installation-guide/workstation.html#windows-pg-service
On Windows, you need to save pg_service.conf in Unix format in order to work. One way to do it is to open it with Notepad++ and Edit –> EOL Conversion –> UNIX Format –> File

[2021-07-07 14:24] urskaufmann commented on #664
There are no Umlaute, also no capital letters.
There is only the datamodel tool writing into pg_service.conf-file (EOL Format is Unix LF).

[2021-07-07 15:18] sjib commented on #664
@olivierdalang Any idea what could be the problem?

[2021-07-08 04:30] olivierdalang commented on #664
Not exactly sure why this is happening, but I've just pushed a commit (https://github.com/QGEP/qgepplugin/commit/a063ee590b7fa9535b83487e031058149a31c073) with a possible fix. Can you try with master, and reopen this issue if it is not fixed ?

[2021-07-08 09:52] olivierdalang commented on #664
@urskaufmann Tried another fix, can you try again ?

[2021-07-08 10:06] urskaufmann commented on #664
2021-07-08T12:04:57     WARNING    Traceback (most recent call last):
              File "C:/Users/KAU/AppData/Roaming/QGIS/QGIS3\profiles\Holinger/python/plugins\qgepplugin\gui\qgepdatamodeldialog.py", line 587, in select_pgconfig
              self.check_version()
              File "C:/Users/KAU/AppData/Roaming/QGIS/QGIS3\profiles\Holinger/python/plugins\qgepplugin\gui\qgepdatamodeldialog.py",

[2021-07-08 10:14] olivierdalang commented on #664
Can you type this in your command prompt : `chcp` (this will show encoding used by your system)

[2021-07-08 10:21] urskaufmann commented on #664
Aktive Codepage: 437.

[2021-07-08 10:31] olivierdalang commented on #664
Argh that's tricky :-/ I added yet another tentative fix, can you test again ? (sorry for that !)

[2021-07-08 10:39] m-kuhn commented on #664
@olivierdalang maybe this approach here works better?
 https://github.com/opengisch/QgisModelBaker/blob/master/QgisModelBaker/libili2db/iliexecutable.py#L129-L161

[2021-07-08 11:09] urskaufmann commented on #664
Better and good. I get now this message

2021-07-08T13:04:52     WARNING    Running command : python -m pum info -p pg_w_zh_rueti_gep -t qgep_sys.pum_info -d C:\Users\KAU\AppData\Local\Temp\QGEP\datamodel-init\datamodel-1.5.5\delta
2021-07-08T13:04:55     WARNING    delta files in dir: C:\Users\KAU\AppData\Local\Temp\QGEP\datamodel-init\datamodel-1.5.5\delta
             FEHLER: Relation �qgep_sys

[2021-07-08 11:32] olivierdalang commented on #664
Great, closing this then. Thanks for the report

[2021-07-08 11:32] #664 closed

[2021-07-09 07:27] urskaufmann opened #665 "Error with datamodel tool - Load QGIS Project template"
When loading the QGIS Project template, I get this error (see below). Not urgent, I know how to copy manually.

2021-07-09T09:19:54     WARNING    Traceback (most recent call last):
              File "C:/Users/KAU/AppData/Roaming/QGIS/QGIS3\profiles\Holinger/python/plugins\qgepplugin\gui\qgepdatamodeldialog.py", line 96, in wrapper
              return func(*args, **kwargs)
              File "C:

[2021-07-13 07:56] olivierdalang opened #666 "Identifier-Fields increment"
(reported by @urskaufmann)

**Describe the bug**
If QGIS increase my manual identifiers, it uses the "_". But "_" is "forbidden" with INTERLIS, so it is also forbidden with QGEP(my opinion) . Means: I have to correct every(!) increased identifier manually (lot of work).
Suggestion:

**To Reproduce**
(todo)

**Expected behavior**
Increase means just add 1 to the last digit of the identifier. If the

[2021-07-13 07:58] olivierdalang opened #667 "NULL and empty does not behave consistently for Identifier-Fields"
(reported by @urskaufmann )

**Describe the bug**
NULL and empty does not behave consistently for Identifier-Fields

**To Reproduce**
If I start a new session, add a new wwstructure, do touch the identifier (default=NULL), then the identifier = obj_id (also for cover and node)
If I delete the last (increased) identifier for a new wwstructure, then the identifier is empty for wwstructure and node,

[2021-07-13 08:01] olivierdalang opened #668 "Strange behavior with Identifier fields"
(reported by @urskaufmann)

**Describe the bug**
Strange behavior with identifier fields

**To Reproduce**
Exact steps to reproduce the behavior:

- use i-Button on vw_qgep_wastewater_structure
- go to the wastewater nodes-tab and add a new pump for the node. Identifier=NULL, obj_id = 00000000OV000000.
- I create a second pump. In the obj_id-Field I see the predefined value 00000000OV000000_1 and

[2021-07-13 08:03] olivierdalang commented on #668
@urskaufmann Could you specify what would be the expected behavior for that issue ? I guess ideally we would not want obj_id to be predefined, but kept to NULL and generated by the DB, is that right ?

[2021-07-15 06:11] ponceta commented on #597
Thanks @olivierdalang

[2021-07-15 06:11] #597 closed

[2021-07-15 06:26] #606 closed

[2021-07-15 06:27] ponceta commented on #566
Feel free to ping me if this interest anyone.

[2021-07-15 06:27] #566 closed

[2021-07-15 06:29] ponceta commented on #627
This is a QGIS mess... be aware of that when using visual feature count.

[2021-07-15 06:29] #627 closed

[2021-07-15 06:31] ponceta commented on #622
@urskaufmann @olivierdalang was this also part of the project fixes you provided? If yes we can close this.

[2021-07-15 06:31] #622 closed

[2021-07-21 10:10] m-kuhn commented on #645
TODO:

- Make the descriptions available on the value list tables themselves
- Configuration in the QGIS project

[2021-07-27 05:41] ponceta commented on #657
What I missed was actually the qgep.zip file in the latest release. :(

* Download from https://github.com/QGEP/qgep/releases/latest the qgep.zip

qm language files are not tracked by git and therefore it is complicated for the user to understand why they are not in the folder when he clones the project.

How can we gather / refresh these qm files? Would it be possible to keep these tracked by git

[2021-07-27 05:51] m-kuhn commented on #657
They are created from the qgis project and the transifex web service. They are [produced as part of the build/release process](https://github.com/QGEP/QGEP/blob/master/.github/workflows/create_translated_project.yaml#L18-L19) with

[code]

Adding them to the git repository would increase complexity / raise maintenance responsibility questions.

They are not directly connected to the data model.

[2021-07-27 06:07] ponceta commented on #657
@m-kuhn Thank you for this feedback!

+1 for having it automated for releases.

[2021-07-27 06:10] m-kuhn commented on #657
That is the case now.
Is this issue done or are there things left to do in here (better docs?)

[2021-07-27 06:11] ponceta commented on #657
First merge the doc PR, this issue will close automatically ;)