[2021-07-27 06:12] ponceta commented on #657
![image](https://user-images.githubusercontent.com/8614223/127104661-a0640d5e-b035-4b76-a1ed-415663e03ce9.png)

I post this here as a reminder

[2021-07-27 06:20] m-kuhn commented on #657
I wasn't aware of that.
Left a feedback, ready to merge now.

[2021-07-28 12:16] ponceta commented on #657
@m-kuhn This didn't work because wrong keyword (@sjib says Should solve QGEP/QGEP#657 instead of FIX QGEP/QGEP#657)

List of keywords and more about that :

https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2021-07-28 12:16] #657 closed

[2021-07-28 12:47] ponceta opened #669 "Enable github discussions"
Github now offers a new discussion panel to filter topics, questions from issues.

This would help having a cleaner Issues repository and encourage discussions and collaborations on topics using Q/A structure etc.

An issue can be converted as a discussion

More about discussions :
https://docs.github.com/en/discussions

[2021-07-28 12:47] ponceta commented on #669
Sample discussions :

https://github.com/VilleDePully/EasyImport/discussions/21

[2021-07-28 12:52] sjib commented on #669
@ponceta Looks interesting. Do you have a sample of an issue in QGEP we should convert into a discussion?

[2021-07-28 12:57] ponceta commented on #660
@olivierdalang Will this be finalized?

https://github.com/QGEP/QGEP/releases/tag/v9.0

[2021-07-28 13:00] ponceta commented on #669
As an issues author :

Discussion about datamodel and VSA values
https://github.com/QGEP/QGEP/issues/384

Discussion about Extensions and templating
https://github.com/QGEP/QGEP/issues/565

Discussion about construction points
https://github.com/QGEP/QGEP/issues/322

[2021-07-28 13:01] #384 closed

[2021-07-28 13:01] #361 closed

[2021-07-28 13:03] sjib commented on #669
@ponceta Ok, I have enabled discussion and converted a first issues https://github.com/QGEP/QGEP/issues/384 into a discussion to get a look and feel.

[2021-07-28 13:05] ponceta commented on #669
Fine for me, we can test it and validate it next technical meeting!

[2021-07-28 13:05] #669 closed

[2021-07-29 14:54] sjib commented on #639
@ponceta The quarantine tables are just for the import from qfield

[2021-07-29 14:56] #322 closed

[2021-07-29 14:57] #565 closed

[2021-07-29 14:58] #656 closed

[2021-07-29 14:59] #655 closed

[2021-08-03 09:56] urskaufmann commented on #666
"_" (underscore) is forbidden with INTERLIS

[2021-08-03 10:06] urskaufmann commented on #668
Expected behavior:
- obj_id is generated by the DB and it does not matter, if the field is hidden or editable. I can always save a new record.
- identifier: if the value is NULL in the attribut window, then the identifier is set to the obj_id by the DB. If the old identifier was defined by the user in the attribute window, this old identifier should be increase as default (but without underscore).

[2021-08-05 15:26] TriformMoritz opened #675 "Datamodel tool does not recognise python dependencies"
Datamodel shows missing python dependencies (pirogue, psycop2, pum) :
 ![image](https://user-images.githubusercontent.com/33837122/128373383-10807758-3241-4842-9c59-6cbe51279220.png)

And the following error message:

![image](https://user-images.githubusercontent.com/33837122/128373779-2829b6e7-3a17-42cf-9043-5fd23cb459f0.png)

yet if I use the OSGeo4W shell and list the packages, they are listed

[2021-08-09 12:02] olivierdalang commented on #660
@ponceta You mean released as a regular release instead of prerelease ? Yes, we've just flagged it as a pre-release so it's clear for users they should only upgrade if they want to test (and so that it does not appear as the latest release).

[2021-08-09 12:33] olivierdalang commented on #675
It seems `python` refers to python 2 instead of python 3 from your QGIS environment. I see some reference to python2 in PATH in your OSGeo4W shell. Maybe we should use `python3` instead of `python`, but I'm not sure it's always available.

What version of QGIS are you using, and how was it installed (OSGeo4W installer or standalone) ?

Can you type the following in the QGIS python console, and cop

[2021-08-09 12:47] TriformMoritz commented on #675
Installation was with OSGeo4W shell.
Message: CompletedProcess(args=['python', '--version'], returncode=0, stdout=b'', stderr=b'Python 2.7.14\r\n')
So it seems I am using 2.7.14 inside Qgis.
How can I change it?

[2021-08-09 13:44] TriformMoritz commented on #675
So I changed the Python path insode the OSgeo4W shell:
![image](https://user-images.githubusercontent.com/33837122/128715198-a34b1a9b-e408-4cda-829c-17afe5916c27.png)

Installed pip (NOT IN THE 2.7 VERSION ) from:  https://bootstrap.pypa.io/pip/2.7/get-pip.py

when seeing in the shell not many packages are installed:
![image](https://user-images.githubusercontent.com/33837122/128715535-30c2283a-8c

[2021-08-09 13:52] TriformMoritz commented on #675
I still get an error when launching the datamodel tool:

2021-08-09T15:46:36     WARNING    Traceback (most recent call last):
              File "C:/Users/Moritz/AppData/Roaming/QGIS/QGIS3\profiles\Triform TEKSI/python/plugins\qgepplugin\gui\qgepdatamodeldialog.py", line 97, in wrapper
              return func(*args, **kwargs)
              File "C:/Users/Moritz/AppData/Roaming/QGIS/QGIS3\profil

[2021-08-09 13:56] TriformMoritz commented on #675
Version de Python : 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)]
Version de QGIS : 3.16.4-Hannover Hannover, 654e76b3cb

Chemin Python :
C:/OSGEO4~1/apps/qgis-ltr/./python
C:/Users/Moritz/AppData/Roaming/QGIS/QGIS3\profiles\Triform TEKSI/python
C:/Users/Moritz/AppData/Roaming/QGIS/QGIS3\profiles\Triform TEKSI/python/plugins
C:/OSGEO4~1/apps/qgis-ltr/./python/plugins

[2021-08-10 06:38] olivierdalang commented on #675
It will not work with python2 (the issue is that `python` is an alias to python2 on your environment, while we need python3). I think this would be fixed if you use the new OSGeo4W installer, which doesn't include python2 at all.

But anyways, I just pushed a new commit that calls `python3` so there's no ambiguity. Are you able to test from master ?

[2021-08-10 09:08] TriformMoritz commented on #675
Master from QGEP Plugin? Do I need to add an repository?
So in order to get QGIS 3.16 with Python 3.7 -> Do I really need to reinstall QGIS (it would bother me a little, because it is working good right now. and used by everyone).

[2021-08-10 09:40] olivierdalang commented on #675
I've released an experimental version of the plugin (`1.5.5-1`) so it's easier to test. It should appear in the manager shortly.

No need to reinstall QGIS, I made the changes on the plugin (just for clarification : your QGIS version is already using python3.x, it's just that the `python` alias from the command line points to python2.x when installed with the old OSGeo4W installer, and to python3.

[2021-08-11 08:28] olivierdalang commented on #675
@TriformMoritz Let me know if it works as expected, in which case I'll flag the release as non-experimental and we can close this issue

[2021-08-11 08:55] TriformMoritz commented on #675
If I choose Master it seems the dependecies are working BUT it has now problems with my pg_service.config which it did not have yesterday.
2021-08-11T10:55:00     WARNING    Traceback (most recent call last):
              File "C:/Users/Moritz/AppData/Roaming/QGIS/QGIS3\profiles\Triform TEKSI/python/plugins\qgepplugin\gui\qgepdatamodeldialog.py", line 564, in add_pgconfig
              taken_name

[2021-08-12 09:50] ponceta commented on #675
Error when loading qgs project

2021-08-12T11:48:22     WARNING    Error transferring https://github.com/QGEP/QGEP/releases/download/v9.0/qgep.zip - server replied: Not Found

[2021-08-12 13:52] ponceta opened #676 "Datamodel Tool fails to download qgep project"
**Describe the bug**
Initialization of QGIS project requires a project release

**To Reproduce**
Exact steps to reproduce the behavior:
1. Go to datamodel tool
2. Click on 1.5.5
3. Click on Load
4. See error in error logs

**Expected behavior**
Project is downloaded / started ?

**Screenshots / data**
If applicable, add screenshots or data to help explain your problem.

**Desktop (please complete

[2021-08-12 13:57] ponceta commented on #676
Assets need to be fixed in order for this to run:

https://github.com/QGEP/QGEP/releases/tag/v9.0

[2021-08-13 09:24] 3nids commented on #676
this is done now: https://github.com/QGEP/QGEP/releases/tag/v9.0.3

[2021-08-13 09:30] ponceta commented on #665
Duplicate with :

https://github.com/QGEP/QGEP/issues/676

[2021-08-13 09:30] #665 closed

[2021-08-13 09:32] ponceta commented on #675
@TriformMoritz for your pg_service.conf file, make sure you saved it with Notepad++ in UNIX format

![image](https://user-images.githubusercontent.com/8614223/129336963-8a9af66c-b096-460a-82f2-348614cb0e34.png)

http://qgep.github.io/docs/fr/installation-guide/workstation.html#windows-pg-service

[2021-08-13 12:30] TriformMoritz commented on #675
Thank you for your help! I restored an old file and it still did not work, Saving with Notepad worked! I will close this issue since it is working know. I will eventually open a new one if postgres user rights won't work.

[2021-08-13 12:30] #675 closed

[2021-08-15 06:36] m-kuhn commented on #675
You probably had a UTF-8 BOM in your file.
See https://stackoverflow.com/a/32986612/2319028

[2021-08-16 07:05] ponceta opened #679 "Plugin Datamodel Tool : Support QGIS stored authentication"
**Describe the feature**
Allow the user to reuse the in QGIS authentication stored in the datasource manager for QGEP initialization.

**Expected behavior**
Define the connection parameters in the QGIS datasource manager to the postgreSQL database and reuse it in the datamodel tool (plugin).

**Screenshots / data**
![image](https://user-images.githubusercontent.com/8614223/129524134-187a6bd5-f2b3-

[2021-08-16 13:27] olivierdalang commented on #676
Should be fixed (release in QGIS plugin manager incoming)

[2021-08-17 14:28] ponceta commented on #676
![image](https://user-images.githubusercontent.com/8614223/129744527-43d80b9c-7cdc-4e17-aa63-11ca57ca15ed.png)

Very nice, a freshly initialized datamodel with a fresh qgep.qgs project.

It will be much easier in the future to have a quickstart with this kind of approach.

We will miss translation with this but that's another issue.

[2021-08-17 14:29] #676 closed

[2021-08-18 14:03] ponceta commented on #654
I think the widget type here should be relation reference to be used with the identify on the map.

This would actually help the user to draw the catchment area, then select directly the designated node on the map.

Example for rainwater networkelement :

![image](https://user-images.githubusercontent.com/8614223/129911457-528c789e-66d1-45ef-844a-72d891086d9a.png)

This would require 4 new relatio

[2021-08-20 11:48] ponceta commented on #653
Is this a QGEP related issue or is it an issue due to a customization of the project?

@m-kuhn is there something simple we could do to avoid such issues?

Otherwise it should be documented that adding layers with some specific keywords is not supported?

[2021-08-20 12:04] ponceta commented on #628
Project and documentation are updated. We can close this.

[2021-08-20 12:04] #628 closed

[2021-08-20 12:39] ponceta commented on #630
Not an issue anymore on QGIS 3.16.X and latest qgep project.

[2021-08-20 12:39] #630 closed

[2021-08-20 13:37] sjib opened #680 "Adapt Plugin about page"
**Describe the bug**
Old information in about page of plugin

**To Reproduce**
Extension/QGEP -> About

**Update the following information**
Requirements
 QGIS > 1.8: What would be a reasonable value? 3.xx (3.16)
Networkx - is this still needed?

Author 2012 Matthias Kuhn - there have been several people working on it and it's regularly updated. What would be a good form of credit today?

Sponsor:

[2021-08-23 06:00] m-kuhn commented on #653
As @urskaufmann proposed, the user could be asked.

Ideally it would be good to check if a layer "catchment areas" is loaded from the "current" qgep database, but for this we need a definition of the "current qgep database".

[2021-08-23 08:51] tomep opened #681 "Pythonerror on starting QGEP"
**Describe the bug**
2021-08-23T10:39:04     CRITICAL    Traceback (most recent call last):
              File "C:\OSGeo4W/apps/qgis-ltr/./python\qgis\utils.py", line 334, in _startPlugin
              plugins[packageName] = package.classFactory(iface)
              File "C:\Users/tomholeci/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\qgepplugin\__init__.py", line 27, in classFactory

[2021-08-23 09:19] m-kuhn commented on #681
You need to install networkx (see https://qgep.github.io/docs/en/installation-guide/workstation.html#install-qgep-plugin)

[2021-08-23 12:22] sjib commented on #681
Could we adapt the plugin so that networkx is installed automatically in a future release? I think dependencies were not yet so easy when you developed the plugin @m-kuhn - how is it today? If yes, could you open a new task to do so - if no then please close.

[2021-08-23 12:51] m-kuhn commented on #681
The situation is still similar as years ago. @olivierdalang and I worked on a QEP for dependency management but the topic is complex and was discussed controversially and didn't make it through to funding yet.

We could possibly bundle it as wheel with the plugin, this is likely a working solution to make setup easier.

[2021-08-23 12:52] m-kuhn opened #682 "Bundle networkx as wheel"
To make the setup easier (see https://github.com/QGEP/QGEP/issues/681)

[2021-08-23 12:59] sjib commented on #681
Thanks for the update

[2021-08-23 12:59] #681 closed

[2021-08-30 05:48] ponceta commented on #682
Will this conflict with osgeo4w module install?

![image](https://user-images.githubusercontent.com/8614223/131291197-7b29c115-dd26-491c-9412-7028f61d5ffe.png)

[2021-08-30 05:51] m-kuhn commented on #682
Chances are good there is no conflict.
This depends on implementation specifics of networkx.

[2021-08-30 07:40] ponceta commented on #653
To include in project parameters?

![image](https://user-images.githubusercontent.com/8614223/131303660-1c2c457a-9b53-4dd1-bf70-d235d8c2973f.png)

[2021-08-31 09:12] m-kuhn opened #684 "Data model tool: grant permissions on new database"
When initializing a new database, a user in the group qgep_viewer does not have access to the qgep_sys schema.

It would be nice to be able to grant default permissions as per [the grant script](https://github.com/QGEP/datamodel/blob/master/12_1_roles.sql).
This will require that the group roles are available on every system. (See [group role definition](https://github.com/QGEP/datamodel/blob/mast

[2021-08-31 09:14] m-kuhn opened #685 "Data model tool: elevate privileges for maintenance jobs"
When using the data model tool, login details are taken from the pg_service.conf file.
These are normally with limited access (most notably, no permissions to `create database`)

It would be a nice enhancement to be able to override the login username and password for database initialization and upgrade.

[2021-08-31 09:16] m-kuhn opened #686 "Data model tool: Initialize language"
The data model tool allows to create a new project from a template.
Currently, this new project is always in English, it would be nice to also be able to initialize this new project localized.

[2021-09-01 15:44] sjib opened #688 "Error missing networkx with QGEP plugin on INTERLIS export, but networkx is on computer"
Can networkx be installed in the wrong place when you have different QGIS installations on the computer?

![path_networkx_koni](https://user-images.githubusercontent.com/1265865/131701550-7f2ce773-bb73-4750-8c9a-3a342bfe2116.png)

Do we need to add any additional PATH variables?

[2021-09-02 07:50] #688 closed

[2021-09-02 07:57] olivierdalang commented on #684
Is there a reason that prevents us from including those permissions as part of the core datamodel ?

That would be good in terms of uniformisation/simplification of the datamodel, and as users can just not assign these roles if they don't like them, I don't see any downside ?

[2021-09-02 16:04] TriformMoritz opened #690 "Error SWMM Create Input - Column has Z dimension but geometry does not"
Error when trying to create an input (modell 1.5.5) :

Chargement des couches de résultat
Algorithme 'SWMM Create Input' terminé
Version de QGIS : 3.16.4-Hannover
Révision du code : 654e76b3cb
Version de Qt : 5.11.2
Version de GDAL : 3.1.4
Version de GEOS : 3.8.1-CAPI-1.13.3
Version de Proj : Rel. 6.3.2, May 1st, 2020
Traitement de l'algorithme…
Démarrage de l'algorithme 'SWMM Create Input'…
Param

[2021-09-02 16:23] TriformMoritz commented on #690
Error was one node with no status -> Should be nice if the error message would be more accurate!

[2021-09-17 09:35] TriformMoritz commented on #527
I am also highly interested in this tool!

[2021-09-28 12:25] TriformMoritz opened #693 "Profile tool is appending next profile, restart necessary to make second profile"
When using the profile tool two times (making one profile and than another), the profile is appended to the first one instead of making a complete new one. Closing the window does not resolve the problem.
When doing a network refresh or network follow (to reset the tool) , the profile tool stops working (no connection draw and no profile (white page). To make it work a QGIS restart is necessary.

[2021-10-04 15:24] TriformMoritz commented on #551
Yes definitely! I need a french translation. AND also for the other objects (reaches, catchment).
Would be nice to have a few more styles too (for example: ws_owner, necessite_assainir).

[2021-10-04 17:01] sjib commented on #551
@signedav @m-kuhn Is this already implemented in the meantime?

If yes, how can we do the translation on transifex?

[2021-10-04 18:21] m-kuhn commented on #551
No, no changes so far

[2021-10-05 11:00] TriformMoritz opened #694 "Create View of catchment connection to nodes"
It would be nice to have a view (a line) between the catchments and the connected nodes (to see where they are connected) like this:
![image](https://user-images.githubusercontent.com/33837122/136010038-e84974b4-b5e2-40d7-9ba4-188a9d439958.png)
They should by a line for each node connected:
- fk_wastewater_networkelement_rw_current
- fk_wastewater_networkelement_ww_current
- fk_wastewater_networke

[2021-10-05 11:42] urskaufmann commented on #694
There is already the vw_catchment_area_connections in the datamodell. But this view shows only the lines for the current-fk.

I wanted some more attributes and the lines for all 4 fk and I use the views in the zip-file:

[vw_catchment_area_x_connections.zip](https://github.com/QGEP/QGEP/files/7285475/vw_catchment_area_x_connections.zip)

[2021-10-05 12:07] TriformMoritz commented on #694
Thank you!
In which version are these views? I have a 1.5.4 DataModel.

[2021-10-05 12:07] #694 closed

[2021-10-05 12:12] urskaufmann commented on #694
1.5.3 (or higher should work)

[2021-10-05 12:13] sjib commented on #694
Should this be integrated in the next project file update?

[2021-10-06 09:19] tproduit opened #697 "QGEP SWMM: Export subcatchments in [ha] rather than [m2]"
**subcatchments  area is exported in m2**
It should rather exported in [ha], swmm need [ha]

**Desktop :**
 - QGEP datamodel version 1.5.6

[2021-10-06 12:43] sjib commented on #697
If swmm needs it in [ha] we should make the calculation from [m2] to [ha] in the swmm plugin and not change the QGEP datamodel, else we create other problems, as the unit is defined by the VSA-DSS model.

[2021-10-06 13:24] tproduit commented on #697
My proposition is to change the corresponding view in this way (surface_area is already recorded in ha in QGEP):
[code]

[2021-10-08 18:15] sjib opened #698 "QGEP SWMM - Add definitions for rectangular and special profiles"
For rectangular profiles their is also a _bottom width_ that needs to be set. This can be taken from reach.width
![swmm_cross_section_editor_rectangular_closed](https://user-images.githubusercontent.com/1265865/136602172-d02238c0-307d-488f-948c-f0810c2dd56e.jpg)

For arch and elliptical profiles their is also _maximum with_ that needs to be set. Find out how to calculate or match.

Find out which

[2021-10-13 08:21] TriformMoritz opened #699 "MGDM 129.1 et Biol_oekol_Gesamtbeurteilung"
Hello, the confederation is demanding (via the cantons) the MGDM for PGEE, identificateur 129.1 for example [https://www.vs.ch/web/sen/evacuation-des-eaux], click on "Identificateur 129.1" to download the ili model and the description.
They are a lot of attributes from the VSA-DSS models who could/should  be derived directly from our QGEP model.

Questions:

- Are we planning to integrate views an

[2021-10-13 08:25] #699 closed, assigned to sjib

[2021-10-17 18:54] urskaufmann opened #701 "Error when deleting in vw_qgep_maintenance"
**Describe the bug**
If you try to delete a record in vw_qgep_maintenance, you get this error:
     CRITICAL    Layer vw_qgep_maintenance : PostGIS-Fehler beim Löschen der Objekte: FEHLER: Fall nicht gefunden
             HINT: Der CASE-Anweisung fehlt ein ELSE-Teil.
             CONTEXT: PL/pgSQL-Funktion qgep_od.ft_vw_qgep_maintenance_delete() Zeile 3 bei CASE

**To Reproduce**
Exact steps to re

[2021-10-26 10:03] TriformMoritz opened #770 "obj_ID for second prank weir added not valid"
When adding a second Prank_weir (after adding a first), the automatically created Obj_ID (based on the previous ID) is _not valid_, (it ads an _1) but cannot be changed.
Changing manually is blocked, so the only solution is restarting Qgis (so it does not remember the previously introduced values). I image this is the issue for all weirs.

![image](https://user-images.githubusercontent.com/3383712

[2021-10-27 13:26] TriformMoritz opened #704 "Labeling from egg-formed reach"
When assigning an egg-form o a reach, you introduce (example for an 900/600 egg):

- The maximum height. -> 900 in this example
- The ratio_height_width -> 900/600=1.5 in this example.

Seems to be all right in SWMM (egg with maximum height of 900)

Yet the labeling is 900/1350 in QGEP (should be 900/600). For me this is a division error.
Here are the print screens:

![image](https://user-images.g

[2021-11-05 14:51] urskaufmann commented on #579
Integrated in project file since June 2021, also  a chapter in the Docu

[2021-11-05 14:51] #579 closed

[2021-11-05 15:25] urskaufmann commented on #704
I think this must be corrected ( in vw_qgep_reach)

 CASE
            WHEN pp.height_width_ratio IS NOT NULL THEN round(re.clear_height::numeric * pp.height_width_ratio)::smallint::integer
            ELSE re.clear_height
        END AS width,

It should be / not *

And if we are there: should it not be _width (because it is not a attribut of the model, it is only a calculated value)
And in the pr

[2021-11-16 15:11] sjib commented on #704
Still open to do:

- [ ] should it not be _width (because it is not a attribut of the model, it is only a calculated value)
- [ ] And in the project-file, the attribute width (_width) should not be enterable...

[2021-12-01 07:40] ponceta opened #706 "[Feature] Add a visual theme for DXF Export for DEMO project"
**Describe the feature**
QGEP DXF export should be a supported functionnality with a documentation and a DXF Export provided THEME.

**To Provide**
- [ ] A visual DXF export theme to the demo project
- [ ] A documentation of how the user can export a DXF from QGIS

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots / data**
![image](https://user-im

[2021-12-01 07:49] ponceta opened #707 "[Feature] Add a print composer for DEMO project"
**Describe the feature**
Add a simple example of a print composer for the DEMO project

![image](https://user-images.githubusercontent.com/8614223/144193075-0c1aa956-6672-4034-937e-b626d855be44.png)

***
Add any other context

[2021-12-09 15:04] TriformMoritz opened #711 "catchment area connection not eraseable"
Once a catchment_area connecting is set, it is not possible to easily erase it in the mask.
The value before is maintained.
Tried:

- Erase
- NULL
- (pas de selection)
- blanc

Once you hit ok and get out, the old value is there again...

![image](https://user-images.githubusercontent.com/33837122/145420838-fe0ca04c-ed35-4a5d-b448-6e7ca4a7f857.png)

**Desktop (please complete the following informa

[2021-12-09 15:33] TriformMoritz commented on #693
Do not have this error anymore .Resolved?

[2021-12-10 13:14] sjib commented on #564
Solved with https://github.com/QGEP/qgepplugin/pull/60

[2021-12-10 13:14] #564 closed

[2021-12-15 08:41] sjib opened #712 "Datamodel tool - Postgres service configurations"
In the Datamodel tool from my experience it does not select automatically the database from the project that is open - it displays the first pg_config entry - that is a little bit dangerous from a users perspectiv and should may be highlighted or a selection should actively be inforced and not just the first in the list be taken.

_Originally posted by @sjib in https://github.com/QGEP/docs/pull/17

[2022-01-12 15:15] ponceta commented on #639
Since we have division for the slope, the length_effective can't be NULL and can't be 0

[2022-01-13 20:16] decheu opened #713 "Where to find/store pg_hba.conf?"
https://qgep.github.io/docs/installation-guide/server.html#server-installation says to change the pg_hba.conf
https://www.postgresql.org/docs/devel/auth-pg-hba-conf.html says it's `stored in the database cluster's data directory`
When I search my entire mac for pg_hba.conf, I can't find anything.
Or do I have to put it somewhere?

[2022-01-17 13:19] sjib commented on #693
@TriformMoritz Please reopen if necessary.

[2022-01-17 13:19] #693 closed

[2022-01-17 13:39] sjib commented on #548
@TriformMoritz @urskaufmann Can you check which of the requirements with the new data model tool are fullfilled now and which ideas should be taken in further enhancements of the data model tool and open separate issues for those (please name them e.g. "Data model tool: set prefix" ) and then close this issue?

[2022-01-17 13:45] sjib commented on #515
Would mean https://github.com/QGEP/QGEP/releases

[2022-01-17 13:47] sjib commented on #313
@mdouchin Is this still an issue? Else please close - thanks.

[2022-01-17 13:49] mdouchin commented on #313
Nope, we can indeed close it. Thanks

[2022-01-17 13:49] #313 closed

[2022-01-25 08:04] tproduit opened #715 "QGEP SWMM: Default SWMM parameters"
Check with regular SWMM users if the default SWMM parameters are correct:

Feedback from Triform @TriformMoritz

2.	Dans le  template je mettrai également l’option « Dynamic Wave » dans General (je crois que ça sera la plus utilisé, même si c’est finalement un choix du modélisateur)

[2022-01-25 10:13] TriformMoritz opened #719 "Special structures (weirs, retention,..) and export to SWMM"
It is crucial to easily to digitize and describe hydraulically special structure and export them for modeling, for this these points should be supported:

- Description of the hydraulic structure like in appendix  3 of the VSA-wiki (https://vsa.ch/fr/wiki/ ),  "Guide des données de l’assainissement urbain", chapter 2.3
- Documentation of how to enter each of these special structures in TEKSI waste

[2022-01-25 10:21] TriformMoritz opened #720 "Export only selection to SWMM"
Issue:
Once the selection of the network (from a node, upstream or downstream) , including all appended tables and catchment is possible, see this issue: https://github.com/QGEP/QGEP/issues/603 , the export of only the selection to SWMM would be a great feature.
The modeler can than work only simulate the selected parts.
Proposal:
I would propose to add to the export SWMM mask  (creation of .inp f

[2022-01-25 15:45] sjib commented on #515
May be this could be an inspiration or even used: https://qgis-contribution.github.io/QGIS-ResourceSharing/

[2022-02-01 11:00] urskaufmann opened #724 "Can not change wn_identifier direct in vw_qgep_wastewater_structure"
**Describe the bug**
I want change the wn_identifier in vw_gqep_wastewater_structure. If I do the change in the tab "main cover/node" then there is no change after saving the changes. If I change the wn_identifier in the tab "wastewater_node", then it works.
If I do other changes in the tab "main cover/node" (e.g. change co_identifier or change wn_bottom_level), it is saved. But I can not save wn_

[2022-02-01 13:40] TriformMoritz commented on #697
Yes, we had this problem, testing by changing the view like proposed seems to work.

[2022-02-01 14:02] sjib commented on #697
@TriformMoritz Thanks for checking - I made a pull request to include this: https://github.com/QGEP/datamodel/pull/181
@tproduit Can you review?

[2022-02-02 05:58] tproduit commented on #697
@sjib I reviewed it, it's ok to me.

[2022-02-02 07:45] sjib commented on #697
For reference st_area calculates values in [m2] - see https://postgis.net/docs/ST_Area.html

[2022-02-02 07:45] sjib commented on #697
Fixed with QGEP/datamodel#181

[2022-02-02 07:45] #697 closed

[2022-02-02 08:12] #647 closed

[2022-02-02 08:13] #625 closed

[2022-02-02 08:34] sjib commented on #690
@TriformMoritz Which view should check if status is set?

The following views now have all an ELSE statement for current / planned:
swmm_views/02_vw_swmm_junctions.sql
swmm_views/05_vw_swmm_dividers.sql
swmm_views/13_vw_swmm_storages.sql

May be we can add a hint to the documentation that there can be problems in simulation if not all elements are exported because the lack a status.
Or add a separ

[2022-02-02 08:49] sjib commented on #564
Documentation of these new features: https://qgep.github.io/docs/qgep_swmm/Extract-Results.html and following chapters

[2022-02-03 08:16] TriformMoritz commented on #690
It would be nice to have an error message like this:
- The following elements do not have the status set : Node obj_id xxxx, ....
- Please set a status in order to export to SWMM.

Error message: psycopg2.errors.InvalidParameterValue: ERREUR: Column has Z dimension but geometry does not is not comprehensive.

[2022-02-08 13:38] ponceta commented on #724
@PeterZamudio can you reproduce this issue?

[2022-02-09 09:19] PeterZamudio commented on #724
I have the following installation:
QGEP plugin version 1.5.5
QGEP datamodel version 1.5.5
QGIS Version 3.22.3

I tested it exactly as Urs said and I had exacactly the same result.

I can change the identifier in the Tab "wastewater_node" which changes the wn_identifier in "main cover/node"

but I cannot change the wn_identifier in the Tab "main cover/node"

To be noted:
1. In the Tab "wastewater_n

[2022-02-10 19:27] sjib commented on #690
Siehe auch https://github.com/QGEP/QGEP/issues/613

[2022-02-15 12:44] urskaufmann opened #725 "Interlis Export/Import: error when no password in pg_service.conf"
**Describe the bug**
We have no "user" and no "password" in the pg_service.conf -file. The identification for the database is taken from the windows-login.
If I start the INTERLIS-Export, there is an error  "...fe_sendauth: no password supplied"

If I manually add a user=yx and password=xy in the pg_service.conf, there is no error.

**To Reproduce**
Exact steps to reproduce the behavior:
described

[2022-02-15 13:13] urskaufmann opened #726 "Interlis Export: invalid placed argument"
**Describe the bug**
When saving the xtf-File to a path with a space (Leerschlag), I get an error as in the screenshot below (could not export the ili2pg schema / invalid placed argument).
If I save to a path without space, it works...

**To Reproduce**
Choose a path with space when saving the xtf-file

**Expected behavior**
normal windows rules

**Screenshots / data**
![error_show_logs](https://u

[2022-02-15 13:16] urskaufmann commented on #726
Show logs -Button goes with our virtual-pc-configuration not to a useful path. It could be helpful, if the path is in the messages...

[2022-02-24 08:19] TriformMoritz commented on #641
Isn't there a possibility to automatically choose the right one? We would only have to define which one is taken first (seal_factor). Normally (given in the VSA instructions) only one should be used by the user, not both.

Example:
_If seal_factor IS NULL or 0, THEN discharge_coefficient._

In any way, the method in SWMM should be defined by the user in accordance to the factor used (in the .inp f

[2022-02-24 16:26] sjib commented on #641
@TriformMoritz I think you should not calculate one catchment with the seal_factor and the one beside with the discharge_coefficient. These are different values and should not be mixed in the same SWMM simulation (see definitions for the attributes above and my comment https://github.com/QGEP/QGEP/issues/641#issuecomment-802952407). (Spitzen)abflussbeiwert is used for peak calculation, Befestigung

[2022-02-24 16:49] TriformMoritz commented on #641
_That is exactly why I propose my solution._ One of the factors will be zero, so only the non-zero is taken into account. A choice (like you propose) is only necessary if a person works with both (which should not be the case).

[2022-02-24 16:50] TriformMoritz commented on #641
_That is exactly why I propose my solution._ One of the factors will be zero, so only the non-zero is taken into account. A choice (like you propose) is only necessary if a person works with both (which should not be the case).

[2022-02-24 16:50] TriformMoritz commented on #641
That is exactly why I propose my solution.
One of the factors will be zero, so only the non-zero is taken into account. A choice (like you propose) is only necessary if a person works with both (which should not be the case).

[2022-03-01 10:24] TriformMoritz opened #727 "K_Strickler/Reibungsbeiwert and roughness - Names and units not VSA-DSS conform"
In the french version of QGEP (german not tested, we should use the attributes "K_STRICKLER" and "K_COLEBROOK" and not "coefficient_de_friction" and "coefficient_de_rugosité", if not:

- The units are not right "coefficient_de_friction" = 1/K_STRICKLER, in VSA-DSS unit: m^(1/3)/s = K_STRICKLER.
- QGEP rounds to .00, which is not the precision used by the coefficients (more .0000)

I suggest:
- Use

[2022-03-01 10:54] TriformMoritz opened #728 "Roughness import to SWMM"
In accordance to:
https://github.com/QGEP/QGEP/issues/727
The roughness is imported like this in SWMM:  COALESCE(re.wall_roughness, 0.01) AS roughness,

I propose to optimize the import to SWMM:.
- Give the opportunity to use the friction (from K_COLEBROOK or coefficient de friction) and not only the roughness (K_STRICKLER)
- Adopt the default value to 0.01333, which is close to 75 m1/3/s in accor

[2022-03-01 15:33] sjib commented on #727
- [x] Corrected coefficient_de_friction in Transifex: https://www.transifex.com/qgep/qgep-project/translate/#fr/qgep_ents/150890858?q=text%3Acoefficient
- [x] Correcte wall_roughness in Transifex https://www.transifex.com/qgep/qgep-project/translate/#fr/qgep_ents/150891078?q=text%3Awall_roughness

[2022-03-01 15:44] sjib commented on #728
Add to user friendliness list: https://github.com/QGEP/QGEP/issues/614

[2022-03-01 15:56] sjib commented on #728
Suggested change in 04_vw_swmm_conduits.sql: https://github.com/QGEP/datamodel/blob/95053152f858c22cd3d0d7e569c90eb45d704dfa/swmm_views/04_vw_swmm_conduits.sql#L19

@tproduit @DflGruBoe @urskaufmann - any hesitations to change this default value if no other value is given?

[2022-03-01 16:25] TriformMoritz commented on #727
In SWMM roughness is Manning used so (if I understand the translations):
- Coefficient_de_friction = K_Strickler= 1/Manning -> in m1/3/s   -> Should be 1/K_Strickler in the conversion
- Coefficient_rugosité = K_Colebrook -> in mm in QGEP -> conversion necessary.

Normally Colebrook and Manning-Strickler use different approches (so they are not equal) , but here's an approximation I use:

![image](

[2022-03-01 18:48] urskaufmann commented on #728
I never used this attributs till now. In MOUSE - MIKE URBAN, the coefficient_of_friction is defined over the reach-material. You can define a different value for each reach - but where should I take this information from? (e.g. if there is a reliner).
I use this different coefficient of friction for each reach in MikeUrban in case of steep reaches to have a reduction because of the "Luftaufnahme".

[2022-03-02 12:37] sjib commented on #719
- [x] `Automatic export to SWMM of these special structures` - is supporte in  [13_vw_swmm_storages.sql](https://github.com/QGEP/datamodel/blob/master/swmm_views/13_vw_swmm_storages.sql#L35) and [02_vw_swmm_junctions.sql](https://github.com/QGEP/datamodel/blob/master/swmm_views/02_vw_swmm_junctions.sql)

@TriformMoritz Do you need any others? -- 5372 -- "stormwater_overflow"?

[2022-03-02 12:58] sjib commented on #727
![swmm_units_a 1](https://user-images.githubusercontent.com/1265865/156366045-df542387-3b15-4a71-9649-72bb85d8fdc7.jpg)

[2022-03-03 10:24] TriformMoritz commented on #719
I am not able to model anything different than a very simple weir inside QGEP yet. For example (BEP):
https://vsa.ch/fr/wiki/3-2-13-bassin-deaux-pluviales-bassin-de-decantation-en-connexion-laterale/

I am not able to tell to tell how to model this (I tried) in QGEP
- I cannot connect two or more "main" nodes.
- If I connect a main node, I am not able to make a detailed geometry (and I don't know

[2022-03-03 13:43] tproduit opened #729 "QGEP-SWMM: Export secondary network for selection"
In complement to the issue #720, the user should choose if he wants to export only the primary network or also the secondary networks.
City of La Chaux-de-fond (@varrieta) could need this functionality when they want to calibrate a new network part.

[2022-03-03 15:38] TriformMoritz opened #730 "Wastewater daily pattern is directed to rainwater network (+unnecessary recomputation)"
**Describe the bug**
When exporting a separated network to SWMM, QGEP creates two numerical catchments per physical catchment: one that goes to the sewage network ("wastewater catchment") and one that goes to the rainwater network ("rainwater catchment").

SWMM has a parameter "dry weather flow" for _junctions._ This can be used, e.g., to model daily wastewater flow or infiltration water.

We obse

[2022-03-05 21:22] urskaufmann commented on #719
I have documented, how to construct the VSA-example 3.2.13
There is one real problem with the obj_id, that are automatic set as last_value+"-1" and therefor are to long (see also Issue #619 )
[VSA Example 3-2-13 in QGEP.docx](https://github.com/QGEP/QGEP/files/8191494/VSA.Example.3-2-13.in.QGEP.docx)

There should be a new vw_overflow_line. And the network following should work also with this over

[2022-03-07 13:23] TriformMoritz commented on #719
My first problem: I cannot digitize, the error say : "Ajouter partie" at the end of my digitizing try:
![image](https://user-images.githubusercontent.com/33837122/157041955-e60d9aa9-fa97-4fe4-99c7-813301e38c46.png)
![image](https://user-images.githubusercontent.com/33837122/157042377-6747fbfc-c32c-4ba8-b6a7-6f2d5fed6ee3.png)

[2022-03-07 16:38] sjib commented on #719
I tried with two different projects I have - with the first one I get the same error as @TriformMoritz - with the other digitizing a detailed_geometry works fine. It is on the same database.  The first node is within the network. The one that works is at the end (Vorflutereinlauf). When I try in that project file on a node within the network it also fails. So it looks not like a problem of the pro

[2022-03-07 16:48] sjib commented on #719
Found some information here: https://github.com/qgis/QGIS/issues/41294 that has been fixed in 3.20 (https://github.com/qgis/QGIS/pull/41391). @TriformMoritz Can you check with the latest LTR 3.24 if this still happens?

[2022-03-07 17:07] sjib commented on #719
And this hint in the documentation:
`If the geometry disappears after digitizing or if you get an message (like ‘Add part’), you have probably tried to digitize over a catchment area (or an other polygon theme) and the layer has set the avoid overlap option in the snapping settings. Do change the avoid overlap settings.`

Very bottom of https://qgep.github.io/docs/user-guide/digitizing/digitizingd

[2022-03-07 17:36] TriformMoritz commented on #719
Works, thank you! The error message (of QGIS) should be clearer, like -> "Overlapping not allowed in snapping options" or "les options d'accrochage empèchent la création de la géométrie"

[2022-03-07 20:39] urskaufmann commented on #719
Add part-error: Stefan showed the solution. See also  Issue #628

[2022-03-08 08:04] TriformMoritz commented on #719
So it worked (I actually had all the weirs defined already, but they weren't visible and not exported to SWMM so I could not check), thank you Urs for the view!:
![image](https://user-images.githubusercontent.com/33837122/157091427-034c60ce-8273-4267-8d1a-0fd8412e8f7e.png)

I would propose:
1. Make the view editable -> Possibility to draw a weir line (and fill out the attributes), either in the wi

[2022-03-08 11:52] TriformMoritz commented on #591
Hello. Is this still in issue? I tried the upgrade from 1.5.5 to 1.5.6.1 and it gives me this error:

![image](https://user-images.githubusercontent.com/33837122/157233003-d0992844-0d49-48be-81b3-c4173703ba55.png)

Where can i find the drop_views.sql  for the workaround?

[2022-03-08 12:25] sjib commented on #591
You can also just manually drop the view that conflicts: `DROP VIEW IF EXISTS qgep_od.vw_qgep_maintenance;`
The mentioned [drop_view.sql is here](https://github.com/QGEP/datamodel/blob/master/view/drop_views.sql)

[2022-04-01 14:54] sjib commented on #623
Wincan now documents the VSA-KEK Export in their specifications:

- https://cdlabdev.atlassian.net/wiki/spaces/FAQ/pages/1546584066/Interlis+VSA+DataExchange+Specification and
- https://cdlabdev.atlassian.net/wiki/spaces/FAQ/pages/2795503617/Interlis+KEK+2020+Datenmodell+Specification

[2022-04-01 15:02] sjib commented on #433
I think this task can be solved with the new https://github.com/opengisch/qgis-document-management-system-plugin/

[2022-04-01 15:03] sjib commented on #268
@ponceta Any update on this issue?

[2022-04-11 16:08] sjib opened #733 "Error when applying delta 1_5_6"
**Describe the bug**
When running the datamodel tool and updating a database with datamodel 1.5.4 to 1.5.6.1 I run into an error that a column of table maintenance_event cannot be changed.

**To Reproduce**
Exact steps to reproduce the behavior:
1. Go to 'Datamodel tool'
2. Click on 'Release version 1.5.6-1'
3. Scroll down to 'Pg service configuration' and select database with datamodel < 1.5.6 (h

[2022-04-11 19:48] sjib commented on #733
Fix pull request https://github.com/QGEP/datamodel/pull/182

[2022-04-12 13:54] sjib commented on #552
Detailed description here: https://gist.github.com/m-kuhn/e13adf28da35985dc8060a53f1074be9

[2022-04-16 13:41] sjib commented on #726
Supporting file pathes with empty strings - add " around path variable (see https://github.com/QGEP/qgepqwat2ili/issues/59#issuecomment-1099108398):

parser_qgep.add_argument("path", help="path to the input/output .xtf file")
https://github.com/QGEP/qgepqwat2ili/blob/ca20959e7c87822fca4f09599739eeafad10b8db/qgepqwat2ili/__init__.py#L48

@olivierdalang Is this the right place to fix this globally?

[2022-04-19 13:50] tproduit commented on #728
**Proposition from technical user group**

Adaptation of the export function
1. User interface: let the user choose between K_COLEBROOK or K_STRICKLER for the SWMM export
2. If a coefficient is provided: uses it
3. If no value is provided: use a lookup table (default coefficients for each materials)

Write a coefficient import function
-  Reimport used coefficients: Choices: _Overwrite existing co

[2022-04-19 15:54] #726 closed

[2022-04-20 11:30] tproduit commented on #690
In line https://github.com/QGEP/datamodel/blob/518a7b21c0c92c12311588c9c7ce028124a430ae/swmm_views/04_vw_swmm_conduits.sql#L26

`ST_CurveToLine(progression_geometry)::geometry(LineStringZ, %(SRID)s)  as geom,`

Must be replaced with

`ST_CurveToLine(st_force3d(progression_geometry))::geometry(LineStringZ, %(SRID)s)  as geom,`

It is quite unlikely that this error is related to the status of a node

[2022-04-20 11:52] tproduit commented on #719
@sjib Are they supported? Do they exist in QGEP?

[2022-04-20 12:22] tproduit commented on #720
@TriformMoritz  if some secondary network objects are selected in QGIS, would you need to have them exported?

[2022-04-20 12:48] sjib commented on #719
Hydraulic classes in VSA-DSS

![hydraulic_classes_dss](https://user-images.githubusercontent.com/1265865/164231097-193deb92-ccb2-46cd-8f93-4bab2c62ee24.jpg)

hq_relation and overflow_char (Ueberlaufchrakteristik) have the parameters needed for the SWMM curves (see chapter C.5 and 3.28. of the [SWMM 5.2. User manual](https://www.epa.gov/system/files/documents/2022-02/storm-water-management-model-us

[2022-04-20 14:17] urskaufmann opened #734 "Datamodel tool and QGIS 3.22.5: error when installing python dependencies"
**Describe the bug**
I get this error when I want do install the python dependencies with QGIS 3.22.5. Same behaviour with 3.24.1, (no problem with 3.16.14):

_Could not install python dependencies. You can try to run the command manually from the OSGeo4W shell.
Command :
python3 -m pip install --user "pirogue==1.4.1" "psycopg2" "pyyaml" "pum==0.9.12"

Output :
Collecting pirogue==1.4.1
  Using ca

[2022-04-21 06:58] urskaufmann commented on #734
QGIS 3.22.5 and 3.24.1 are installed in the same folder and with Python39 in the apps-folder.
QGIS 3.16.14 is installed in an other folder and with Python37 in the apps-folder

[2022-04-21 07:12] sjib commented on #734
You can influence where to make installations if you do not want to use the default pathes – see https://qgep.github.io/docs/de/admin-guide/interlis-io/index.html#python-libraries

[2022-04-21 07:17] urskaufmann commented on #729
The user should be able to select the reaches he wants to export (similar to the Interlis-Export). Its then his problem, if he wants to export also parts of the secondary network, just a part of the primary network or what is interesting...

[2022-04-22 11:15] olivierdalang commented on #734
From the error, it could be that your version of pip and/or setuptools are out of date (not sure why though ?!)

@urskaufmann Can you try to this code in your QGIS python console (one at a time, an please take a screenshot if you're getting errors):
[code]
[code]

[2022-04-22 12:16] urskaufmann commented on #734
Thanks Olivier. It works with this 2 lines in the QGIS Python console. There are errors (sent direct to Olivier), but the datamodel tool works afterwards

[2022-04-25 06:38] TriformMoritz commented on #720
**No**, not necessary, as we shouldn't be modeling secondary networks.
For that, the user should change secondary to primary in order to export.
The (not wanted) selection of secondary network objects should not bother the export of the primary selected network.

[2022-05-12 07:14] ponceta opened #737 "'nan' values on reaches makes the layers export fail"
**Describe the bug**
On QGIS 3.22, I can't export into a shapefile or a geopackage my reaches because the contain 'nan' values in their altitude coordinates.

**To Reproduce**
Exact steps to reproduce the behavior:
1. Go to to the reach layer
2. Right Click on 'save as layer'
3. See error

**Expected behavior**
Export goes well

**Screenshots / data**
![image](https://user-images.githubusercontent

[2022-05-12 07:39] urskaufmann commented on #737
Confirm for export to shp, but no error when exporting to gpkg. ?
Same behaviour also with 3.24.1

[2022-05-17 07:08] ponceta opened #738 "No user defined rights on qgep_network"
**Describe the bug**
Only if you define qgep user as database owner and use it to connect will you to your qgep project. This is a bad practice in production since the rights are too elevated and the user will be able to alter the datamodel structure.

[code]

**To Solve**
Provide finer permissions definition

**Expected behavior**
The user should be able to execute functions in qgep_network and t

[2022-05-18 05:29] tproduit commented on #646
Feedback from technical group:

- Literature shows that using several raingages provides more realistic results

- If raingages are inserted in QGEP (`measuring_point`):

    - the user can choose which rainage is exported
    -  or the catchments can be linked to nearest raingage

[2022-05-18 05:37] tproduit commented on #719
Feedback from technical user group (2022.05.18)
In the corresponding QGIS form a tab "overview" could be created to ease the exploration.

[2022-05-18 08:16] urskaufmann opened #739 "Multiedit works not with QGEP"
**Describe the bug**
Multiedit works not with QGEP. I can not edit one or several fields, if there is more than one record selected.
I saw, that the project-configuration of the obj_id -fields has to be changed (this field are not editable).
There are error messages, hints that no save is possible before you change anything. You can see the problem with the red, green and yellow signs behind the f

[2022-05-19 07:00] urskaufmann commented on #739
There is not the same behaviour of I start multiedit from the map or from the attribut table. Identical is, that the changes are not saved...
Do not use multiedit, you can have data-changes you don't want

[2022-05-19 14:25] ponceta commented on #739
I had a smiliar but different issue on QGEP using the different multiedit tools
https://github.com/qgis/QGIS/issues/37278

A QGIS upstream issue list QGIS versions >=3.22 having bug on multi edit tools :
https://github.com/qgis/QGIS/issues/48077

[2022-05-20 07:04] TriformMoritz opened #740 "QGEP Traduction terms (words or word combination) not VSA-DSS conform"
This is an overall matter which should be checked.
The traduction from transifex often does not equal to the traduction of the VSA-DSS.

Example (french version):
One tab in vw_qgep_troncon is named "conduite", but refers to the class "canalisation".

This happens often, sometimes terms are false or just slightly different so its difficult to understand them.

Suggestions:
- Create a glossary of t

[2022-05-20 09:06] sjib commented on #740
We can upload glossaries in Transifex to help harmonize translations:
https://www.transifex.com/qgep/glossary/

Here the documentation: https://docs.transifex.com/glossary/uploading-an-existing-glossary

I can provide a set of all classes, attributes and values of the VSA-DSS model in German, French, English (and some Italien and Romanian) and add it to the qgep glossary.

[2022-06-07 12:17] varrieta opened #741 "Generalisation of sys tables between QGEP / QWAT"
Tables in sys schemas used for versioning with PUM should be generalized between QGEP and QWAT.

Right now:
- for QGEP : `qgep_sys.pum_info`
- for QWAT : `qwat_sys.info` & `qwat_sys.upgrades`

[2022-06-07 12:19] varrieta commented on #741
qwat/qwat-data-model/issues/358

[2022-06-14 12:54] sjib commented on #739
Approved from Technical group to search fix (-> UD)

[2022-06-17 10:33] kandre commented on #623
Thanks @sjib, these documents are precious.
Our TV inspection company exported a dataset in INTERLIS format then I am currently trying to import Wincan VX in INTERLIS format with the qgep plugin interlis import feature.

After some compiler errors easy to solve (pathnames spaces, ili models versions), I am stuck with that one:

`This reference to a viewable requires a topic dependency between KEK

[2022-06-17 11:48] kandre commented on #623
Actually, I kind of solved it by editing the model by adding EXTENDS SIA405_Abwasser.SIA405_Abwasser like in the model you suggested in https://github.com/QGEP/QGEP/issues/623#issuecomment-804127966

[2022-06-18 12:46] sjib commented on #623
@kandre Send me  the header and a view lines of data for detailled support and checking your approach.

[2022-06-20 14:18] kandre commented on #623
@sjib here it is below.
Some values in domains are in french but the model is in german (like à partier de la surface uniquement for Erfassungsart). I think this is why the validation fails at the moment and I asked for a new file either completely in french or german.
What do you think and do you see smthg else?

File SEC.xtf:
[code]

File NOD.xtf
[code]

[2022-06-21 07:34] sjib commented on #623
@kandre
The file above looks like the datamodel VSA_KEK Release 2008, wich extends SIA405 Abwasser 2008
and which was published on the [VSA-DSS INTERLIS CD with Release 2008 and again 2015
](https://vsa.ch/vsa-dss-interlis-cd/)

In the meantime the related VSA-Norm "[Erhaltung von Kanalisationen, Richtlinie 3: Optische Inspektion von Entwässerungsanlagen: Schadencodierung und Datentransfer](https:

[2022-06-22 19:30] sjib commented on #541
Added in new Release [2019](https://www.vsa.ch/models/2019/VSA_KEK_2019_2_d_LV95-20210416.ili) and [2020](https://www.vsa.ch/models/2020/VSA_KEK_2020_2_d_LV95-20210503.ili) of VSA-KEK

Skizze was added with https://github.com/QGEP/datamodel/blob/83d652fb32767e2b304513326488bd478bf54cf0/delta/delta_1.5.6_kek_model_update_2008_2019.sql

[2022-06-22 19:30] #541 closed

[2022-06-22 19:32] sjib commented on #388
Solved with https://github.com/QGEP/qgepqwat2ili

[2022-06-22 19:32] sjib commented on #387
Solved with https://github.com/QGEP/qgepqwat2ili

[2022-06-22 19:36] #33 closed, assigned to sjib

[2022-06-22 19:36] #32 closed

[2022-06-22 19:40] sjib commented on #319
New link for VSA Glossary: https://vsa.ch/glossar/
please reopen if still an issue.

[2022-06-22 19:40] #319 closed

[2022-06-22 19:42] #340 closed

[2022-06-22 19:45] sjib commented on #516
@ponceta Tooltips could be added to the project now as QGIS has implemented this functionality

[2022-06-22 20:12] sjib commented on #740
[transifex_qgep_dictionary_classes_utf8_txt.csv](https://github.com/QGEP/QGEP/files/8960996/transifex_qgep_dictionary_classes_utf8_txt.csv)

@TriformMoritz Here a first set with the classnames. Is comment like this ok?

[2022-06-22 20:22] sjib commented on #634
Introduction to new VSA-DSS Release 2020 - implications on qgep [see slides from SB](https://github.com/QGEP/QGEP/files/8260893/20210208.TEKSI.Technical.group.zip)

[2022-06-23 08:13] sjib commented on #552
Needed adaptions on qgepqwat2ili: https://github.com/QGEP/qgepqwat2ili/issues/58

[2022-06-23 08:19] sjib commented on #552
First part of implementation on QGIS Upstream realized with QGIS 3.24
https://www.qgis.org/de/site/forusers/visualchangelog324/index.html?highlight=changelog#feature-extract-labels-algorithm

[2022-06-28 05:30] ponceta commented on #737
It is causing trouble to FME and AutoCAD as well, I think there's something that has to be fixed on QGEP to avoid such unsupported Z values, Null was fine, I think we will have to track these 'nan' values down are replace otherwise we will face many unsatisfied users.

[2022-06-28 07:02] sjib commented on #737
It is discussed on the OGR github: https://github.com/OSGeo/gdal/issues/3542

@andreasneumann May be you are more into such issues:
 - does it need a fix an QGEP side?
 - Or is or will it be fixed on QGIS side?
 - Or does the mentioned fix solve the problem and we just have to make sure to have the latest OGR2OGR?

[2022-06-28 07:38] m-kuhn commented on #737
For reference https://github.com/qgis/QGIS/pull/47034

[2022-06-28 13:29] sjib commented on #725
@urskaufmann Does https://github.com/opengisch/QgisModelBaker/pull/703 solve your issue?

[2022-07-04 06:21] ponceta opened #743 "Restore 1.5.4 demo backup impossible"
**Describe the bug**
Impossible to restore 1.5.4 demo backup

**To Reproduce**
Exact steps to reproduce the behavior:
C:\Program Files\pgAdmin 4\v6\runtime\pg_restore.exe --host "myserver.pully.ch" --port "5432" --username "postgres" --no-password --role "postgres" --dbname "qgep_1.5.4_demo" --jobs "1" --verbose "pathto\\qgep_1.5.4_demo_data.backup"

**Expected behavior**
pg restore successful

**

[2022-07-04 06:29] ponceta commented on #516
@sjib We first have to make every VL inherit from the description field :
![image](https://user-images.githubusercontent.com/8614223/177094507-4f604b8a-5731-493e-b856-dc562f839102.png)

This is a datamodel change needed before any switch on the qgs project.

[2022-07-04 06:49] ponceta commented on #743
I tried to restore demo_data without structure... Fail.

[2022-07-04 06:49] #743 closed

[2022-07-04 06:52] ponceta opened #744 "Errors when Restore 1.5.5 structure + demo data .backup"
**Describe the bug**
Restore errors

**To Reproduce**
Restore structure + demo data .backup

**Expected behavior**
Restore successful 100%

**Screenshots / data**
If applicable, add screenshots or data to help explain your problem.

**Desktop (please complete the following information):**
- pgAdmin 6.8
- QGEP datamodel version 1.5.5
 - OS Windows

**Additional context**

https://gist.github.com/po

[2022-07-04 08:15] sjib commented on #496
@kandre Is this still an issue or should we make a discussion Q + A and close?

[2022-07-04 09:04] ponceta opened #747 "QGEP 1.5.5 and 1.5.6 datamodel releases"
**Describe the bug**
QGEP 1.5.5 and 1.5.6 datamodel releases are still not released (pre-release)

Having more than one release in that state shows unconfidence in release management.

**To Reproduce**
https://github.com/QGEP/datamodel/releases

**Expected behavior**
Versions are published and not in pre-release state

**Screenshots / data**
If applicable, add screenshots or data to help explain y

[2022-07-04 09:28] sjib commented on #524
Please reopen if still an issue

[2022-07-04 09:28] #524 closed

[2022-08-02 09:23] urskaufmann commented on #737
another problem with nan-values in the vw_qgep_reach - geometry: with QGIS 3.22.8, these lines are visible, with QGIS 3.26.0 these lines are invisible (labels are displayed, but the line it self is not visible untill you click on the line with the tool to edit the vertexes) !

[2022-08-02 09:46] urskaufmann opened #748 "Importproblem when reachpoint_level is NULL (and cover level is more than 999)"
**Describe the bug**
Copy reach-data from a geopackage to vw_qgep_reach. The rp_from_level and rp_to_level are unknown for some records, therefore is the level-value = NULL in this cases.
After the import the value rp_from_level / rp_to_level is not NULL, but is 0.00 (and the field length_effective is calculated not correct) and has to be corrected after the import.
The problem is hard, if the cov

[2022-08-04 14:03] urskaufmann commented on #339
This selection between linked tables is still a thing I would use often. When exporting a selection to INTERLIS, there is now a function like this in use. Is it not possible to use this function also to select the connected tables in QGIS?

[2022-08-12 14:37] urskaufmann opened #749 "Glitches with decimal numbers input in the co_level field in vw_qgep_wastewater_structure"
**Describe the bug**
I want to edit or enter a new cover_level (in the General Tab or Main Cover/Node tab). If there are already values in this field, I delete them with the "x-arrow-sign". If I enter the first number (e.g. 6 for 601.56), I get "6.000m.a.s.l" in the field. If I type my wanted level further, I get "60.000m.a.s.l", "601.000m.a.s.l", "601.5.000m.a.s.l", "601.56.000m.a.s.l". If I go t

[2022-08-12 14:54] urskaufmann opened #750 "QGIS changes the entries to the defined range without message"
**Describe the bug**
Level-Fields have a range of 0 - 4000 m (in the VSA-DSS).
So this field is defined with this range. If I make a mistake and type e.g. to many numbers (6001.56 instead of 601.56), QGIS changes this to 4000 if I leave the field (e.g by pressing the tab button). No warning, no beep, nothing.
If I notice the problem, I have to delete 4000, to look for the correct value in my docum

[2022-08-12 15:01] urskaufmann commented on #748
The problem is also, if I make a mistake (I type 6001.56 instead of 601.56 as cover level, QGIS changes this to 4000 because of the range-max) and click on OK I will get this "Feldüberlauf" Fehler and nothing of my changes is saved.
Proposal: There should by a warning about the _depth-field, not a mistake.

[2022-08-22 11:57] ponceta opened #751 "vw_qgep_reach is not dropped when updating"
**Describe the bug**
The view vw_qgep_reach is not dropped when updating.

This can lead to errors or inconsistensies.

https://github.com/QGEP/datamodel/blob/master/view/drop_views.sql

**To Reproduce**
Apply https://github.com/QGEP/datamodel/blob/master/view/drop_views.sql
on a database
qgep_od.vw_qgep_reach is still present

**Expected behavior**
Apply https://github.com/QGEP/datamodel/blob/mas

[2022-08-31 06:08] ponceta commented on #103
I've stored these in a customization of my wastewater nodes :

https://github.com/VilleDePully/datamodel/blob/c86d6fc4f45161575678dbd1ae14d488a4777d62/delta/pully_custom.sql#L25-L50

++
Easy to include,
inheritance of hierarchy and usage

--
Can introduce nodes where the VSA does not want nodes (secondary reach junctions) (could be filtered at export)

[2022-09-06 14:02] sjib commented on #747
Agreed on to be critical and be fixed until October 6th, 2022. @ponc is contact person for this issue - fixing by @olivierdalang

[2022-09-06 14:04] sjib commented on #737
Re-Agreed on to be critical and be fixed until October 6th, 2022. @urskaufmann  is contact person for this issue - fixing by @olivierdalang

[2022-09-06 14:22] #734 closed

[2022-09-09 09:55] urskaufmann commented on #725
ModelBaker 703 solves not the problem with the missing password, but it solves the error when starting Import-Export (Error : Could not load qgepqwat2ili due to unmet dependencies. See logs for more details.
qgepplugin:No module named 'QgisModelBaker.libili2db')

[2022-09-12 10:37] olivierdalang commented on #747
Done

[2022-09-12 10:37] #747 closed

[2022-09-14 08:48] PeterZamudio opened #752 "vw_qgep_reach not drawing the start and end line segments of a polygon. Problem caused by NAN"
The problem started with QGIS 3.26.1 and is the same in 3.26.2.
We have a lot of QGEP pipelines that have no hight. If the start hight is NULL the Z is set to NAN. And all the pipelines with Z=NAN the first segment is no longer drawn. So, we now have lots of pipelines with the first and/or last segments missing in the graphic. The line is there, and I can edit it, but it is not displayed.

If I en

[2022-09-14 09:05] PeterZamudio commented on #752
The same data viewed in QGIS 3.24.2
![NAN-Problem_QGIS3 24 2](https://user-images.githubusercontent.com/32352291/190111502-74e1fc7d-2de4-4bea-b3fd-aa442da429d2.jpg)

[2022-09-14 09:08] sjib commented on #752
@m-kuhn Can you check on this as you are involved on the QGIS side on fixing this. Thanks.

[2022-09-14 13:12] olivierdalang commented on #739
Started looking into this. It seems the issue happens for widgets that appear twice in the form (e.g. `material` appears both under `general` and `reach` tab). This is an upstream QGIS bug, which I documented the here : https://github.com/qgis/QGIS/issues/50197

This is probably **not** an easy fix.

@sjib @ponceta @urskaufmann Before spending too much time in digging in QGIS's code to see how thi

[2022-09-14 13:50] andreasneumann commented on #739
@olivierdalang @urskaufmann - Sorry to chime in from "external" - I would also prefer, if this would be solved upstream in QGIS. It is common practice that fields are added multiple times to forms.

OPENGIS is currently participating in the QGIS.ORG paid bug fixing effort - maybe this issue could be investigated (and hopefully fixed) as part of this effort?

[2022-09-14 14:16] urskaufmann commented on #739
if I create (copy) a new style for vw_gqep_reach without duplicates it seems to work as expected!

[2022-09-23 08:13] PeterZamudio commented on #752
We have gone back to QGIS 3.24.3 and will stay there till the problem has been solved.

Thank you for looking into this problem.

[2022-09-23 13:50] cymed commented on #750
This behaviour is defined by QGIS form type "Range". A workaround is to delete the maximum value of the range and enforce a restriction on the field *_level.

![grafik](https://user-images.githubusercontent.com/102035587/191973834-81453521-4b03-4846-91b2-9b818d50c552.png)

The wrong entry remains unchanged, but the object cannot be saved unless the value is between 0 and 4000
![grafik](https://use

[2022-09-27 11:16] sjib commented on #751
@ponceta Would this solve the issue:

Add a line

DROP VIEW IF EXISTS qgep_od.vw_qgep_reach;
in https://github.com/QGEP/datamodel/blob/master/view/drop_views.sql

[2022-09-27 11:36] sjib commented on #750
@urskaufmann Can you test if this a good solution?

[2022-09-30 14:11] domi4484 commented on #739
QGIS Pull request opened here: https://github.com/qgis/QGIS/pull/50410

[2022-09-30 14:27] rbovard commented on #103
Thanks @ponceta!

I've the same needs here, I'll take your customization.

[2022-09-30 15:03] rbovard commented on #738
I confirm this issue and the need to find a solution to fix this.

Currently the user has an access to a button in QGEP plugin wich doesn't work.

[2022-09-30 16:06] rbovard opened #753 "Python error when using the plugin profile tool"
**Describe the bug**
Python error when using the plugin profile tool

**To Reproduce**
Exact steps to reproduce the behavior:
1. Activate profile tool in QGEP plugin
2. Click on start and end nodes
3. See error: `Python error: An error has occurred while executing Python code: See message log (Python Error) for more details.`

[code]

**Expected behavior**
The profile is drawn.

**Desktop (please

[2022-10-01 12:19] sjib commented on #738
How should this then be adapted?
https://github.com/QGEP/datamodel/blob/6aa60794729f24edcd9a7c6d7ad124a605dec4e9/12_1_roles.sql#L9
https://github.com/QGEP/datamodel/blob/6aa60794729f24edcd9a7c6d7ad124a605dec4e9/12_1_roles.sql#L13
etc

We already did a fix on this: https://github.com/QGEP/datamodel/pull/170/files

[2022-10-01 12:23] sjib commented on #753
@rbovard Is the behavior onliy in QGIS 3.22.x. ?
Does it work in 3.16?

Datamodel you should use the latest version https://github.com/QGEP/datamodel/releases (or at least check on the changes after if they could influence this behavior)

[2022-10-03 07:00] cymed opened #754 "obj_id not set in hydraulic views"
**Describe the bug**
vw_pump, vw_prank_weir and vw_leapingweir all have no default obj_id. Thus, when adding a new feature in QGIS, obj_id is a non-editable mandatory field set to NULL

**To Reproduce**
Exact steps to reproduce the behavior:
1. Create new feature of mentioned vw
2. try saving

**Expected behavior**
obj_id should be preset in the view.

**Screenshots / data**
![grafik](https://user

[2022-10-03 09:09] urskaufmann commented on #754
I can not reproduce with my setting.
Field identifier: only "not null"
Field obj_id: not editable, not null, unique, enforce restriction (but not "enforce not null")
I have also the yellow cross for obj_id, but I can click OK and then an obj_id is set by the database

[2022-10-03 09:17] cymed commented on #754
NOT NULL was enforced in the 14.04.2022 version. Without the enforcing the insert does work as long as only one new feature is added (otherwise we have two features with obj_id=NULL). Therefore it is better practice to preset the OID on the database side.

[2022-10-03 09:55] urskaufmann commented on #750
Field "Ausdrucksbeschreibung" unfortunately has no effect. So the user does not see the range. Solution: the range should be in the comment of the fields?
Otherwise it works like this. Lot of work to change the whole configuration...

[2022-10-03 10:44] cymed commented on #750
The expression in "Ausdruckbeschreibung is shown when you hover over the orange x

[2022-10-04 14:00] rbovard commented on #738
Sorry, I confirm it's fixed in `1.5.5`

@ponceta you can close this issue.

[2022-10-04 14:54] rbovard commented on #753
Thanks for your answer @sjib

I've updated to the latest version of datamodel 1.5.6-1 and the Python error doesn't occur again, sorry for the noise.

[2022-10-04 14:54] #753 closed

[2022-10-04 15:13] urskaufmann opened #756 "vw_qgep_wastewater_structure is not updated when deleting reaches"
**Describe the bug**
When deleting reaches, that are connected to wastewater nodes, the data (e.g. _channel_function_hierarchic, _labels) in vw_qgep_wastewater_structure is not updated. Closing the project or editing data in the wastewater_structure (_labels are updated when editing the cover_level) does not help.

**To Reproduce**
Exact steps to reproduce the behavior:
1. Delete records in vw_qge

[2022-10-04 15:16] rbovard opened #757 "The default values are not used when adding a reach via the wizard"
**Describe the bug**
The default values are not used when adding a reach via the wizard

**To Reproduce**
Widget definition:
![image](https://user-images.githubusercontent.com/4549666/193857307-e0003334-f9d5-4368-87d3-4e21e05fa877.png)

Form via QGEP plugin data entry tool (default value is not fine, it's the first one wich is selected):
![image](https://user-images.githubusercontent.com/4549666/1

[2022-10-04 19:30] urskaufmann commented on #757
it's just a small note in the docu (Chapter 3.2.5):
_The standard-fields on the General tab (and only those fields) do reuse the last entered attribute value when you add new reaches with the wizard. The Reuse the last entered attribute values - option of QGIS has no influence._
This reuse for the standard-fields is hardcoded in the qgep-plugin. It seems that it also stronger than the default valu

[2022-10-05 04:50] rbovard commented on #757
Oh I see. Can someone else please confirm that? If it's that, I can add a note in the doc.

[2022-10-05 06:34] urskaufmann commented on #756
This field vw_qgep_wastewater_structure._channel_function_hierarchic is from table qgep_od.wastewater_structure.  In table wastewater_structure is written:
_COMMENT ON COLUMN qgep_od.wastewater_structure._function_hierarchic
    IS 'not part of the VSA-DSS data model
added solely for QGEP
has to be updated by triggers';_
That means: this trigger is not working if reaches are deleted. At least it s

[2022-10-06 09:08] sjib commented on #756
@urskaufmann I think this would need to be done by one of these functions:

https://github.com/QGEP/datamodel/blob/master/06_symbology_functions.sql

Can you test out which one should be run?

[2022-10-06 15:49] cymed opened #759 "progression_geometry of reaches with more than 2 vertices"
**Describe the bug**
When creating a new reach, the rp_to_level and rp_from level are taken from the attributes and used for the progression_geometry. Intermediate vertices are not used and, as the majority of users usually works in 2D, they are set to 0 (QGIS default). This leads to wrong progression_geometries in 3D
**To Reproduce**
Exact steps to reproduce the behavior:
1. Create a new reach wi

[2022-10-07 11:08] rbovard opened #760 "Connect wastewater network elements as radio buttons for reach connexion"
### Discussed in https://github.com/QGEP/QGEP/discussions/755

<div type='discussions-op-text'>

<sup>Originally posted by **rbovard** October  4, 2022</sup>
Why is the "Connect wastewater network elements" is displayed as checkboxes?

Shouldn't they be radio buttons?</div>

Depending on the connected elements, the `Connect wastewater network elements` form should be adapted:
- Reach connection: *

[2022-10-07 12:20] sjib commented on #760
The challenge here is, that this tool I think is code that allows to connect any element to another when there are relations inbetween. We would have then to hardcode the selection radio button / checkboxes for all the existing relations and have a configuration table somewhere for this.

Maybe we rather invest in training of the operators that they better understand what they are doing and how th

[2022-10-07 12:21] sjib commented on #759
So would this be something to adapt in QGIS or in TEKSI wastewater?

[2022-10-08 04:12] sjib commented on #552
Second part available for testing [WIP] https://github.com/QGEP/qgepqwat2ili/pull/73

[2022-10-08 04:17] sjib commented on #552
I get the following error when exporting:

[2022-10-08 04:42] sjib commented on #552
@olivierdalang Which layers are taken into consideration for the export of text classes? All 3 (wastewater_structure, reach and catchment) or just the ones I select?

[2022-10-08 04:45] sjib commented on #552
@olivierdalang Does the scale of the layer and the scale I select have to match for the export or does the algorithm zoom in / out to my selection(s) - kind of should, else I cannot do several at once.

If I do not see any labels in a certain scale do I get _text data or not? Or does it just get the ones visible?

[2022-10-08 08:13] m-kuhn commented on #757
Yes, they are remembered since https://github.com/QGEP/qgepplugin/pull/41, the list is hardcoded (see https://github.com/QGEP/QGEP/issues/163).

[2022-10-10 08:19] sjib commented on #757
@rbovard Can you document this - then I will merge your updates.

[2022-10-10 09:19] ponceta commented on #751
FIX:
https://github.com/QGEP/datamodel/pull/185

[2022-10-10 09:36] olivierdalang commented on #552
I tested again here on the demo data, and could not reproduce the issue (tried with multiple scales at once, with the scales one by one, with and without selection). Can you give more details on how to reproduce the error (exact export settings, exact selection if any, Postgres/postgis versions) ?

Looking at the error, I really don't understand what could be going on, as it seems the label positi

[2022-10-10 11:29] sjib commented on #552
I think vw_gep_wastewater_structure and vw_gep_reach do not show any labels with scales 1:5000 and 1:10'000. So that is why we do not get data and therefore no error:
![20221010_label_settings](https://user-images.githubusercontent.com/1265865/194856174-b9026d9e-1349-4f9b-a650-9cc4f71eae1a.jpg)

[2022-10-10 11:38] sjib commented on #552
Postgres 12, postgis 3.0.0
Setting see screenshot, using the qgep demodata arbon
![20221010_export_textklassen_lk](https://user-images.githubusercontent.com/1265865/194857626-79a9a320-ad69-44b6-8981-f992c872c074.jpg)

[2022-10-11 06:02] ponceta commented on #747
Thank you @olivierdalang

[2022-10-11 12:31] ponceta commented on #739
To be tested after 2022-11-18
QGIS 3.28.1

[2022-10-11 13:01] domi4484 commented on #737
QGIS pr opened: https://github.com/qgis/QGIS/pull/50507

[2022-10-11 15:08] rbovard commented on #757
Done https://github.com/QGEP/docs/pull/194/commits/7052f1c79ec82d0c3e5014a59b81797b68508fe9

[2022-10-11 15:08] #757 closed

[2022-10-12 02:23] sjib commented on #757
@rbovard Your last commit is not part of your other pull request on the documentation (https://github.com/QGEP/docs/pull/194)  - can you integrate it their so I can push at once? Or do you want to make a separte pull request for this?

[2022-10-12 05:45] rbovard commented on #757
@sjib Are you sure? See https://github.com/QGEP/docs/pull/194/commits

[2022-10-12 13:21] olivierdalang commented on #552
New version ready to test (https://github.com/QGEP/qgepplugin/pull/69)

[2022-10-18 09:32] #751 closed

[2022-10-18 13:20] olivierdalang commented on #752
A first fix was done by Nyall: https://github.com/qgis/QGIS/commit/49051e5cf23bf7d8451c5cc68b4cdd4377c41016 and should land in 3.28 when it's out. If you have the possibility to test if it works as expected in a nightly build, that would be great.

[2022-10-19 07:44] PeterZamudio commented on #752
Thank you too Olivier

I will try and test it as soon as 3.28 is out. I see 3.27.0-8.msi is the newest at the moment.

[2022-10-19 11:27] PeterZamudio commented on #752
I did a test today with QGIS Version 3.27.0 nightly build.
It seems to work fine now with no missing lines as before. See the graphic below. I think the problem has been soved.
![image](https://user-images.githubusercontent.com/32352291/196677318-4be55e0a-dc80-4a70-8ee9-17d9c9c69755.png)

[2022-10-20 10:23] rbovard opened #762 "Cannot use the network following tools after using the refresh of network topology button"
**Describe the bug**
Cannot use the network following tools after using the refresh of network topology button

**To Reproduce**
Exact steps to reproduce the behavior:
1. Activate the downstream following tool
2. Click on a node: the downstream is highlighted --> Okay
3. Refresh the network topology
4. Activate the downstream following tool
5. Click on a node: the downstream is not highlighted -->

[2022-10-21 09:27] ponceta commented on #738
Demo data 1.5.6.1 -> Tried it with all delta applied, sql action is started correctly but there's something wrong when applying this on the demo data.

@olivierdalang Could you have a look at this fix on the demo-dataset?

The error when clicking on refresh symbology:

Error: Status 7 (ERREUR: une valeur NULL viole la contrainte NOT NULL de la colonne « id » DETAIL: La ligne en échec contient (nul

[2022-10-21 13:54] rbovard opened #763 "Cannot have more than 1M objets in a table"
**Describe the bug**
Cannot have more than 1M objets in a table

**To Reproduce**
1. Import large network data
2. See error `ERROR:  nextval: reached maximum value of sequence "seq_reach_point_oid" (999999)`

**Expected behavior**
We can import more than 1M objets in a table

**Desktop (please complete the following information):**
 - QGEP datamodel version: 1.5.6-1

[2022-10-31 09:15] spch-GL opened #765 "slope_per_mill calculation"
I need explanations about the slope calculation formula which is:
[code]
I do not understand the use of **re.length_effective** in this formula because it is not necessarily a 2D value

[2022-10-31 09:23] kandre commented on #623
@sjib,
I had some meeting and discussions and did some tests with my camera inspections data provider. I confirm that there is no option provided in lastest Wincan VX to change the VSA datamodel version to use the 2008 release.

So, to answer you, in my case there is a need for 2008 release for current data inspections, unless Wincan adapts the export feature to 2019.

1. How many datasets do we h

[2022-10-31 09:25] sjib commented on #765
Yes it includes the 3D information from the reach points and calculates the 3D length:
Definition for reach.length_effective: "Tatsächliche schräge Länge (d.h. nicht in horizontale Ebene projiziert)  inklusive Kanalkrümmungen"
Translated with deepl: "Actual oblique length (i.e., not projected in horizontal plane) including channel curvatures."

[2022-10-31 09:26] #765 closed, assigned to nobody

[2022-11-02 09:56] olivierdalang commented on #752
Ok so this can be closed ?

[2022-11-02 10:04] PeterZamudio commented on #752
From my side yes. We will be waiting for the new QGIS version 3.28.1. Till then we have to stay with 3.24.3
Thank you for solving the problem.

[2022-11-07 10:38] sjib commented on #554
Related to https://github.com/QGEP/qgepqwat2ili/issues/66

[2022-11-07 12:22] sjib commented on #737
Waiting for review https://github.com/qgis/QGIS/pull/50507

[2022-11-08 13:33] olivierdalang commented on #750
As discussed 08/11/2022, this is likely an issue in QGIS upstream (didn't yet check if it was already reported)

[2022-11-08 14:52] #192 closed

[2022-11-08 15:08] ponceta commented on #759
I'm not sure to understand the "bug" or the way you want to work?

In Pully we snap every reach on GPS points (3D) or wastewater nodes (3D). Triggers are yet present to update any modification on the reach geometry (x,y,z) or the reach point altitude (attribute).

![image](https://user-images.githubusercontent.com/8614223/200599481-b1364bb0-4550-421a-95a4-ffda5e06b414.png)

The Z values could be i

[2022-11-08 15:28] cymed commented on #759
The problem arises when the data is provided by third parties, the previous cadastre was managed in 2D or the reach was covered before recording the heights. In all these cases the z values are missing.

The main problem is that we somehow need to distinguish between measured and interpolated vertices (you might also have interpolated points if a curved reach was split at one point, as ST_Split re

[2022-11-08 16:06] urskaufmann commented on #749
Seems to be the problem, if the field is more than once in the attribute form. If I delete the reachpoint-level-fields in the reach-point tab, I can edit the level-fields in the generell tab without problem.
So the "same" problem as with multiedit: if the fields are more than once in a attribute-form, QGIS has a problem.
Would be very good, if this thing can be solved on QGIS side

[2022-11-08 16:25] sjib commented on #749
@olivierdalang Can you open (or link to) an issue on QGIS side as discussed today in the technical meeting?

[2022-11-08 16:28] olivierdalang commented on #749
This is the same as https://github.com/QGEP/QGEP/issues/750, right ?

[2022-11-08 21:56] sjib commented on #698
In TEKSI wastewater gep_od.profile_geometry:

![profile_geometry](https://user-images.githubusercontent.com/1265865/200683916-41b9804d-a59a-460d-8943-f6981bf6831f.png)

[2022-11-09 07:22] urskaufmann commented on #749
No, its not the same. This issue (749) is a problem, when a numeric field is more than once in a attribut-form (I checked this yesterday after the discussion).
750 is the behaviour of range-fields, that the entry is corrected without any hint to the max- or min-value. I expect in this case (750), that the field gets orange and that I can not press OK (as usual in QGIS).

[2022-11-09 09:23] rbovard opened #768 "Create 2 missing views"
**Describe the bug**
Currently the views related to `infiltration_installation` and `wwtp_structure` are missing.

**Expected behavior**
The views `vw_infiltration_installation` and `vw_wwtp_structure` are created.

**Desktop (please complete the following information):**
 - QGEP datamodel version: 1.5.6-1

**Additional context**
I'll open a PR with these steps:
- Add the views in [create_views.py

[2022-11-09 11:23] urskaufmann commented on #768
Infiltration_installation are part of the vw_qgep_wastewater_structure layer (ii-fields). The standard symbology for this layer does not show the ii as it should be, this will be better in the next standard_project...
The wwtp_structures are missing, that's right. In my opinion it's good to have a seperate layer for this class and not to integrate in to vw_qgep_wastewater_structure

[2022-11-09 11:31] rbovard commented on #768
It will not be integrated in `vw_qgep_wastewater_structure`, but in spectific views (`vw_infiltration_installation` and `vw_wwtp_structure`), see [here](https://github.com/QGEP/datamodel/blob/428870305122a5011cea71b0c06fa6694f9fe34c/view/create_views.py#L51-L56).

[2022-11-09 12:22] tproduit commented on #729
With the export of secondary network, we encounter case that we didn't meet previously:

- Pipes with no _from node_
- Pipes with no _to node_ (blind connection)

These pipes will be exported in SWMM. The user will be warned with a message printed in the plugin.

![image](https://user-images.githubusercontent.com/8256037/200828674-9de5f0ba-d40b-4817-8ec6-cc2ed5e30027.png)

[2022-11-09 12:29] sjib commented on #729
Blind connections are allowed (reach - reach connection) with SAA. There a message should only be done if it is with two PAA reaches (then reach - reach connection is not correct)

[2022-11-09 19:51] sjib commented on #654
@urskaufmann Did you solve this with the new project file?
Is it still a `QGIS Upstream` issue?

[2022-11-09 19:59] sjib commented on #551
@m-kuhn Is there an QGIS issue for this? Or has this been implemented already? Else can you create one?

[2022-11-09 20:02] sjib commented on #537
@ponceta https://github.com/qgis/QGIS/pull/33628 has been merged. Can you document how it looks today and then close this issue?

[2022-11-09 20:11] sjib commented on #445
@urskaufmann I think this is solved with QGIS 3.xx? Can you specify and then close?

[2022-11-09 20:14] sjib commented on #294
@urskaufmann is it this feature request https://github.com/qgis/QGIS/issues/21576 ? Nothing has been going on there. Is this still an issue? Else please close.

[2022-11-09 20:17] sjib commented on #240
`QGIS Upstream` issues have been solved. @varrieta can we close this? And open another issue if we want to add requirements to the project file.

[2022-11-09 20:25] urskaufmann commented on #654
in the new project is the proposal from Arnaud, so this issue can be closed..

[2022-11-09 20:25] #654 closed

[2022-11-09 20:33] sjib commented on #106
Discuss in Technical group meeting if this is still an issue - connect with new project file.
May be the new plugin "Trackable QGIS Project" could also help on this
![grafik](https://user-images.githubusercontent.com/1265865/200935868-a6a09029-8c95-4020-9b05-a527637afca8.png)

[2022-11-09 20:34] sjib commented on #668
Related to [ Identifier-Fields increment #666 ](https://github.com/QGEP/QGEP/issues/666)

[2022-11-10 06:51] m-kuhn commented on #551
Added to https://github.com/qgis/QGIS/issues/36729

[2022-11-10 07:30] urskaufmann commented on #445
can not reproduce with 3.22.11 the original problem of this issue. The actual problem of multiedit is written in #739 .

[2022-11-10 07:30] #445 closed

[2022-11-10 08:12] urskaufmann commented on #294
There is still a problem with identifier and obj_id, when checking "reuse last attributes" in the QGIS options, because QGIS expandes the last obj_id with "_1" to great the unique value out of the last obj_id.
It works when using the "reuse last value" option with the fields (in Layer properties - attribut form), where this behaviour is really wanted and not with the general QGIS option.
And in th

[2022-11-10 08:12] #294 closed

[2022-11-10 08:17] urskaufmann commented on #770
There is still a problem with identifier and obj_id, when checking "reuse last attributes" in the QGIS options, because QGIS expands the last obj_id with "_1" to create the unique value out of the last obj_id.
It works when using the "reuse last value" option with the fields (in Layer properties - attribut form), where this behaviour is really wanted and not with the general QGIS option.
And in th

[2022-11-10 12:56] sjib commented on #603
NGDI project 20-18 _Échange de données sur les modèles standard de CH pour l’eau, les eaux usées et les PGEE comme base pour la conservation de la valeur des données sur les infrastructures_ finished. Final report see https://www.geo.admin.ch/de/ueber-geo-admin/leistungsauftrag/zweckgebundene-ngdi-mittel.html#ui-collapse-232

[2022-11-10 12:56] #603 closed

[2022-11-10 13:03] sjib commented on #9
@urskaufmann Is this still an issue?

[2022-11-10 13:06] urskaufmann commented on #603
The original idee ( Select a subnetwork and connected catchments and other linked tables) is not realised. Its only realised for INTERLIS export. I want to see the selection in QGIS and want to work with the selection in QGIS.

[2022-11-10 16:15] olivierdalang commented on #750
For reference, here's the upstream issue: https://github.com/qgis/QGIS/issues/50858

Here I quickly tested @cymed 's workaround, and it seems to work well, with small drawbacks being that input isn't limited when using the small arrow buttons or the mousewheel.

[2022-11-10 16:36] olivierdalang commented on #749
Ok, I opened an upstream issue here: https://github.com/qgis/QGIS/issues/50859

For this one I do not see an easy workaround (besides removing the rp_from_level from the other tab, but not sure that is satisfactory).

[2022-11-11 06:56] ponceta commented on #759
As information, we implemented the Z interpolation of vertices using the topology for altimetry purposes in QGIS in the last years as long as making QGIS stuff 3D ready. Actual triggers between 3D geometries and attributes are here to make sure that data is as coherent as much as it can be.

An approach could have been the full 3D version which would have removed completely the editable attributes

[2022-11-12 08:33] urskaufmann commented on #9
Yes, it is. The thing in the first post is not implemented: "Individual reaches should be labeled (E1, E2, E3, etc.) - should be labeled along the reach close to the manhole."
For me it's no more a top priority (it's necessary if you have a printed map, if you work at the screen you can get the info, which level belongs to which reach - and everybody works more and more at the screen...)

[2022-11-12 10:14] urskaufmann opened #771 "QGEP Plugin 1.5.6-b8 labels in INTERLIS-Export"
**Describe the bug**
- There are reach-labels with orientation 0, but the reach has another orientation
- There is an error, when textinhalt = NULL

**Expected behavior**
orientation = 0: if the label is long, then the anker-point of the label is at the end of the line -> there is no orientation. The orientation should not be taken in the middle of the label and not at the anker-point. Same result

[2022-11-12 10:14] urskaufmann opened #775 "Wrong orientation = 0 in label export"
**Describe the bug**
- There are reach-labels with orientation 0, but the reach has another orientation
- There is an error, when textinhalt = NULL

orientation = 0: if the label is long, then the anker-point of the label is at the end of the line -> there is no orientation. The orientation should be taken in the middle of the label and not at the anker-point. Same result with QGIS tool "Beschrift

[2022-11-12 10:22] urskaufmann commented on #725
password-problem also with qgep-plugin 1.5.6-b8.
the password is needed to create the pg2ili_abwasser schema
it would be no problem, if the schema would not be replaced everytime. May be it's faster to create the schema again than deleting old data in all tables, but with this we can prepare a database with the necessary schemas and the user can use qgep without postgres-password.

[2022-11-14 20:27] urskaufmann opened #772 "New project release"
## General information

The actual QGEP-Demo/Standard project is from 2020. There is a new release in work:

Liste of changes (and to-do's)

**catchment_area and individual_surface**

- new relation in project: "catchment_rw/ww_current/planned to node" with vw_wasterwater_node-obj_id to catchment_area-fk* (4x) and "individual_surface to node" analogue
- changed in form layout catchment_area 4x the

[2022-11-16 07:05] urskaufmann commented on #772
another Error in SQL:
Layer vw_organisation, ft_vw_organisation_update: missing ELSE in CASE

[2022-11-17 13:12] domi4484 commented on #737
Pull request + backport were merged. Would be good if someone could test it with the nightly builds.

[2022-11-22 07:03] #240 closed

[2022-11-22 12:38] tproduit commented on #727
@TriformMoritz Do you have a source for the formula (conversion Colebrook > Strickler), that I can put in the documentation?

[2022-11-22 15:22] sjib commented on #772
see also https://github.com/QGEP/QGEP/issues/633

[2022-11-23 08:11] ponceta opened #773 "vw_qgep_reaches does not export all the entites with QGIS"
**Describe the bug**
QGIS Export fail to export all reaches to GPKG and SHAPEFILE

**To Reproduce**
Exact steps to reproduce the behavior:
1. Go to the vw_qgep_reaches layer
2. Right click on the layer : Export to ...
3. Save layer to GPKG or SHAPEFILE
4. Look for differences

**Expected behavior**
All entites are exported to the destination file.

**Screenshots / data**

![image](https://user-ima

[2022-11-23 08:13] ponceta commented on #737
It seems that we have raised some other bug with the export (probably not related to nan values)

Red are reaches in postgres not exported to shapefile or geopackage :
![image](https://user-images.githubusercontent.com/8614223/203497247-11644f29-e488-41e2-a2f0-76535a864edf.png)

![image](https://user-images.githubusercontent.com/8614223/203497272-96878878-1941-462b-b5f8-29a5bc12de8a.png)

Since na

[2022-11-23 08:13] ponceta commented on #737
Thank you @domi4484 for fixing this!

[2022-11-24 17:49] urskaufmann opened #774 "Identifier and obj_id fields in QGIS 3.26.3"
**Describe the bug**
I create a new reach or wastewater_structure with the QGEP-Wizard. In QGIS 3.26.3, there are not valid values in the obj_id and identifer-fields. In vw_qgep_reach I can not press OK. In vw_qgep_wastewater_structure there are functions instead of the values in the obj_id-fields. I can press OK and the obj_id's are afterwards correct.

If I do the same in QGIS 3.22.11 (same proj

[2022-11-25 19:21] sjib commented on #741
1. qwat_sys schema
![qwat_sys_tables](https://user-images.githubusercontent.com/1265865/204028824-f2645198-ff78-42f4-99fe-dcac76820026.jpg)

- no tables pum_info – seems to be the aequivalent to info, change to pum_info in qwat
- no table oid_prefixes
- no dictionary tables – descriptions are in qqwat_vl tables for values. Where are descriptions for classes and attributes?

![qwat_info](https://us

[2022-11-25 19:39] sjib commented on #771
@urskaufmann Do you think this is a problem of the feature ["Beschriftungen extrahieren" that was introduced with QGIS 3.24](https://www.qgis.org/en/site/forusers/visualchangelog324/index.html#feature-extract-labels-algorithm)  or the integration of this feature in the QGEP export plugin?

[2022-11-28 06:50] urskaufmann commented on #775
As I wrote: the result (orientation=0 when label is long/line is short) is the same, when I use QGIS-Tool Beschriftung extrahieren or when I use the QGEP-Interlis-Export. I think the problem is in the QGIS-Tool.

[2022-11-28 08:15] spch-GL opened #776 "Slope calculation error"
**Describe the bug**
The formula used in the slope calcuation is wrong

**To Reproduce**
The actual formula is : https://github.com/QGEP/datamodel/blob/dcfc70131ad4fa90b99e690b0b59a426fa715f22/view/vw_qgep_reach.py#L45
It is using the `length_effective` which is the actual 3D length.

**Expected behavior**
The formula should use the **projected length** instead. Something like `ST_Length(progressi

[2022-11-28 10:28] sjib commented on #776
So this is the suggestion for the new defintion of _slope_per_mill:
`CASE
          WHEN rp_from.level > 0 AND rp_to.level > 0 THEN round((rp_from.level - rp_to.level)/ST_Length(progression_geometry)*1000,1)
          ELSE NULL
        END AS _slope_per_mill`

- [ ] Does this work if progression _geometry is 2D
- [ ] Does this work if progression_geometry is 3D
- [ ] Is _slope_per_mill used elsewh

[2022-11-28 10:49] spch-GL commented on #776
Thank you for this proposal, but I think that at least Denis Rouzaud can answer your questions about _slope_per_mill. And as I'm not really envolved in QGEP, I prefer not to participate

[2022-11-28 13:08] urskaufmann commented on #775
@m-kuhn @nirvn : the orientation = 0 -problem as described above when using the QGIS-tool "Beschriftung extrahieren" with short lines has to be solved in QGIS Upstream, then it will also be solved in QGEP-text-export.

[2022-11-29 09:45] ponceta opened #778 "postgis upgrade fails due to the presence of st_curvetoline(geometry,integer)"
**Describe the bug**
ST_CURVETOLINE create issue when upgrading postgis version.

**To Reproduce**
Exact steps to reproduce the behavior:
1. At least from postgres 9.6 postgis 2.3
2. ALTER EXTENSION postgis UPDATE TO '2.5.3';
3. or SELECT postgis_extensions_upgrade();
QGEP SIDE :
ERREUR : ERREUR:  n'a pas pu supprimer fonction st_curvetoline(geometry) car d'autres objets en dépendent
DETAIL:  vue